[2022-09-02 21:04] sborrazas commented on #888
@thepiwo not following, what would these two return? all of the key blocks and micro blocks paginated? How do you get a specific key block micro blocks?

[2022-09-11 09:23] thepiwo commented on #888
I mean why `/generations/*` at all, not just `/key-blocks/*` and `/micro-blocks/*`

[2022-09-11 09:23] thepiwo commented on #888
but seems like thats what you have implemented :+1:

[2022-09-13 02:20] jyeshe opened #902 "use `contract` param on all endpoints that filter by contract"
Some endpoints use `contract_id` others `contract`

[2022-09-14 01:16] jyeshe commented on #629
Hi @marc0olo the features from this [list](https://github.com/aeternity/ae_mdw/issues/629#issuecomment-1203660092) are implemented and the README updated accordingly.

[2022-09-24 02:29] jyeshe commented on #308
@marc0olo this would be a good one for hacktoberfast on the Node code as well

[2022-09-24 08:19] marc0olo commented on #308
we can give it a try, sure! though I think there is quite a learning curve to get started. let's see 😄

[2022-09-24 08:20] marc0olo commented on #334
haha, I think that's quite a tough task for #hacktoberfest @jyeshe - you wanna attract people that like the challenge? :)

[2022-09-25 02:21] jyeshe commented on #404
After having last microblock syncing performing without issues, I am closing it as could not be reproduced.

In memory sync prevents it most of the time, during continuous syncing, and syncing from scratch with RocksDB is stable and keeps consistent after last microblock changes.

[2022-09-25 02:21] #404 closed

[2022-09-28 09:59] jyeshe commented on #200
Closing after #918 (demanding Elixir 1.12 for Phoenix 1.6). The docker image improvement will be handled by #195

[2022-09-28 09:59] #200 closed

[2022-09-28 13:27] sborrazas opened #922 "Ability to filter active channels by account,"
The account can either be initiator or responder of the active channels

[2022-09-29 07:48] jyeshe opened #924 "Update oracle expiration afer Oracle.extend internal call"

[2022-09-30 06:20] jyeshe opened #928 "Oracle json serialization fails for 11th `oracle_register_tx`"
Request:
`https://testnet.aeternity.io/mdw/v2/txs?cursor=23701&direction=forward&limit=10&type=oracle_register`

Error:
[code]

[2022-10-04 07:57] #928 closed

[2022-10-04 14:05] jyeshe commented on #924
solved by #933

[2022-10-04 14:05] #924 closed

[2022-10-05 10:27] thepiwo commented on #516
@venimus is there any update on this?

[2022-10-05 10:27] thepiwo commented on #203
@venimus is there an update on this?

[2022-10-10 10:32] sborrazas opened #942 "Allow names filtered by owner to be ordered by expiration"
Right now you get an error back: `invalid query: can't order by expiration when filtering by owner`

[2022-10-10 10:33] marc0olo commented on #942
would be
- https://mainnet.aeternity.io/mdw/v2/names?owned_by=ak_25BWMx4An9mmQJNPSwJisiENek3bAGadze31Eetj4K4JJC8VQN&by=deactivation

I guess, right?

[2022-10-10 10:34] marc0olo commented on #942
wondering a bit about the name change:
- https://github.com/aeternity/ae_mdw/pull/623

[2022-10-10 10:38] sborrazas commented on #942
@marc0olo that's right! It would be deactivation, not expiration

[2022-10-10 10:39] marc0olo commented on #942
ok what's the exact difference between?
- expiration
- deactivation

[2022-10-10 10:51] jyeshe opened #943 "display logs in the same order as they are emitted"
Contract logs are displayed and sorted by contract calls but not by index (the order they were emitted)

Affected versions: since 1.0.0

[2022-10-10 10:55] sborrazas commented on #942
They are both the same, but since we're using the word `activation` for when a name becomes active, we're also using the word `deactivation` when it becomes inactive

[2022-10-10 11:02] marc0olo commented on #942
just for clarification: `activation` comes from the fact that a `NameClaimTx` doesn't immediately activate the name in case of auctions.

personally I still prefer `expiration` over `deactivation` 🤔

[2022-10-10 11:13] marc0olo commented on #942
makes absolute sense, thanks!

[2022-10-11 08:29] jyeshe opened #948 "logs from remote calls are not indexed by remote contract"
Only caller pubkey is being used to index remote call logs.

Affected versions: since 1.19

Test coverage shall be improved for the contract logs write.

[2022-10-12 14:14] #948 closed

[2022-10-13 10:33] sborrazas opened #956 "Add node transaction info to show if was successful or not"
When returning an inner transaction info https://mainnet.aeternity.io/mdw/tx/th_2moRidJvFZweuQpbJXJsFryMPhqHG4rfEk1HWKGwauoHpzQQyw
we're not showing that the transaction itself is an internal transaction from a ga transaction.

This information should also be shown somehow https://mainnet.aeternity.io/v3/transactions/th_2moRidJvFZweuQpbJXJsFryMPhqHG4rfEk1HWKGwauoHpzQQyw/info

The node info is avai

[2022-10-13 22:24] jyeshe commented on #956
Generalizing to `:spend_tx` and other transactions:
https://mainnet.aeternity.io/mdw/v2/txs/th_WED5pREzRCN7ekZMWmxVCJe5z3L7fWadD3Y6EcY35RjZyJWhb

[2022-10-17 17:10] thepiwo commented on #922
@sborrazas do we have an update on this?

[2022-10-17 17:13] thepiwo commented on #881
@sborrazas would you mind having a look at this, maybe this will also be interesting for activities?

[2022-10-17 18:50] thepiwo commented on #629
@jyeshe can you summarize what is left todo in terms of what you would consider final support?

[2022-10-17 18:53] thepiwo commented on #869
@jyeshe can this be closed?

[2022-10-17 18:55] thepiwo commented on #831
I don't feel this belongs in the mdw as the calculation is quite simple it can be handled in frontend, if you disagree and want to discuss further, just reopen

[2022-10-17 18:55] #831 closed

[2022-10-17 18:56] thepiwo commented on #844
@sborrazas this can be closed, right?

[2022-10-17 18:57] thepiwo commented on #808
@sborrazas this should be done, right?

[2022-10-17 18:58] thepiwo commented on #794
@jyeshe @sborrazas is this still problematic?

[2022-10-17 18:58] thepiwo commented on #774
@sborrazas can we close this?

[2022-10-17 19:00] thepiwo commented on #751
@marc0olo sounds good

[2022-10-17 19:00] thepiwo commented on #718
@jyeshe is this still something we need to take care of?

[2022-10-17 19:02] thepiwo commented on #568
closing this, re-checked, the only 400/404 were expired or not in auction names

[2022-10-17 19:02] #568 closed

[2022-10-17 19:03] thepiwo commented on #770
@jyeshe is this still open?

[2022-10-17 19:03] thepiwo commented on #764
lets keep this open as a reminder for v3

[2022-10-17 19:07] marc0olo commented on #844
do we have that now? didn't know that. cool!

[2022-10-17 19:09] marc0olo commented on #844
just in regards to consistency a question as we had that topic also on explorer side:
- is the list displaying unique miners or beneficiaries?

[2022-10-17 19:14] marc0olo commented on #751
cool :)

I think for generalized accounts count we more or less have that already to some extent by calling https://mainnet.aeternity.io/mdw/v2/txs/count?type=ga_attach

but I am actually not sure if this is a reliable number because the `GaAttachTx` could also revert, right? 🤔

anyway, I would consider every valid and successful `GaAttachTx` as active GA. I see no reason to declare them as "passi

[2022-10-17 19:15] sborrazas commented on #881
It appears to be a refund from a non-responded oracle query. The query tx can be found here https://mainnet.aeternity.io/mdw/v2/txs/th_2gWt57ypjWAkWkJEAGueyKkLcpjnmpeRDEHvdAeVNwHoZJ59bu

[2022-10-17 19:15] sborrazas commented on #942
@thepiwo not yet

[2022-10-17 19:25] marc0olo commented on #881
might also be interesting for @seanhinde if not already covered somehow in the rosetta api 😅

[2022-10-17 19:32] marc0olo commented on #629
let's aim to finalize following PRs. it's still kind of a liquid state unfortunately:
- https://github.com/aeternity/AEXs/pull/148
- https://github.com/aeternity/AEXs/pull/149

I think most important is that we clarify if `Mint` event needs to be part of the default interface or not. after discussions with @jyeshe I finally decided to take it out again and provide different events based on the res

[2022-10-18 01:17] jyeshe commented on #718
Maybe only regarding AENS names, @thepiwo , but not to AEX-N anymore. I remember you've mentioned a discussion regarding names that involved also the length, right? Could we leave this limit to the Node? So far couldn't create a name bigger than 70 chars which is already a considerable length for a name.

[2022-10-18 01:30] jyeshe commented on #770
Yes Phillip, it would be an enhancement for v3. Tags added, thanks!

[2022-10-18 04:23] jyeshe commented on #869
We'll be able to close this after the aex9 balance based on events is implemented and opted to replace dry-runs.

[2022-10-18 05:24] jyeshe commented on #629
@thepiwo the mdw would need to be adapted to eventual changes for https://github.com/aeternity/AEXs/pull/148 in order close the issue for NFTs and https://github.com/aeternity/AEXs/pull/149 extensions for semi-fungible and mutable tokens would be tackled on separate issues. Is that fine for you @marc0olo ?

[2022-10-18 05:26] jyeshe commented on #860
Yes @thepiwo, it needs to be analyzed for a possible change in the presence record index.

[2022-10-18 06:37] marc0olo commented on #629
it's fine for me to tackle https://github.com/aeternity/AEXs/pull/149 in a separate issue. but we still have some open topics and also @mradkov jumped in and provided some valuable comments in regards to introducing a max cap on collection level and I am not sure where to put that in.

there might be changes in the mintable extensions in that regards. I don't think it makes sense to introduce that

[2022-10-18 06:59] thepiwo commented on #629
@jyeshe my question was more in line, if we are finish with adaption of the changes, what else is there to do before we can call AEX-141 support "final"?

[2022-10-18 07:24] thepiwo commented on #718
I thought we also fixed the cursor for long names (cc @sborrazas )

[2022-10-18 07:38] janmichek commented on #831
Well, this is really annoying. I have documented several solutions that need to be set on FE to ensure synchronicity.
Could be solved with some simple computation on mdw and release several paint points on FE.
https://aeternity-blockchain.atlassian.net/browse/EX-154

[2022-10-18 09:01] jyeshe commented on #629
For current state of https://github.com/aeternity/AEXs/pull/148 these would be missing:
- handle `Burn` event
- in the future for contract validation, check if `total_supply` matches the amount of minted tokens

[2022-10-18 09:05] thepiwo commented on #629
@jyeshe whats our goal behind all the contract validation? Wouldn't it generally be better to index more lean as long as the information we need to index is correct?

[2022-10-18 09:11] jyeshe commented on #629
That's a good question where would be the boundary between contract validation and contract verification. For the `total_supply` as it's dynamic could be for verification. So for a lean indexation we could care only about with `Burn`.

[2022-10-18 10:03] jyeshe commented on #902
For v3 also Phillip. Added the tags, thanks!

[2022-10-18 10:18] jyeshe commented on #718
For AENs it's pending depending on Node decision.

[2022-10-18 10:23] sborrazas commented on #922
It's done and deployed. Closing

[2022-10-18 10:23] #922 closed

[2022-10-18 10:23] #808 closed

[2022-10-18 10:24] #794 closed, assigned to nobody

[2022-10-18 10:24] sborrazas commented on #774
This was fixed. Closing

[2022-10-18 10:24] #774 closed

[2022-10-18 10:27] sborrazas commented on #844
@marc0olo it's displaying beneficiary accounts on `/v2/minerstats` because the miner account doesn't not itself receive any amount

[2022-10-19 00:45] #956 closed

[2022-10-20 08:21] thepiwo commented on #942
@sborrazas but now it is

[2022-10-20 08:27] thepiwo commented on #870
@sborrazas so we still have this issue?

[2022-10-20 08:30] thepiwo commented on #847
@jyeshe @marc0olo can you update regarding the current state of this, we have agreed on a sorting and can keep this as is, right?

[2022-10-20 08:30] thepiwo commented on #844
@sborrazas closing this, feel free to reopen if we forgot anything

[2022-10-20 08:30] #844 closed

[2022-10-20 08:32] thepiwo commented on #839
just as a reminder, this is the issue to improve dry-running speed in particular, not concerning other optimizations

[2022-10-20 08:32] thepiwo commented on #837
also related to #886 right?

[2022-10-20 08:46] thepiwo commented on #821
@sborrazas maybe lets reiterate this, as I understood, our current implementation gives the peak number at the border between 2 key-blocks.

I'd propose we only consider micro-block timing and included transaction within one key-block. Specifically all transactions between first and last micro-block if > 1. Within micro-blocks the time is under consensus, thus we could achieve some more reliable n

[2022-10-20 08:47] marc0olo commented on #821
I like that proposal! cc @hanssv :-)

[2022-10-20 08:47] thepiwo commented on #770
not a breaking change right, so we could include it in v2?

[2022-10-20 08:48] thepiwo commented on #765
@sborrazas do you still consider this helpful?

[2022-10-20 08:51] thepiwo commented on #758
@janmichek @lukeromanowicz lets find out how we can help you best here, currently we expose certain stats per block, we could expose more stats within this if its helpful. A calculation from key-block to time can be done in both directions by a frontend or simplified backend (for additional filtering/performance)

[2022-10-20 08:53] thepiwo commented on #753
yes, the node doesn't have this information either, we would need to calculate it from target

[2022-10-20 08:55] thepiwo commented on #751
@sborrazas do you have any input on that?

I agree, `GaAttachTx` could revert, but would probably still be included in the count, maybe we can make a `count_ok` or similar.

[2022-10-20 08:59] hanssv commented on #821
Generations shorter than 3 seconds should be very rare, so not including them sounds good. But still, what to present really, really depends on what you want the number to say. With this definition the "optimal" would be key-block > (full) micro-block > (full) micro-block > key-block (where the generation takes 3.001s  😅). That should also be very rare... And it could in theory give a number almos

[2022-10-20 09:00] thepiwo commented on #749
I feel this get way less important when we will be moving more towards tracking events, any thoughts @jyeshe

[2022-10-20 09:01] thepiwo commented on #725
@sborrazas could you maybe summarise with a checklist on what is left to do here? do we want to make another issue for activities per contract + per block or track this in here as well?

[2022-10-20 09:01] thepiwo commented on #516
@venimus is there any update on this?

[2022-10-20 09:04] jyeshe commented on #749
Yes, except for the contract init that is still needed to be async to avoid blocking the txs sync.

[2022-10-20 09:05] thepiwo commented on #498
As discussed we want to remove the deprecated "v1" endpoints, for this we will check usage on the hosted infrastructure to see how widely its still used and coordinate with internal and external teams to move to v2

[2022-10-20 09:05] thepiwo commented on #462
@jyeshe @sborrazas this is done in v2 so we can close here, right?

[2022-10-20 09:06] thepiwo commented on #381
@marc0olo @sborrazas I think this can be closed now, right?

[2022-10-20 09:07] thepiwo commented on #308
@jyeshe you did some additional work on this? Whats the latest state here?

[2022-10-20 09:07] thepiwo commented on #203
@venimus is there an update on this? or maybe @mmpetarpeshev

[2022-10-20 09:08] marc0olo commented on #381
it will pop up again if there is still an issue. would create a new issue then or re-open if necessary. when @sborrazas thinks it can be closed I am fine. no time to check now 😅

[2022-10-20 09:08] thepiwo commented on #196
I think this is out of scope for mdw, you could filter `.test` names by not considering generations that were `.test` only

[2022-10-20 09:08] #196 closed

[2022-10-20 09:09] thepiwo commented on #110
@sborrazas whats the current state of this?

[2022-10-20 09:10] thepiwo commented on #131
@jyeshe @sborrazas  do you have any input on this?

[2022-10-20 09:10] jyeshe commented on #462
Yes it's for any state and sorting.

[2022-10-20 09:10] thepiwo commented on #183
@sborrazas but we didn't to it in v2 right?

[2022-10-20 09:10] #462 closed

[2022-10-20 09:11] thepiwo commented on #180
what are the specific requests here?

[2022-10-20 09:17] thepiwo opened #969 "Index AEX-N primarly using events"
As discussed we want to continuously index by tracking events, rather than dry-runs.

For AEX-9 we would need specifically one dry-run after contract creation as `init` won't give any events in the current implementation. Later account presence changes can be observed using Transfer and Mint Events. For balance updates I think we currently don't actively track them, single account balances could b

[2022-10-20 09:19] thepiwo commented on #749
@jyeshe agree, but usually after init there is not much load on dry-running (except for discussed attack vectors) as init is gas limited, so not high priority

also referencing #969 here

[2022-10-20 09:21] thepiwo commented on #821
@hanssv I agree on different transaction types, that would be something we could tackle in the future eventually

[2022-10-20 09:37] jyeshe commented on #749
On AEX-9 the need for the feature continues the same by any mdw solution to balances. I would like to close this as the event based solution will coexist on at least on one release.

[2022-10-20 10:07] #942 closed

[2022-10-20 10:14] sborrazas commented on #765
Yes, we can still look into doing this optimization for reducing DB size

[2022-10-20 10:14] sborrazas commented on #752
Done indeed

[2022-10-20 10:14] #752 closed

[2022-10-20 10:17] sborrazas commented on #751
Counting GA accounts that way would be an easy feature to incorporate. Counting total node accounts wouldn't be that easy, though

[2022-10-20 10:28] sborrazas commented on #725
@thepiwo I can't think of any other activity type that we're missing. You can already scope the activities by generations and activities per contract would only be `/accounts/{contract_id}/activities`.

If you can think of any other activity type that we're missing we should add it, otherwise, we can probably close this issue

[2022-10-20 10:31] sborrazas commented on #110
@thepiwo this was indeed fixed. Routes are not RESTful and nested correctly

[2022-10-20 10:31] #110 closed

[2022-10-20 10:47] sborrazas commented on #131
@thepiwo we can add a new endpoint `/v2/names/:name/outbids` for this, IIRC we already index the previous bids

[2022-10-20 10:48] sborrazas commented on #183
@thepiwo we didn't do it indeed

[2022-10-20 11:11] marc0olo commented on #131
I think we only need that for the current auction-cycle (simple array) and not historical (array of arrays). an additional filter by account would be cool :)

[2022-10-20 11:18] marc0olo commented on #725
ok sorry, this is about accounts 🤦‍♂️

mhh, can we actually already get what I was talking about for an AENS name?

but from account perspective this is also sth. to consider. somebody might transfer a name to me. I'd want to see that in the activity history

[2022-10-20 11:36] sborrazas commented on #870
@thepiwo yes, we do. Perhaps we can also incorporate raw cowboy/phoenix websockets while we're at it?

[2022-10-20 11:49] jyeshe commented on #448
Closing in favor of increasing CI test coverage extending the `BlockchainSim` as much as needed and using integration ones to complement the coverage.

[2022-10-20 11:49] #448 closed

[2022-10-20 14:54] thepiwo commented on #725
@marc0olo yes I would expect this to be possible with activities, @sborrazas is it?

[2022-10-20 14:56] thepiwo commented on #765
@sborrazas I feel db size is not an issue currently, would it bring any other benefits?

[2022-10-20 15:11] sborrazas commented on #725
Expiration of a name/oracle is not an activity on it's own, but we can definitely create one.

Deactivation is not an activity directly, but since deactivation is caused by a name revoke transaction it is part of the activities indirectly

[2022-10-20 15:12] sborrazas commented on #765
No, it wouldn't. Feel free to close it then

[2022-10-20 15:28] sborrazas commented on #725
For any transfer transaction, there will be an activity for both the name and the recipient of the transfer:

* Tx: https://mainnet.aeternity.io/mdw/v2/txs?type=name_transfer&scope=gen:666075
* gu.chain activities: https://mainnet.aeternity.io/mdw/v2/accounts/nm_2ojeixTRa4hS5BN1QVqBnoq4Yf1tXchjYCpVKPRcixRpK1Ve6c/activities?scope=gen:666075&limit=1
* recipient activities: https://mainnet.aeternity.

[2022-10-20 16:47] davidyuk commented on #180
- try to find a better name for `micro_time` (is it a time in microseconds?)
- consider combining all block-related fields into a single object, i.e. to use nesting in json more actively
- ensure that `block_hash`, `block_height`, `micro_index`, `micro_time` documented somehow

[2022-10-20 20:51] mmpetarpeshev commented on #516
I'm not aware of that project /repo. I will need more context to able to help with something.

[2022-10-21 07:07] thepiwo commented on #516
mostly we are trying to get awareness from @venimus

[2022-10-21 07:13] thepiwo commented on #749
done except for the events adaptation and the total_pending counter that are covered by #969 and #869

(copy pasted from @jyeshe chat)

[2022-10-21 07:13] #749 closed

[2022-10-21 08:45] jyeshe commented on #969
As contract samples after `init` state (on testnet):
`ct_ZwpiXbWme5EC72FCDoAvJMqkuwgGaJkKEyN5VCwewrYoWaTEW`, 3000 account balances, 1.2 second
`ct_HQyn8crD6APzS7VPguNKEdVMYqdupPG95rfQU2a9ztosFLtmh`, 4000 account balances 1.6 second

[2022-10-21 08:50] thepiwo commented on #969
@jyeshe interesting so they created thousands of accounts in contract create?

[2022-10-21 08:52] jyeshe commented on #969
Exactly

[2022-10-21 10:34] jyeshe commented on #770
I would suggest on v3 because changes the behavior to be the opposite introducing a bug in the client apps. It wouldn't break unless the endpoint is monitored to check if the clients are always passing the direction.

[2022-10-21 11:10] jyeshe commented on #969
As discussed we gonna approach the contract `init` state with synchronous calls limiting the dry-run time with the `gas`.

[2022-10-21 11:26] thepiwo commented on #837
closing in favour of #886

[2022-10-21 11:26] #837 closed

[2022-10-21 11:31] thepiwo commented on #869
we will not start work on that for now, when event based handling is done we will re-consider to just close this

[2022-10-21 11:50] thepiwo commented on #770
we discussed to not change default ordering even in future versions of the api, users can always choose the direction explicitly if they wish

[2022-10-21 11:50] #770 closed

[2022-10-21 11:58] thepiwo commented on #755
as discussed this is quite complicated to be implemented, thus we won't consider it until it gains more importance to stakeholders

[2022-10-24 05:19] jyeshe commented on #847
The mdw is not accepting yet any field order, only one as defined in the standard (the other possible records with same fields still invalidate the contracts).

[2022-10-24 14:34] sborrazas opened #973 "Include extra tx information on /txs endpoint"

[2022-10-25 10:15] sborrazas opened #974 "Oracle query created by Oracle.query calls don't have the right query_id"
This is because the node doesn't return the query_id on those transactions, it always uses nonce=0

[2022-10-25 11:08] thepiwo commented on #881
maybe also fixed by #974

[2022-10-25 11:12] thepiwo commented on #751
For GA this is already fixed, for normal accounts its expensive to compute similar to #755

Maybe we can include fixing count per transaction type fix for successful within this. @marc0olo would that be good?

[2022-10-25 11:14] thepiwo commented on #725
@marc0olo @thepiwo let us check if everything is included here that we want to filter

[2022-10-25 11:25] thepiwo opened #975 "implement activities per key/micro-block endpoint"
As discussed lets expose data in a similar format to activities by account.

Lets discuss with stakeholders @marc0olo and explorer team to see if it would be helpful.

[2022-10-25 11:29] thepiwo commented on #131
lets index this per auction, not per name, thus historical data is no additional work

[2022-10-25 11:33] thepiwo commented on #718
names have a maximum length so its not a big issue

[2022-10-25 11:33] #718 closed

[2022-10-25 11:36] thepiwo commented on #629
As long as specification won't change from today to finalisation we can consider it done.

@marc0olo maybe you can check the current endpoints and see if anything is missing for you?

[2022-10-25 11:43] #308 closed, assigned to jyeshe

[2022-10-25 12:57] marc0olo commented on #751
I think it needs to be a separate attribute in the stats endpoint if it's about the GA contract count.

for counting `ga_attach` I would still expect to have a count for all txs, including the failed/reverted txs.

opinions?

[2022-10-25 13:13] sborrazas commented on #751
@marc0olo this information is already exposed in the txs count endpoint filtered by tx_type: https://mainnet.aeternity.io/mdw/v2/txs/count?type=ga_attach

[2022-10-25 13:28] marc0olo commented on #751
yes, I just want to make sure we don't replace that count somehow.

not sure if I understand this question correctly. I think if we add the correct count for GA contracts in the stats endpoint within this I'd be happy =)

[2022-10-25 13:34] janmichek commented on #942
Seems like this is still not avialable. THe error message is the same. Is it released?
https://mainnet.aeternity.io/mdw/v2/names?owned_by=ak_25BWMx4An9mmQJNPSwJisiENek3bAGadze31Eetj4K4JJC8VQN&by=deactivation

[2022-10-26 06:27] thepiwo commented on #942
@janmichek the fix is not released yet, will be ready in the next days

[2022-10-27 08:25] janmichek commented on #973
- [ ] 4 In https://mainnet.aeternity.io/mdw/v2/txs?limit=10&type=oracle_response encode it as Base64 string (not array)

Both `oracle_response` - > `response`
and `oracle_query` -> `query` should have explainable suffix about its format as discussed here https://devchat.aeternity.com/channel/middleware?msg=sfDcMQSxDHtNSxp5o

[2022-10-27 09:03] marc0olo commented on #973
please consider the comment here also:
- https://github.com/aeternity/explorer-frontend/pull/65#pullrequestreview-1156807679

it's the first time we really dig into tx-details 😅

[2022-10-31 07:52] jyeshe opened #984 "Index template NFTs"
This is a class of NFTs that might also be considered semi-fungible but due to their unique token ids and for the sake of communication they are also called NFTs.

Besides tracking the minting of NFTs derived from a template (having the same metadata and therefore the same media), the Mdw will display info about the templates themselves (list of template ids along with the edition limit) according

[2022-10-31 08:03] jyeshe opened #985 "Display NFT contract token and template limits"
Index and expose `mintable_limit` token limit property on `/aex141/:contract_id` according to events defined by https://github.com/aeternity/AEXs/pull/148

[2022-10-31 15:48] sborrazas opened #986 "name pointers with arbitrary binary key is not rendered on names endpoint"
Name pointers will only diplay a single value right now. We should look into why this behaves like this https://github.com/aeternity/ae_mdw/blob/f6f69e3bdf90aa2547746d6e85aed0d3724cb49b/lib/ae_mdw/names.ex#L382

This might have been introduced here https://github.com/aeternity/ae_mdw/commit/ce9293bf582a7e799710f90ca4974f033dc45b84#diff-6509d83849ebb5bd9a1db2a6cf655650104e3f1d93a0a09d4f9a54b93f16ea

[2022-11-01 22:17] sborrazas opened #988 "Include name claim txs when listing name activities"
Right now they are not being listed when listing activities by name hash on the `/accounts/:account/activities` endpoint

[2022-11-02 09:18] marc0olo commented on #988
@sborrazas I provided another comment in the explorer PR - would be awesome to be able to show all the explicit and implicit activities for the name history :)

https://github.com/aeternity/explorer-frontend/pull/87#pullrequestreview-1164730364

[2022-11-02 09:30] marc0olo opened #990 "show explicit transactions only in `/txs` endpoint"
as discussed in chat I propose to at least have the option to only return **explicit** txs of a specific account where the account itself is the actual initiator.

edge case: `PayingForTx` -> if the account is initiator of the inner-tx this should be considered as **explicit** tx

I even think this should be default behavior. but I would also be happy if we just have the possibility to get this vi

[2022-11-03 09:26] jyeshe commented on #986
For names endpoint this is the actual reason 95b2f5af related to the comment:
[code]

[2022-11-04 02:31] jyeshe commented on #986
Already returning pointers on:

- `/v2/txs?type=name_update_tx
- `/v2/names/:name`

Missing for `/v2/names` fixed by #995

[2022-11-04 02:33] jyeshe commented on #986
Already returning pointers on:

- `/v2/txs?type=name_update_tx
- `/v2/names/:name`

Missing for `/v2/names` fixed by #995

[2022-11-04 02:54] jyeshe opened #997 "Add suffix to easily identify base64 fields"
In https://mainnet.aeternity.io/mdw/v2/txs?limit=10&type=oracle_response encode it as Base64 string (not array)

Both `oracle_response` - > `response`
and `oracle_query` -> `query` should have explainable suffix about its format as discussed here https://devchat.aeternity.com/channel/middleware?msg=sfDcMQSxDHtNSxp5o

_Originally posted by @janmichek in https://github.com/aeternity/ae_mdw/issues/97

[2022-11-04 02:55] jyeshe commented on #973
Moved to specific issue as it will need to be fixed on v3

[2022-11-04 08:21] thepiwo commented on #973
adding those shouldn't be a breaking change, so we could have it in v2 as well, right?

[2022-11-04 10:11] thepiwo opened #998 "add new block routes to swagger file"

[2022-11-04 10:39] thepiwo commented on #997
maybe lets better document encoding for v2
for v3 lets discuss more consistent encoding of these cases

[2022-11-04 11:01] sborrazas commented on #974
Fixed by #982

[2022-11-04 11:01] #974 closed

[2022-11-08 02:10] jyeshe commented on #986
It turns out that ce9293b was a revert because the previous commit to it had a rendering issue. Some non account pointer is not rendered properly:
https://testnet.aeternity.art/mdw/v2/txs?type=name_update&direction=forward&limit=20

[2022-11-09 21:56] jyeshe commented on #974
As discussed #982 wouldn't handle the cases where there is another transaction in the same micro-block before the one with "Oracle.query" but it was meant to be a temporary fix and a complete one was already provided by @sborrazas to the Node.

[2022-11-11 06:01] jyeshe opened #1010 "replace riverside with built-in phoenix websocket"
As requested and discussed, riverside library dependency will be removed in favor of Phoenix built-in websocket support.

[2022-11-11 10:08] sborrazas opened #1012 "When listing names, the buyer should also be present for ga_meta"
The buyer of the name is the one that claimed the name last, meaning, the original owner before any transfer

[2022-11-11 10:25] sborrazas opened #1013 "Paginated nested names resources"
Right now name updates, transfers and claims are returned as a nested list on the `/names` and `/names/:name` endpoint. Since there could be a potentially unlimited amount of claims/trasnsfers/updates we should separate these into paginated endpoints: `/names/:name/updates`, `/names/:name/transfers`, `/names/:name/claims`

[2022-11-11 10:42] jyeshe commented on #1012
The account id of a name claim is missing in the `info.ownership.original` for `ga_meta_tx`

[2022-11-11 11:07] marc0olo commented on #1013
@sborrazas not sure yet if we really need that from explorer perspective as we're probably consuming `/activities` endpoint for a specific name id

[2022-11-11 11:08] sborrazas commented on #1013
@marc0olo it's more of a bad practice fix. The fact that the names endpoint returns an unlimited amount of updates/transfers/claims is easily exploitable

[2022-11-12 02:33] jyeshe opened #1015 "Websocket broadcast of ids present on inner transactions"
Currently ids obtained for `ga_meta_tx` and `paying_for_tx` are respectively: `%{ga_id: 1}` and `%{payer_id: 1}`

[2022-11-13 05:00] jyeshe commented on #860
No change on the presence was needed as presence (and balance) is updated on contract call basis. Instead it was used the txi from indexed contract call.

[2022-11-14 07:39] thepiwo commented on #1013
good find

[2022-11-14 08:52] #986 closed

[2022-11-14 10:20] #860 closed

[2022-11-14 10:57] #1012 closed

[2022-11-15 03:55] jyeshe commented on #969
Aex9 contracts with no logs returned by https://testnet.aeternity.art/mdw/v2/contracts/logs?contract=:contract_id

[code]

[2022-11-15 03:56] jyeshe commented on #969
testnet aex9 contracts without logs:
https://testnet.aeternity.art/mdw/v2/contracts/logs?contract=ct_2cYkXZjXcd6qjnoZPPmH4NVpo6FR4PUYmA14mmckg7oUuqhDtj
https://testnet.aeternity.art/mdw/v2/contracts/logs?contract=ct_NfTemzEwdWvLQ2wwjmpJuRjTHdTdqqtcqeVGmY9MhsbJHkk42
https://testnet.aeternity.art/mdw/v2/contracts/logs?contract=ct_2mj7kpXoR36Y2iMrHFcZxww7fyzfmgZHNjqmmGUFoRHseVDgWF
https://testnet.aet

[2022-11-15 06:06] jyeshe commented on #969
testnet aex9 contracts with more new account balances (not present on contract creation) than logs:
https://testnet.aeternity.art/mdw/aex9/balances/gen/584147/ct_JDp175ruWd7mQggeHewSLS1PFXt9AzThCDaFedxon8mF8xTRF
https://testnet.aeternity.art/mdw/aex9/balances/gen/689551/ct_JDp175ruWd7mQggeHewSLS1PFXt9AzThCDaFedxon8mF8xTRF
https://testnet.aeternity.art/mdw/v2/contracts/logs?contract=ct_JDp175ruWd7m

[2022-11-15 06:15] jyeshe commented on #969
testnet aex9 contract with more new account balances (not present on contract creation) than logs:
https://testnet.aeternity.art/mdw/aex9/balances/gen/269166/ct_2ftFoWeniE5Rgy6XwarqzW1F9Y8Pbwm9K6UmyXMQ1v1dPVxSHt
https://testnet.aeternity.art/mdw/aex9/balances/gen/689551/ct_2ftFoWeniE5Rgy6XwarqzW1F9Y8Pbwm9K6UmyXMQ1v1dPVxSHt
https://testnet.aeternity.art/mdw/v2/contracts/logs?contract=ct_2ftFoWeniE5

[2022-11-15 08:05] thepiwo commented on #969
but for contract creation we still want to dry run due to the issues with AEX-9 reference implementation

[2022-11-15 11:06] jyeshe commented on #969
These are contracts on similar situation where the event balance is missing but there are no event logs to sustain amount on the contract balances. The difference here is that there are some event logs but no aex9 event involving these accounts:
[code]

[2022-11-15 15:30] janmichek opened #1018 "Replace `expand=true`"
We are using `expand=true`
On 3 places

1. https://github.com/aeternity/explorer-frontend/blob/7caf97828de582567aaff6a4000254ff4d2b0623/src/stores/names.js#L51
to display fees
https://master-explorer-frontend.prd.aepps.com/names?type=active

2. https://github.com/aeternity/explorer-frontend/blob/7caf97828de582567aaff6a4000254ff4d2b0623/src/stores/names.js#L65
to display fees
https://master-explore

[2022-11-15 15:47] thepiwo commented on #1018
Can you elaborate to replace with what?

[2022-11-15 15:50] janmichek commented on #1018
I don't have a strong preference.
The info I got, is that this will be deprecated and I should write down places in Explorer where we are using it.

[2022-11-15 15:50] thepiwo commented on #969
summarising we are are all good with our new solution?

[2022-11-15 15:51] janmichek commented on #1018
To get those fees values from a response even without `expand=true` ?

[2022-11-15 15:54] thepiwo commented on #1018
@sborrazas @jyeshe is there significant overhead in adding those in terms of calculation effort?

[2022-11-15 16:05] marc0olo commented on #1018
is it only about the "buy price" then, right?

[2022-11-15 16:11] sborrazas commented on #1018
The `expand=true` is being used on these three places:
- On the names nested list of claims/updates/transfers and on the revoke txi. When true, it turns the txis into a transaction object. Having these nested resources on separate endpoints (except on the revoke which is just one) we can always include the tx info without the need for `expand=true`.
- Same thing as before, but with nested oracle l

[2022-11-15 17:42] thepiwo commented on #1018
but its a breaking change to change default behaviour, so why is it a problem to currently use `expand=true`?

[2022-11-15 17:44] sborrazas commented on #1018
@thepiwo yes, it would indeed be a breaking change. The advice on not using `expand=true` is because on the next versions most of the data obtained there will be removed

[2022-11-16 02:19] jyeshe commented on #969
There are two different results for event and dry-run balances:
a) missing contract account balance
b) different amount for contract account balance

These above were all contracts for which there is at least one event balance missing (a) due to lack of an event related to the account with missing balance.
[code]
This one for having no log:
https://testnet.aeternity.art/mdw/v2/contracts/logs?contr

[2022-11-16 07:50] jyeshe commented on #969
For both `ct_bVg6KvgniPBuE8N5KmjvhH4P23kkFGJe1yqiadxLgtyLEYmtL` accounts there is a transfer event that changes the balance so even though the balance is not the one stored in the contract it's correct according to the contract creation and event amounts.

For `ct_2scZsZ2Us2iaRTox4kRUezBiE8C97ZeXedM1mXne6TeFuN5bt2` there is an event on contract creation that was computed but should not. Fixed by:

[2022-11-16 08:01] jyeshe commented on #969
@thepiwo after #1020 to close the issue it will be pending the improvement on contract creation dry-run error handling (for a first version it depends on a dry-run with small timeout that might fail and this timeout cannot be increased with the risk of blocking the syncing of all other transactions).

[2022-11-16 08:20] thepiwo commented on #969
Thanks for the thorough investigation, first of all very nice that we just have these few we are unsure about and I guess we will find some logical explaination

[2022-11-17 12:55] sborrazas opened #1024 "Include more information on AExN activities"
The data should match the data returned on the AExN endpoints

[2022-11-18 22:51] #869 closed

[2022-11-20 07:07] davidyuk opened #1028 "Response code 400 instead of 404"
[code]

400 code looks correct but more accurate would be to return 404 code

[2022-11-20 07:28] davidyuk opened #1029 "`{direction}` is missed in a path of `get_txs_by_direction` method of swagger file"
If the path named just `/txs` instead of `/txs/{direction}` then `swagger-client` omits `direction` parameter.

[2022-11-20 07:33] davidyuk commented on #674
The parts of this issue should fix ability to make requests to middleware through https://validator.swagger.io/. Currently it fails requesting something like http://testnet.aeternity.io/txs?account=ak_g5vQK6beY3vsTJHH7KBusesyzq9WMdEYorF8VyvZURXTjLnxT that misses https, `mdw` part, and direction. I'm providing https://testnet.aeternity.io/mdw/swagger/swagger.json at the top.

[2022-11-21 12:38] thepiwo commented on #674
/mdw is not part of the path that middleware provides, it's added by the SRE team in their deployment

[2022-11-21 12:49] thepiwo commented on #1029
can you provide a PR maybe? Generally I guess its easier for these small docs only changes. But I think we made a bunch of changes from 1.28.1 to 1.29.1 already, maybe you are accessing the old version still? (1.29.1 is not deployed to prod yet)

[2022-11-21 16:04] sborrazas opened #1031 "Include as much information on websocket tx data structure as the /txs endpoint"

[2022-11-21 16:08] thepiwo commented on #1031
As we have discussed over the past days as well, maybe we can unify in the future to find one structure for each "entity" and always return that to be more consistent.

I think as devs of that api we are aware of how this came to be, but for consumers this can be painful

[2022-11-21 16:21] michele-franchi opened #1032 "Add missing transaction details data for channels"
Currently not all transactions data is returned from `/v2/txs/:transactionId` endpoint.

It would be useful to include the following data for these "Channel" transactions types to have a more detailed overview of these transaction types:

ChannelCreateTx:
- Sent by

ChannelCloseMutualTx:
- Responder
- Initiator

ChannelCloseSoloTx:
- Round
- Initiator
- Initiator amount
- Responder
- Responder amo

[2022-11-22 00:53] jyeshe commented on #1031
The source is already provided by `encode_msg`:
https://github.com/aeternity/ae_mdw/blob/4b69441dfeb5425ec63bef8e63d1c44dfa90fd42/lib/ae_mdw_web/websocket/broadcaster.ex#L186-L187

[2022-11-22 00:55] jyeshe commented on #1031
The source (`mdw` or `node`) is already provided by `encode_msg`:
https://github.com/aeternity/ae_mdw/blob/4b69441dfeb5425ec63bef8e63d1c44dfa90fd42/lib/ae_mdw_web/websocket/broadcaster.ex#L186-L187

[2022-11-22 02:35] jyeshe commented on #1031
Regarding websockets this is done here in terms of synching time (when node or mdw has synced) but all data is serialized by the Node:
https://github.com/aeternity/ae_mdw/blob/4b69441dfeb5425ec63bef8e63d1c44dfa90fd42/lib/ae_mdw_web/websocket/broadcaster.ex#L186-L187

[2022-11-22 02:37] jyeshe commented on #1031
Regarding websockets this is done here in terms of synching time (when node or mdw has synced) but all data is serialized by the Node:
https://github.com/aeternity/ae_mdw/blob/4b69441dfeb5425ec63bef8e63d1c44dfa90fd42/lib/ae_mdw_web/websocket/broadcaster.ex#L186-L187
https://github.com/aeternity/ae_mdw/blob/4b69441dfeb5425ec63bef8e63d1c44dfa90fd42/lib/ae_mdw_web/websocket/broadcaster.ex#L167-L168

[2022-11-22 03:29] jyeshe opened #1033 "Unlimited websockets subscriptions per client"
@thepiwo as requested the limit control on the amount of subscriptions per socket was removed from #1030 (0f9e1888) and postponed until having a better observability on how it would affect client apps.

It will need to be tackled somehow another time since the lack of this feature allows a memory usage exploit (subscriptions objects are kept in memory).

For the moment on AWS API Gateway there is

[2022-11-22 05:25] jyeshe commented on #969
Yes, I was surprised with so many compliant contracts (with real balances matching event balances).
For this contract there is some discrepancy. Multiple transfer events and remote call events are handled by current implementation (both using a different log index for each event). Pushed now more thorough test coverage though.

[2022-11-22 08:06] thepiwo commented on #969
awesome, thanks for the feedback!

[2022-11-22 10:08] sborrazas commented on #1031
Would we be able to serialize that data ourselves and include the additional information that the node doesn't include?

[2022-11-22 11:06] #1010 closed

[2022-11-22 22:45] FerumFlex opened #1035 "500 error on contract logs"
You can check this error is live
https://testnet.aeternity.io/mdw/v2/contracts/logs?direction=backward&contract_id=ct_9rPBQUmEsCoBWpSSU2dWB2qAYA9u71AcjY5vDoziS14LTtd7Z
just copy response incase it will be fixed

[code]

Steps to reproduce:
1. hard to say, it seems it appears when I emit event `SwapSigned(hash, bytes(65))` from contract.

[2022-11-23 07:11] thepiwo commented on #1035
Thanks for your feedback, this issue is still present in the current master branch, I'll coordinate with the team to get this fixed asap.

[2022-11-23 08:47] thepiwo commented on #1035
@FerumFlex the fix as proposed will encode `bytes` as base64

[2022-11-23 10:28] FerumFlex commented on #1035
probably it is a good one)

[2022-11-24 01:16] #1035 closed

[2022-11-24 06:48] jyeshe commented on #985
`mintable_template_limit` are also contract level and will be exposed likewise.

[2022-11-24 14:09] thepiwo commented on #1035
@FerumFlex I will ping here when it's been deployed to production

[2022-11-28 02:35] #985 closed

[2022-11-28 15:22] jyeshe commented on #973
the encoding was handled on v2 and the field name or tag would be on v3

[2022-11-30 12:37] thepiwo commented on #1035
the fix is now deployed to production

[2022-11-30 13:15] #984 closed