[2020-03-09 11:03] skkw opened #1 "lazy stream of transactions with filters"
We need to avoid selections of transactions in full and provide methods to fetch transactions according to filters (tx_type, object involved (account, channel, name...)) in a lazy, streaming fashion.

(For example, some accounts have more than 1 million transactions, selecting them in one go could cause availability issues.)

Since mnesia can't select with continuations in reversed order, we need

[2020-03-09 11:12] skkw opened #2 "support for names, pointers, auctions, bids"
We need several mappings and logic how to maintain the information there correct:

* active auctions (supporting sort by name, max bid, expiration height)
* plain name -> name hash
* name pointers -> plain name
* account -> name auction bids
* plain name -> bids

[2020-03-09 11:23] skkw opened #3 "updating of MDW tables with fork detection"
Due to Bitcoin-NG finality, we can update MDW tables via `top_changed` event, only to find out later the information already put in is incorrect as we were in the "fork".

This then requires removing the information from DB from specific height and insert new set of information to keep the tables correct.

[2020-03-09 11:40] grw-rs opened #4 "adapt Aeternal frontend to work with Phoenix, add routers and controllers"
We need to reuse frontend for original Aeternal middleware here: https://github.com/aeternity/aeternal/tree/develop/frontend

and make it run under Phoenix.

[2020-03-09 11:42] skkw opened #5 "subscriptions over web socket"
For external sites detecting changes of balances on particular accounts (e.g. Air Gap) we need to support subscriptions to events related to particular object (account, channel, ...).

[2020-03-23 15:32] #4 closed, assigned to DanielaIvanova

[2020-03-23 15:35] DanielaIvanova opened #11 "Track peer IP and web browser"

[2020-03-24 09:01] DanielaIvanova opened #12 "Continuation management"
ets table, continuation lookup, purging old continuations

[2020-03-24 12:47] #11 closed, assigned to DanielaIvanova

[2020-03-30 13:16] #12 closed

[2020-04-06 12:54] skkw opened #19 "remove Node.js, usability without JS enabled"
For events via websocket, JS would still be needed.

[2020-04-06 12:56] skkw opened #20 "add OpenAPI spec"
Alternative would be Swagger.

[2020-04-16 09:49] mradkov opened #24 "Expose Chain.spend tx"
Receive tokens transactions originating from `Chain.spend()` are not indexed as inbound transactions for accounts.

E.g.
Alice (ak_123)
Bob (ak_456)

Flow:
Alice (ak_123) -> [contractCall tx] -> Contract method -> Chain.spend(ak_456)

Bob does receive the tokens but the middleware is not indexing this so the outcome is -> balance in the account without history where it came from.

[2020-05-06 14:38] tolbrino opened #29 "Implement and document release builds"
This is needed for deployment of the middle-ware.

Reference: https://hexdocs.pm/mix/Mix.Tasks.Release.html

[2020-05-07 19:28] DanielaIvanova opened #31 "Adjust README.md"

[2020-05-14 08:29] #31 closed

[2020-05-14 08:32] skkw commented on #19
This was implemented without any work by dropping the compatibility requirement.

[2020-05-14 08:32] #19 closed

[2020-05-14 08:33] skkw opened #33 "continuations without session id"
We need to pass the link for fetching next page as part of the response.

[2020-05-15 08:47] #1 closed

[2020-05-15 08:47] #33 closed

[2020-05-15 08:59] skkw commented on #3
fixed already in the past

[2020-05-15 08:59] #3 closed

[2020-05-15 11:20] #5 closed

[2020-05-20 10:11] DanielaIvanova opened #36 "Add websocket tests"

[2020-05-22 10:07] #36 closed

[2020-05-29 12:15] DanielaIvanova opened #38 "Project restructuring"
Remove HTML and related files. Project structure refactoring, as the project now is only responds with JSON.

[2020-05-30 23:27] kryztoval opened #40 "decoding of bs_ does not remove the checksum"
The bs_ decode function is not removing the 4 bytes at the end of the string that are used as a checksum, those should not be displayed

For example in this transaction:
https://explorer.aeternity.io/transactions/th_2sRCaRst2jDZ2v9ChcSFsFavJQQNaDfkyoTeUksG9EMjGNQe4B

there are 4 garbage characters at the end, those are the checksum, those are removed properly by Aeknow and my middleware.

aeknow:

[2020-06-01 07:52] #38 closed

[2020-06-05 13:56] marc0olo commented on #24
@mradkov @skkw what's the state in that regards? can we also cover the name_id resolution here?

we should also be able to list the SpendTx an account with a **_pointer at a certain point of time_** received. there could also the the following scenario:
[code]

so we have different transactions for the same name_id and in each transaction there is a different recipient. we also need to be able to

[2020-06-05 14:01] marc0olo commented on #2
waiting for that one =)

[2020-06-05 14:06] skkw commented on #24
`Chain.spend` in contracts, and generally any calls in contracts needs to be implemented in AE node itself - at the FATE interpreter level.
Once/if node generates such information, the MDW - layer on top of AE node, can index that...

The naming system/auctions - I just started looking into this...
Pointers & name resolution - it should be doable to have convenient support in this are in 3-4 weeks

[2020-06-05 14:07] marc0olo commented on #40
@skkw is this still the case? I think @kryztoval is referring to the old middleware because this middleware isn't live yet, right?

[2020-06-05 14:13] marc0olo commented on #24
ok, then I am looking forward to see that implemented in the node :-)

[2020-06-05 14:13] marc0olo commented on #2
please make sure I (if possible) to cover the scenario mentioned here: https://github.com/aeternity/ae_mdw/issues/24#issuecomment-639497603

[2020-06-06 03:14] kryztoval commented on #40
I am referring to the one that is live right now in the address I posted

I thought this was the place that hosted the currently posted version

[2020-06-12 07:20] skkw commented on #40
This is legacy middleware issue.

Lets keep this open for now so we can verify it's not happening in new MDW as well...

[2020-06-12 07:25] #20 closed

[2020-06-12 14:41] DanielaIvanova opened #48 "Add tests"

[2020-06-29 08:18] #48 closed

[2020-07-02 11:20] DanielaIvanova opened #50 "Performance tests"

[2020-07-16 11:59] #50 closed

[2020-07-28 08:10] skkw commented on #2
Expanding this ticket to describe the needed work.

Work so far in this area resulted in functional prototype, majority from this work will be used in another iteration, especially:
- gaining knowledge how NS work in AE node
- designing API endpoints
- some part of codebase related to syncing, formatting

However, the result now isn't in final shape, and some design decisions need to be changed:
-

[2020-07-28 11:03] stanislav-slavov opened #54 "Enable CORS requests"
Running a local front-end project and using the existing endpoints leads to CORS error on the client side.

I guess we should enable cross-origin requests.

[2020-07-29 11:41] stanislav-slavov opened #55 "Get transaction by hash returns Internal Server Error"
Go to:
https://mainnet.aeternity.io/mdw/tx/th_zATv7B4RHS45GamShnWgjkvcrQfZUWQkZ8gk1RD4m2uWLJKnq

[2020-08-06 13:10] stanislav-slavov opened #56 "Needed data for a correct UI visualization"
**Oracles:**

- A way to retrieve all active Oracles

- expiration_date field is required data for the end user

-
<img width="972" alt="Screenshot 2020-08-06 at 15 59 17" src="https://user-images.githubusercontent.com/7085525/89534641-f11b0900-d7fd-11ea-8261-9b268602b8ec.png">

In order to display query and response data for a specific query_id we have to combine oracle_query + oracle_response en

[2020-08-27 12:32] skkw commented on #55
This is fixed now, new version will be deployed shorty:

[code]

[2020-08-27 12:32] #55 closed

[2020-08-27 12:33] skkw commented on #2
Fixed in new version.

[2020-08-27 12:33] #2 closed

[2020-09-03 11:57] DanielaIvanova opened #75 "Add swagger specs for block/blocki/blocks endpoints"

[2020-09-03 12:07] #75 closed

[2020-09-04 11:48] DanielaIvanova opened #77 "Extend the performance tests with name and block endpoints"

[2020-09-08 11:48] #77 closed

[2020-09-09 18:14] DanielaIvanova opened #80 "Describe the models for the responses in the swagger spec"

[2020-09-16 11:22] #80 closed

[2020-09-21 07:21] DanielaIvanova opened #85 "Add swagger specs for oracles and names owned by endpoints"

[2020-09-21 07:47] thepiwo commented on #56
can be fetched from the node directly

[2020-09-23 17:00] #85 closed

[2020-10-22 10:25] mradkov opened #98 "add swagger route to http-endpoints section"

[2020-10-27 09:32] skkw commented on #56
This support should now be implemented.

* all active oracles - via `/oracles/active` endpoint

* expiration_date - we can't use real world dates, be we have `expiration_height` in the reply:
[code]
That could be used for approximation of real date...

* channels - this support wasn't implemented as per Yani's wishes... new frontend should have the link to Channels removed

* generations - impleme

[2020-10-27 09:32] #56 closed

[2020-11-10 08:22] davidyuk commented on #24
There is the same issue with tips claimed through a contract. It is a bit tricky to merge two lists (from the middleware and our backend) on the client-side to show the transaction list.

[2020-11-10 09:58] marc0olo commented on #24
@skkw This feature is merged now in the node, right?

[2020-11-10 11:49] davidyuk opened #102 "Deploy middleware frontend somewhere"
Would be nice to have a frontend that works with the new middleware. As I know, https://mainnet.aeternal.io/ is connected to the old one so I'm expecting some inconsistencies there.

[2020-11-10 11:53] davidyuk opened #103 "Should continuation URLs be a preferred way of pagination?"
As I got from the documentation, they exist and can be used instead of increasing the `page` parameter, but it is unclear which way should be used and why as far as both of them look working. Would be nice to update the docs with this info as well.

[2020-11-10 12:19] davidyuk opened #104 "On what DOS protection is based?"
I'm trying to reproduce one issue, but don't know how to reset the DOS state of the node on mainnet.aeternity.io. Is it based on some cookies, IP addresses, or the internal middleware state? Would be nice to update the docs with this info as well.

[2020-11-10 12:32] davidyuk opened #105 "`txs/backward` endpoint returns empty array instead of the actual data"
In some cases `txs/backward` endpoint returns the empty data array instead of the actual data.

[code]

So, for the third page, the first time middleware has returned the empty array and the second time the actual data.

Can it be a load balancer issue?

[2020-11-10 16:39] davidyuk opened #106 "The edge cases of DOS protection"
### The previously fetched pages are preserved by the aepp and it requests future pages from the middle

Currently, in the superhero wallet, we are preserving the user's balance to speed up the initial load. We may want to do the same with transactions, in that case, the wallet will fetch transaction not from the first page, but from the last fetched. As I understand the current implementation of

[2020-11-17 06:02] davidyuk opened #108 "Name swagger file consistent with Aeternity node"
The aeternity node's swagger file named `/api`, but the middleware's swagger file for some reason has path `/swagger/swagger.json`. Proposing to put it to the same place as the node's swagger file for consistency.

https://mainnet.aeternity.io/api
https://mainnet.aeternity.io/mdw/swagger/swagger.json

Also, the same naming using the compiler and the old middleware:
https://compiler.aepps.com/api
h

[2020-11-17 06:46] davidyuk opened #109 "Make names endpoint consistent named with Aeternity node"
Both middleware and aeternity node has an endpoint that returns name details by name, for example:

https://mainnet.aeternity.io/v2/names/davidyuk.chain
https://mainnet.aeternity.io/mdw/name/davidyuk.chain

The inconsistency is that "name" in plural form in the first case.  For me, the node's naming looks more traditional. Also, a similar case I have googled:

There are good arguments on both side

[2020-11-17 07:05] davidyuk opened #110 "Fix order in the path of get_pointers_by_id endpoint"
https://mainnet.aeternity.io/mdw/name/pointers/davidyuk.chain

This endpoint returns a list of pointers of a name. From my perspective, these pointers are a part of the name record. The name record is returned by the `/name/<id>` endpoint, so it's pointers would be more reasonable to return by the `/name/<id>/pointers` path. In the Aeternity node, the similarly named paths are:
- /micro-blocks/has

[2020-11-28 11:18] marc0olo opened #111 "Response code 400 for "name not found" - expected 404"
When trying to receive an information for a name that isn't known yet we receive status-code 400 (bad request). That should be changed to 404 in my opinion.

[2020-12-01 05:12] davidyuk opened #112 "Consistent naming of block fields in the transaction list"
https://mainnet.aeternity.io/mdw/txs/backward?account=ak_gvxNbZf5CuxYVfcUFoKAP4geZatWaC2Yy4jpx5vZoCKank4Gc&limit=1&page=1
[code]

As I understand, `micro_time` related to the micro block with a hash mentioned in `block_hash`. Would be nice to name it better, like `block_time` (to be more consistent) or even `micro_block_time` (to be more precise).

Also, `block_hash`, `block_height`, and `micro_ti

[2020-12-02 01:00] marc0olo opened #114 "case sensitive AENS names"
Currently it seems like the mdw handles AENS names case sensitive. This needs to be fixed.

**Query Microsoft.chain**
`https://mainnet.aeternity.io/mdw/name/Microsoft.chain`

**Response Microsoft.chain**
[code]

**Query microsoft.chain**
`https://mainnet.aeternity.io/mdw/name/microsoft.chain`

**Response microsoft.chain**
[code]

[2020-12-02 01:03] marc0olo opened #115 "sort names by activation to show recently claimed names"
**Actual**
Currently we can sort active names by `name` or `expiration`.

**Desired**
We also need to be able to sort by `activation` so that we can show the recently claimed names.

[2020-12-02 01:10] marc0olo opened #116 "search for names"
**Past implementation**
We were able to perform a search for names.

**Current state**
We can only query by exact name using `/name/:id`
- btw. I need to mention that I personally would expect `/names` instead of `name` here

**Request**
It would be great for us to be able to search for names, e.g. by adding a query param `/names?query=marc` or `/names?search=marc`

[2020-12-11 17:10] marc0olo opened #119 "name shows wrong status when it is expired and has a running auction"
@skkw it seems like the middleware currently returns an active auction for `Dashu.chain`  when requesting all auctions. but when calling the `name` endpoint we get the status `name` for `Dashu.chain` instead of `auction`:

[code]

[2020-12-11 18:49] skkw commented on #119
Hi @marc0olo,

  this is intended behavior, as expired name can be in auction again.
But until the end of the auction it's not active and isn't resolvable - reason why "active" is false.

[2020-12-11 18:55] marc0olo commented on #119
@skkw it is in auction again. I am not talking about the attribute `active`. it is the `status` attribute which is wrong.

the **status** is `name` instead of `auction`.

[2020-12-11 20:29] skkw commented on #119
Ok, I see now.

[2020-12-13 17:03] marc0olo opened #121 "cannot run docker image?!"
Hi @Artur64,

it seems like I am not able to get the docker image running. Neither by running it directly, nor by running the docker-compose included in the repository.

I always get the following error:
[code]

Besides that I am wondering what's included in the image of the middleware. Does it contain the **node**, the **middleware** and the **frontend** of the middleware? Or "just" the node and

[2020-12-13 17:29] marc0olo commented on #121
ok nevermind about the error. it was due to the windows lineendings in the  `entrypoints.sh`. after changing it works as expected.

following questions remain:
- is the frontend being built in the same image and is it also being started with the entrypoint script?
- is it possible to configure the image to run against an outside (already running) node?

[2020-12-14 08:45] Artur64 commented on #121
Hi @marc0olo ,
So, just to give you overall understanding of current docker setup - it runs our own middleware backend which first [compiles](https://github.com/aeternity/ae_mdw/blob/master/Dockerfile#L48) backend, then compiles frontend while building image and then just [runs phoenix](https://github.com/aeternity/ae_mdw/blob/master/docker/entrypoint.sh#L3), which then [serves compiled js files](

[2020-12-14 09:11] marc0olo commented on #121
Hi @Artur64,

thanks for giving me that short briefing. I understand that the middleware can be used as a plugin to the aeternity node. But from my interpretation the current docker image runs the aeternity node including the middleware as plugin, right?

I personally don't need a frontend so from my perspective the frontend could be dropped. Although I am wondering on what port this is served whe

[2020-12-15 07:43] Artur64 commented on #121
Hey @marc0olo , if you want you can just start middleware image with the **database** you already have(which is produced by `aeternity` node) - here is [a link](https://github.com/aeternity/ae_mdw#docker-configuration) in documentation which mentions this possibility.

Middleware starts some components of aeternity node inside, that's why it depends on [aeternity node's directory to be set correct

[2020-12-15 13:59] marc0olo commented on #121
Hi @Artur64, I am not sure whether we are talking about the same thing. I assume that the middleware needs the node dependency on compile time and I try to be more specific in my question:
- can I create a docker image of the middleware that only uses the node for compilation (e.g. by using multi-stage build via `AS builder`) and doesn't include the node in the image?
   - I am asking because I wa

[2020-12-16 09:17] marc0olo commented on #121
@Artur64 ok I had a chat with piwo and from my understanding it is not possible to run the middleware and the aeternity node in 2 different containers. so it always has to be packed in 1 image.

you can close the ticket if this is right. sorry for the trouble! :D

[2020-12-18 11:14] marc0olo opened #122 "hardfork detection based on node configuration in aeternity.yaml"
currently the middleware only supports the [default networks](https://github.com/aeternity/aeternity/blob/master/apps/aecore/src/aec_hard_forks.erl#L94) for hardfork detection.

it would be good if the middleware could detect the network and extract the hardfork height(s) based on the configuration in the `aeternity.yaml`.

cc: @skkw

[2020-12-29 15:17] marc0olo commented on #121
@Artur64 @skkw ok I got it working now with my own docker-compose setup. the `aeternity.yaml` and the keys folder need to be placed in `/home/aeternity/node/local/rel/aeternity`. unfortunately the middleware can only be started when the node is running with `ae_uat` or  `ae_mainnet` which means I cannot configure the fork heights.

I already opened an issue for that => #122

[2020-12-29 15:56] marc0olo commented on #122
@skkw it seems like I am also able to use the networks for local testing:
- `local_roma_testnet`
- `local_minerva_testnet`
- `local_fortuna_testnet`
- `local_iris_testnet`

unfortunately an explicit network for **Lima** is missing. would it be possible to add this in the upcoming release 5.6 of the node? then this would be sufficient for me to perform a local integration testing with the middlewar

[2020-12-29 16:23] velzevur commented on #122
@marc0olo the upcoming release 5.6 will have the missing `local_lima_testnet`. This is orthogonal to this issue regarding the MDW being hard fork aware.

[2020-12-30 13:58] marc0olo opened #123 "runtime error when calling /status endpoint"
I am facing a runtime error when calling `/status` on a virgin node that has no transactions in the database:

[code]

[2020-12-30 16:56] marc0olo opened #124 "expose statistics"
I think it would be nice if the middleware would expose statistics:
- active nodes/peers count
- active names count
- active auctions count
- active oracles count
- active contracts count
- active accounts count
- generalized accounts count
- transaction count (filterable by type and/or account)
- current block reward
- current BRI reward per block
- total miners
- total mining rewards
- total rew

[2020-12-30 18:07] marc0olo opened #125 "active auction is not being listed"
I am currently running the middleware locally for integration testing using the network id `local_iris_network`. it seems like active auctions are not being displayed.

what can be the reason? the `/status` endpoint tells me that the middleware is in sync

is this a bug?

[2020-12-31 15:26] marc0olo commented on #125
it seems like the middleware doesn't detect the auction correctly and instead sets the name immediately to `"active":true` and `"status":name`

[2020-12-31 15:55] marc0olo commented on #111
this is the case for both:
- `/name/{id}`
- `/name/auction/{id}`

[2021-01-11 10:29] mradkov opened #127 "502 on all requests on the hosted ae_mdw"
<img width="846" alt="3e8cefc4-48ba-408a-9f64-ddbe294da4eb" src="https://user-images.githubusercontent.com/13139371/104169728-adf63f00-5408-11eb-9fa6-cbba6b46639e.png">

[2021-01-11 10:53] mradkov commented on #127
Resolved.

[2021-01-11 10:53] #127 closed

[2021-01-16 14:03] marc0olo opened #129 "ae_mdw releases / tags"
@skkw when will you start publishing releases? I want to create a setup that builds the aeternity image (node + middleware) by providing respective release numbers.

currently I need to rely on the master branch of the middleware which I want to avoid if possible

[2021-01-21 10:21] marc0olo opened #131 "endpoint to receive outbid auctions of an account"
In our application we want to display active auctions for account where they are participating but got outbid by some other account.

Currently there is `GET  /names/owned_by/:id` which shows the current top bids and the current names owned per account.

I propose to add a separate endpoint `GET /names/outbid/:id` which returns this information.

[2021-01-21 11:34] skkw commented on #129
We now have the first release - 1.0.0. and plan to stick with producing releases anytime it makes sense.

[2021-01-21 11:34] #129 closed

[2021-01-21 12:15] marc0olo commented on #129
thanks! 👍  would also be great if you can provide release notes for the future releases

[2021-02-16 12:44] kenodressel opened #139 "websocket idle timeout"
Expected behavior:
- the client opens a websocket
- the client sends an subscribe command
- the client should receive updates as long as no close command is send

Actual behavior
- the client opens a websocket
- the client sends an subscribe command
- No event happens for 60 seconds
- The connection is closed by the middlware

[2021-02-16 18:10] gorbak25 commented on #24
@skkw What's the status on persisting the events exposed by the node?

[2021-02-19 04:50] davidyuk opened #140 "What frontend is build for this middleware?"
The one from the `frontend` folder or https://github.com/aeternity/mdw-frontend?

`frontend` folder looks outdated, can we remove it and use mdw-frontend instead? Maybe as a git submodule?

[2021-02-19 05:35] marc0olo commented on #140
I am wondering why a frontend is included in this repository at all. For the build of our Dockerimage I am only compiling the backend part.

I'd like to see that separated. Might confuse people looking into the repository.

[2021-02-23 16:08] mradkov commented on #140
https://github.com/aeternity/mdw-frontend

This is the one which is being updated to the latest changes of mdw.

[2021-03-09 14:21] #123 closed

[2021-03-10 13:18] marc0olo commented on #114
is this closed via #149?

[2021-03-10 13:35] wj2016 commented on #139
Hi @kenodressel , thanks for raising the issue.

[This configuration](https://github.com/aeternity/ae_mdw/blob/master/config/config.exs#L39) should keep all websocket connections open forever. This configuration was set last April, so it should be included on all major servers already. I did some testing on main and test mdw servers. They both work as expected.

I will just close this issue now, b

[2021-03-10 13:35] #139 closed

[2021-03-11 14:28] #111 closed

[2021-03-22 22:08] marc0olo opened #153 "sync with huge delay"
somehow there seems to be a huge delay in syncing with the node. in this example the middleware was 3 keyblocks behind:

[code]

is this a known issue or is this just related to the current deployment? I see that `v1.0.3` is already released. wondering why it isn't deployed yet.

[2021-03-25 13:21] skkw commented on #119
This is fixed in https://github.com/aeternity/ae_mdw/releases/tag/1.0.4

[2021-03-25 13:21] #119 closed

[2021-03-25 13:22] skkw commented on #114
Fixed in https://github.com/aeternity/ae_mdw/releases/tag/1.0.4

[2021-03-25 13:22] #114 closed

[2021-03-25 13:24] skkw commented on #125
This shouldn't happen anymore - was a consequence of auction time set to 0, so that all auctioned names were claimed immediately.

[2021-03-25 13:24] #125 closed

[2021-03-25 13:25] skkw commented on #24
This is now implemented in release 1.0.4.

[2021-03-25 13:25] #24 closed

[2021-03-25 13:36] skkw commented on #153
This was caused because generations 403532 and 403533 are empty (no micro blocks and transactions inside).
The status is derived from the last stored transaction and that happened in generation 403531.

[2021-03-25 13:36] #153 closed

[2021-03-25 13:43] skkw commented on #122
Sorted out at the AE Node level.

[2021-03-25 13:43] #122 closed

[2021-03-25 14:47] skkw commented on #40
Not happening in new MDW, closing.

[2021-03-25 14:47] #40 closed

[2021-03-27 11:43] marc0olo opened #155 "automate bumping version for release tag"
it seems like the middleware returns `1.0.3` instead of `1.0.4` as version on the `/status` endpoint. hopefully you can avoid this in the future. I think this is the second time this happened.

maybe you can automate that? @skkw

[2021-03-30 00:03] davidyuk opened #156 "operationIds misses entity name"
for example,
[code]
from https://mainnet.aeternity.io/mdw/swagger/swagger.json
shouldn't `operationId` contain `names` (like, `get_names_owned_by`)? Won't we have any other entities that can be owned by somebody?

[2021-03-31 11:56] CedrikNikita opened #157 "Enpoint returning inactive names for the account"
We've need such thing to use in the wallet, to make user experience more user friendly.

[2021-04-14 16:58] marc0olo commented on #116
on Superhero somebody asked for that feature in aenalyitcs:
- https://superhero.com/tip/38_v3/comment/1462

[2021-04-20 08:02] kryztoval commented on #40
https://explorer.aeternity.io/transactions/th_vpWEs5upSQ6QZYTJBBL9dPB6xDPTozcNsgLv7YVNj6AjkF2uC

"This marks the moment .ani discovered the tipping bot. <3YâW"

It still fails to remove the checksum 'YâW'

[2021-04-23 08:07] skkw commented on #156
Feature wise there probably won't be any other entities owning others.
Oracles come close, but there's 1-1 mapping on the protocol level. (1 account can operate exactly one oracle, identified by the same pubkey as account)...

[2021-04-23 08:07] #156 closed

[2021-04-23 08:12] skkw commented on #140
Unfortunately our frontend preparations in the same named directory weren't picked upon.
They are in place there, supporting vue/nuxt, just in case we would like to have a totally self contained middleware, running frontend without node, directly from elixir.

Makes sense to remove it now, though.

[2021-04-23 08:15] skkw commented on #112
I agree that these changes make sense, however fixing it now means creating more work for other teams which already integrate with current format.

[2021-04-23 08:15] #112 closed

[2021-04-23 08:19] marc0olo commented on #112
agree that it's currently not worth the work. in future we should also cover such changes in a changelog.

@skkw can we put a respective label here and keep it open instead of closing it?

[2021-04-23 08:24] skkw commented on #106
Yes, skipping pages is not supported, so if you want page 2, you also need to ask for page 1 before.
(Also, since queries for all accounts can't be precomputed, every DB system would have to scan over that first page and throw it away... asking for request with high page number is vector for DOS as malicious clients could just send request with page=1000000 to halt the MDW.)

Since the `top` of th

[2021-04-23 08:24] #106 closed

[2021-04-23 08:27] skkw commented on #109
This is correct, it's oversight.

Ideally, there would be a release which would fix these inconsistencies with synchronized progress so that other users of mdw don't get broken in the process but this is too much work for small benefit.

[2021-04-23 08:27] #109 closed

[2021-04-23 08:28] skkw commented on #54
I think this is done already.

[2021-04-23 08:28] #54 closed

[2021-04-26 15:32] marc0olo opened #159 "missing bid-details for revoked name that is in auction again (expand=true)"
we identified following behaviour:
- https://mainnet.aeternity.io/mdw/name/yani.chain?expand=true is **currently** returning an auction and is at the same time a name that was already owned by someone
   - the information about the auction is included in the `auction` object
   - the information about the last ownership is included in the `info` object and `previous` is empty
   - the tx-details o

[2021-04-28 21:37] davidyuk opened #160 "Wrong `schemes` value of swagger file on production"
https://mainnet.aeternity.io/mdw/swagger/swagger.json

shouldn't it be `["https"]` instead of `["http"]`?

[2021-04-28 21:38] davidyuk opened #161 "Wrong `basePath` value of swagger file on production"
https://mainnet.aeternity.io/mdw/swagger/swagger.json

shouldn't it be `"/mdw/"` or so instead of `"/"`?

[2021-04-30 06:30] davidyuk opened #162 "Sending coins to itself makes appear transaction in the list of transactions two times"
For example, here: https://mainnet.aeternity.io/mdw/txs/gen/421792-0?account=ak_gvxNbZf5CuxYVfcUFoKAP4geZatWaC2Yy4jpx5vZoCKank4Gc&limit=10&page=1

Transaction th_3rw5nk53rEQzZr8xrQ6sqt2Y9Cv4U8piqiHK1KVkXCaVFMTCq is listed two times.

Obviously, this list shouldn't return duplicate transactions, because the endpoint described as returning transactions related to the account, not incoming/outcoming

[2021-05-06 10:54] marc0olo commented on #157
@CedrikNikita can you specify a bit more what should be returned or what you want to achieve with that endpoint? currently this could be misinterpreted I think.

thoughts:
- is this just needed to show the users which names they have owned in the history but aren't owner of anymore?
- what if the "inactive" name is already claimed again by someone else? should the name still be returned or not?

[2021-05-10 10:15] thepiwo opened #167 "mdw exposes logs for incorrect contract when using remote contract calls"
Doing a remote contract call, where the remote contract has an event logged, we receive the following from the node, where each event is related to the contract it did occur in.

![image](https://user-images.githubusercontent.com/6539235/117643977-47501a80-b189-11eb-900f-ee8aa381d403.png)

Mdw exposes both events logs for the originating contract of the remote call.

https://testnet.aeternity.io/m

[2021-05-10 10:20] nikita-fuchs commented on #167
A big thanks to @genievot (why can't I tag him here? ) for discovering and reporting.

[2021-05-29 11:10] marc0olo commented on #40
according to the discussion in telegram this issue is related to the frontend of the middleware. though a frontend folder still exists in this repository it isn't used and thus it's correct to close the issue here.

@kryztoval you can open the issue in this repository https://github.com/aeternity/mdw-frontend/issues. not sure when it will be picked up and solved. but it shouldn't be a big deal. so

[2021-05-31 08:41] kryztoval commented on #40
The issue is reported here.
https://github.com/aeternity/mdw-frontend/issues/54

[2021-05-31 11:23] omar-saadoun opened #175 "Make and npm has to be installed on the environment before installing, should be on dependencies setup guide"
While installing on ubuntu by following the setup guideline we should add that make needs to be installed before:

root@inmindUbuntu1804:/home/inmind/ae_mdw# ls
config              erlang-solutions_2.0_all.deb  Makefile   priv
docker              frontend                      mix.exs    README.md
docker-compose.yml  keys                          mix.lock   test
Dockerfile          lib

[2021-05-31 11:41] omar-saadoun opened #176 "Error when installing mdw directly on ubuntu"
While installing on ubuntu by following the setup guideline I get:

root@inmindUbuntu1804:/home/inmind/ae_mdw# make compile
make compile-backend && make compile-frontend
make[1]: Entering directory '/home/inmind/ae_mdw'
mix deps.get && mix compile
warning: variable "deps" does not exist and is being expanded to "deps()", please use parentheses to remove the ambiguity or change the variable name

[2021-06-01 07:50] CedrikNikita commented on #157
We may have an endpoint that returns inactive names, that will accept the following parameters:
1. period of time - all inactive names that were lost within period of time
2. address - that will filter inactive names of a user
That may have some intresting outcomes:
1. We may inspire users to extend their names
2. Lost name won't disappear from wallet for a while, would be more userfriedly (when s

[2021-06-01 08:17] CedrikNikita opened #177 "Make endpoint /names/owned_by/{id} return also name hash"

[2021-06-04 17:11] seanhinde commented on #176
I tried the build with the same versions of node and npm you have in your report and it also fails for me (though with a different message).

I also tested with the following combinations and the build worked fine:

node: v8.10.0 (npm: v5.6.0)
and
node: v14.17.0 (npm v6.14.13)

The build also currently fails with the very latest node and rpm - node v16.2.0 (npm v7.15.1), so I suggest for now using

[2021-06-09 22:40] omar-saadoun commented on #176
Tried with v14.17.0 and got different errors:
inmind@inmindUbuntu1804:~/ae_mdw$ sudo make compile
[sudo] password for inmind:
make compile-backend && make compile-frontend
make[1]: Entering directory '/home/inmind/ae_mdw'
mix deps.get && mix compile
warning: variable "deps" does not exist and is being expanded to "deps()", please use parentheses to remove the ambiguity or change the variable name

[2021-06-10 14:20] davidyuk opened #179 "`get_owned_by` should contain `names`"
I don't agree with the resolution of #156

Even if it doesn't have collisions, operation names should be correct and clear as far as they may be used by API generators and exposed to developers as they are.

For example, if sdk in the future would create an API wrapper of middleware, it doesn't need to apply fixes of naming initially introduced in middleware.

[2021-06-10 14:36] davidyuk opened #180 "Consistent naming of block fields in the transaction list"
can't reopen #112

Freezing the api and refusing to fix existing issues is not a good way to go. I'm proposing to collect a set of improvements like in mentioned issue and create a new set of endpoints (`/v2/...`) as the code team did in node. This can be introduced without breaking the current API allowing developers to gradually switch to a new one.

[2021-06-11 06:36] davidyuk opened #181 "Pass next url through HTTP headers"
https://testnet.aeternity.io/mdw/txs/forward

Currently have this structure:
[code]

If we would generate an API wrapper around this we'll get something like:
[code]

`next` is related to metadata and storing it with actual returned data makes us wrap it with an extra useless object. To avoid that we can pass `next` in response headers, removing the extra wrapper. Then generated interface would be

[2021-06-11 06:42] davidyuk opened #182 "`next` should start with `/`"
https://testnet.aeternity.io/mdw/txs/forward

Currently have this structure:
[code]

by default path without slash means a relative one, so I would interpret it as "https://testnet.aeternity.io/mdw/txs/forward/txs/gen/0-443535?limit=10&page=2"

This is covered in documentation:

The continuation-URL, when *concatenated with host*, can be used to retrieve next page of results.

But still, I think w

[2021-06-11 06:47] davidyuk opened #183 "Make endpoints consistent named with Aeternity node"
can't reopen #109 see #180

the same situation with `/txs/:hash` in middleware and `/trahsactions/:hash` in node

[2021-06-11 07:00] davidyuk opened #184 "Links to current and previous pages as now for next page"
https://testnet.aeternity.io/mdw/txs/forward

Currently have this structure:
[code]

Would be useful to have "absolute" links to current and previous pages as now we have for the next page.

Use case: In middleware frontend user may looks through several pages of transactions relative to blockchain top (by the index of page) and want to save link to the current page. After opening it later fronten

[2021-06-11 07:23] davidyuk opened #185 "How `page` is handled in `next` urls?"
According to the discussion in https://github.com/aeternity/ae_mdw/issues/106#issuecomment-825489932 `next` path is an "absolute reference to the point of history", but `next` always contain originally passed `page` parameter that is a relative reference. Is the `page` parameter
- ignored in this case
- becomes relative to the scope of `next` path
- remains relative to the blockchain top?

Won't h

[2021-06-11 09:10] marc0olo commented on #183
we should label all the issues related to consistency issues to ideally fix them all together in a future release cc @mradkov

[2021-06-11 09:12] marc0olo commented on #180
yes, we definitely shouldn't break the existing api! cc @mradkov

[2021-06-11 09:25] marc0olo commented on #184
you should keep in mind the other issue you opened #181

I am not sure if developers are expecting these kinds of information via params in the header. personally I don't see a problem providing this data in the response.

what speaks against sth. like this?
[code]

cc @mradkov

[2021-06-11 09:56] davidyuk commented on #184
nope, headers is a separate issue, would be messy to combine them

[2021-06-11 09:57] thepiwo opened #186 "AEX-9 balances for account don't seem consistent"
https://testnet.aeternity.io/mdw/aex9/balances/ct_BxckqeNbTYH7ayohwsnyq8JeU6G49zDrZuLoVXjE4fKwzcyna

shows balance for account `ak_11111111111111111111111111111111273Yts`

https://testnet.aeternity.io/mdw/aex9/balances/account/ak_11111111111111111111111111111111273Yts

doesn't show any balances

[2021-06-11 10:03] davidyuk commented on #181
@marc0olo I agree that it works both ways, but metadata suits more for headers than the response body. As a developer asking for transactions I would expect to receive an array of them than the array wrapped with an object for the use case that is not strictly necessary.

[2021-06-11 10:28] marc0olo commented on #181
first of all the dev should expect the response which the API specification provides :-)

now it's up to us to decide the way we want to provide it. my personal opinion is that it's more convenient in case of pagination to have that information provided in the response similar to sth. like this:
[code]

[2021-06-11 13:34] davidyuk commented on #181
for sure, but API developer may make it more intuitive😉

The idea is to make API semantic avoiding meaningless stuff like "data" 🤷‍♀️

Architecturally something wrong with this next/current/prev URLs. Maybe we can avoid it in general? Like, make a scope (`<from block>_<to block>`) a required parameter asking developer to track it by himself.

The current implementation looks like an endless failba

[2021-06-12 09:30] the-icarus commented on #181
@davidyuk With your proposal moving the responsibility to the developer I see on issue doing it based on a block. AFAIK the number of txs per block is not fixed which would end up in dynamic page size which is more complex to handle. I would rather prefer a stable page size. But in such a case we should still need to provide the information on how many pages with the current page size exist or the

[2021-06-12 12:18] omar-saadoun commented on #176
Well, I  started from scratch removing the ae_mdw directory and cloning again and mdw installation worked but still have some issues:

Generated ae_mdw app
ae_mdw: generated priv/static/swagger.json
inmind@inmindUbuntu1804:~/ae_mdw$ make shell
iex --sname aeternity@localhost -S mix phx.server
Protocol 'inet_tcp': the name aeternity@localhost seems to be in use by another Erlang node
Makefile:37: r

[2021-06-16 14:25] thepiwo commented on #175
we should remove the frontend from this repository

[2021-06-16 14:27] thepiwo commented on #161
no, the /mdw is just where SRE decided to locate it via reverse proxy. / is the base path

[2021-06-16 14:27] #161 closed

[2021-06-16 14:27] thepiwo commented on #160
I don't know whats best practice for that

[2021-06-16 14:29] thepiwo commented on #155
I think the issue itself is fixed, but I agree we should automate that

[2021-06-16 14:30] thepiwo commented on #140
Yes I agree, we should remove it

[2021-06-16 14:30] thepiwo commented on #131
would be nice to have, but not high priority.

[2021-06-16 14:31] thepiwo commented on #124
@marc0olo can you check with the newest version and update/close this issue?

[2021-06-16 14:32] thepiwo commented on #121
@marc0olo can you check again?

[2021-06-16 14:32] thepiwo commented on #116
@marc0olo can you check again and update/close this issue?

[2021-06-16 14:32] thepiwo commented on #115
@marc0olo can you check again and update/close this issue?

[2021-06-16 14:34] thepiwo commented on #108
I agree, this should be adjusted

[2021-06-16 14:34] thepiwo commented on #105
@davidyuk does this issue persist, can you update/close the issue?

[2021-06-16 14:35] thepiwo commented on #104
I am not sure this has something to do with the mdw implementation, closing

[2021-06-16 14:35] #104 closed

[2021-06-16 14:36] thepiwo commented on #103
@Artur64 can you help here?

[2021-06-16 14:36] thepiwo commented on #98
@mradkov can you explain in more detail? @Artur64 can you maybe have a look?

[2021-06-16 14:37] thepiwo commented on #29
@Artur64 can you check if the documentation covers the needed build steps and eventually close this issue?

[2021-06-16 15:17] thepiwo opened #189 "consider removing the static swagger.json from repo"

[2021-06-16 17:30] marc0olo commented on #121
I think generally this can be closed as I got it working. I created this repository which includes a github action to build images for the middleware: https://github.com/kryptokrauts/ae-image-builder

but I think there should be a standardized way how to build production ready images for plugins like `ae_mdw` making use of https://github.com/aeternity/ae_plugin.

ideally we would be able to combin

[2021-06-16 17:36] marc0olo commented on #116
searching is now possible :)

https://github.com/aeternity/ae_mdw#searching-names

[2021-06-16 17:36] #116 closed

[2021-06-16 17:39] marc0olo commented on #115
@thepiwo I don't think this is possible right now:

[code]

the usecase here is to display the recently claimed names

[2021-06-16 19:23] thepiwo commented on #121
the Dockerfile included in this repository also works fine for me

[2021-06-16 19:47] #140 closed

[2021-06-16 19:47] #175 closed

[2021-06-16 21:08] marc0olo commented on #121
yes it is basically based on the Dockerfile. I just think there are things that can be improved:
- image size (node image uses ~145mb whereas the mdw including the node requires ~555mb)
- file structure (I would appreciate if it reflects a similar folder structure as the node image at least for the node related stuff)
- specify a specific user and that the containers of the image aren't running wi

[2021-06-17 07:02] thepiwo commented on #121
lets make a new issue for this, as it's not a bug any more

[2021-06-17 07:06] thepiwo opened #191 "add ci for automated testing"
gh-actions works fine in other projects

[2021-06-17 07:07] thepiwo opened #192 "add ci/cd for an automated release process"
include docker image being published

[2021-06-17 07:08] thepiwo opened #193 "provide way to automate database migrations"

[2021-06-17 08:10] thepiwo opened #194 "different synced mdw return different results, e.g. micro block count"
https://mainnet.aeternity.art/mdw/blocks/444733-444733
https://mainnet.aeternity.io/mdw/blocks/444733-444733

count of microblocks is different

[2021-06-17 08:25] thepiwo commented on #194
is seems like `EtsCache.get(@tab, height)` is never updated, so if cache is generated for not final blocks if will never be invalidated in cache

[2021-06-17 08:33] thepiwo commented on #194
seems like expiry is

[code]

this needs to be improved, preferably not to generate cache if block is not final

[2021-06-17 10:33] #121 closed

[2021-06-17 10:35] marc0olo opened #195 "improve docker builds"
think there are things that can be improved:

- [x] image size (node image uses ~145mb whereas the mdw including the node requires ~555mb)
- [x] file structure (I would appreciate if it reflects a similar folder structure as the node image at least for the node related stuff)
- [x] specify a specific user and that the containers of the image aren't running with root

ideally we have a more or less

[2021-06-17 10:37] marc0olo commented on #192
this is related to #195

[2021-06-18 07:10] thepiwo commented on #167
If you need more example contact me

[2021-06-18 07:32] thepiwo commented on #176
@omar-saadoun can you check if this still happens?

[2021-06-24 16:50] marc0olo opened #196 "search: paginated results & possibility to exclude `.test` names in the results"
when implementing the search in https://aenalytics.org we recognized that it is not a good idea to search for single characters which would happen when implementing search for dynamically typed text.

additionally it would be great to be able to exclude "deprecated" `.test` names in the response .

[2021-06-24 16:56] marc0olo opened #197 "ContractCreateTx: add `gasUsed` in the response"
it seems like for the `ContractCreateTx` the mdw currently doesn't return the property `gasUsed` whereas the property is included in the `ContractCallTx`

this should be added

[2021-06-28 08:42] CedrikNikita opened #198 "Luck of info in /aex9/transfers endpoints"
`/aex9/transfers` endpoint should return atleast
- `contract id` for each transaction
- time

[2021-06-28 08:44] kenodressel commented on #198
This is what it currently looks like:
[code]
In order to process this information there should be at least the token contract listed too. Optionally more information about the transaction would be nice to have.

[2021-06-28 09:24] davidyuk commented on #160
Just to have `https` there if it is deployed over https

[2021-06-28 09:32] marc0olo commented on #160
I left a comment about that here:
- https://github.com/aeternity/aesophia_http/issues/70#issuecomment-865188084

I guess there are two options:
- remove the schemes section in the swagger definition
- add `https` additionally

but that's just an assumption. haven't verified

[2021-06-28 12:01] omar-saadoun commented on #176
@thepiwo same issue I removed and started all over again and when I do make shell it doesn't work:

inmind@inmindUbuntu1804:~/ae_mdw$ export NODEROOT="/root/aeternity/node"
inmind@inmindUbuntu1804:~/ae_mdw$ make shell
iex --sname aeternity@localhost -S mix phx.server
Erlang/OTP 24 [erts-12.0.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit]

warning: variable "deps" does not exist

[2021-06-29 08:14] thepiwo commented on #176
@omar-saadoun did you follow the prerequisites and install instructions?

[2021-06-29 11:41] omar-saadoun commented on #176
I did @thepiwo , doubled checked.

[2021-06-29 12:59] CedrikNikita opened #199 "txs/backward?account does not return the contract call where you are receiver"
https://testnet.aeternity.io/mdw/txs/backward?type=contract_call&limit=100&page=1&contract=ct_T6MWNrowGVC9dyTDksCBrCCSaeK3hzBMMY5hhMKwvwr8wJvM8&account=ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy
contain only contacrt_calls where `ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy` the caller

https://testnet.aeternity.io/mdw/aex9/transfers/to/ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7gu

[2021-06-29 13:05] thepiwo opened #200 "update dependencies and elixir version"

[2021-06-30 13:08] #198 closed

[2021-07-02 07:07] thepiwo opened #203 "make backups accessible"

[2021-07-02 07:20] venimus commented on #203
Currently there are no scheduled automatic snapshots of the db, as there is an issue with starting the mdw node non-interactively. The issue is being investigated

[2021-07-02 07:44] thepiwo commented on #199
@CedrikNikita the `/mdw/txs/backward?account` endpoint justs lists all native transactions for the respective account, for AEX-9 this means a contract call is just listed there from the sender, the receiver is not know natively as its part of AEX-9 specification.

These transactions are all listed in the `/aex9/transfers` endpoint that specifically parse AEX-9.

[2021-07-02 07:49] #199 closed

[2021-07-02 07:52] thepiwo commented on #176
To summarize, the node directory is missing the `rel` folder, that is expected by aeplugin.
The Dockerfile includes a workaround for this. Another solution is to use a node built locally, which then includes the `rel` folder.

We should explore why this is an issue.

[2021-07-02 13:42] CedrikNikita commented on #199
In order to get the full transaction list now i have to make several requests:
- for the native transactions
  - `/mdw/txs/backward?account` (returning chunks)
- for the tokens
  - `/aex9/transfers` (that returns the whole list of transaction without chunking)
    - request for each transaction in that list /txi/ (because there are no tx object)
After that i have to manually/weirdly merge this int

[2021-07-02 13:43] thepiwo commented on #199
if you consider an AEX-9 transfer to an account a transaction of this account, yes. Same would need to be done for all other possible contracts that affect multiple accounts.

[2021-07-05 21:33] marc0olo opened #204 "internal server error (latest block) and not synching anymore"
it seems like both deployments (testnet & mainnet) throw an internal server error when trying to receive the latest block;
- https://testnet.aeternity.io/mdw/blocks/backward?limit=1
- https://mainnet.aeternity.io/mdw/blocks/backward?limit=1

additionally both middlewares are out of sync right now

[2021-07-05 21:36] thepiwo commented on #204
@wj2016 can you have a look? Maybe its due to pay-for-tx or more probably some contracts that used clone features. Thats the error in my log before sync stops

[code]

[2021-07-07 21:00] #204 closed

[2021-07-07 21:00] thepiwo opened #206 "mdw doesn"

[2021-07-07 21:01] thepiwo opened #207 "mdw doesn't show balance for aex-9 tokens that have been minted (not transferred) to an account"

[2021-07-07 21:01] #206 closed

[2021-07-07 22:00] marc0olo commented on #204
@thepiwo @wj2016 I see that we have a temp fix for this right now. does the latest sophia release solve that problem so that we could also track `Chain.create` and `Chain.clone` events? https://github.com/aeternity/aesophia/releases/tag/v6.0.2

[2021-07-07 23:09] wj2016 commented on #204
@marc0olo yes, this is only a temp fix to skip Chain.create and Chain.clone events. When it's fixed in sophia, we will fix middleware to handle the events and update database correctly.

[2021-07-08 07:49] thepiwo opened #208 "index Chain.create and Chain.clone events"

[2021-07-08 07:49] thepiwo commented on #204
I created an issue as reminder https://github.com/aeternity/ae_mdw/issues/208

[2021-07-08 09:10] marc0olo commented on #160
wondering about how that swagger file is generated? can we make it so that the `schemes` section is omitted? I think in the past the swaggerfile was included in the repo. doesn't seem to be the case anymore

[2021-07-10 22:48] marc0olo commented on #124
@thepiwo I updated the list and marked what it currently implemented

[2021-07-16 07:06] mradkov commented on #208
Do we have any specs on this?

[2021-07-16 08:06] marc0olo commented on #208
I think this had to be excluded specifically because there was a bug in the sophia compiler which got quickly fixed:
- https://github.com/aeternity/aesophia/compare/v6.0.0...v6.0.1

not sure what needs to be done here. I guess @wj2016 knows what to do :-)

[2021-07-21 11:07] thepiwo commented on #208
Currently those created or cloned contract events are not exposed by mdw, so this should probably be done in some format.
Additionally those created or cloned contracts won't be indexed as contracts as they are not created with a ContractCreateTx, so they should be indexed.

[2021-07-21 11:11] thepiwo commented on #124
is a node stat, not mdw stat.

For others I agree they would still be helpful but no priority.

[2021-08-18 12:09] thepiwo opened #211 "sync AEX-9 transactions instantly"

[2021-08-18 13:18] thepiwo opened #212 "introduce code style and type checker in ci"

[2021-08-18 13:19] thepiwo opened #213 "adjust code to comply to dyalizer"

[2021-08-18 13:20] thepiwo opened #214 "adjust code to comply to elixir format"

[2021-08-18 14:21] thepiwo commented on #167
other test data:

https://testnet.aeternity.io/mdw/contracts/logs/forward?contract_id=ct_2qaCW3Aok5EyX6Gochn7sXQkfBTLoQyccKigZgeFJJhwD4zi3

https://testnet.aeternity.io/v2/transactions/th_UksVPnE8fuYggjsh5J43dQfK7g3ZSeX5LFC5GtakkF5NRc9qz/info

created from contracts:
[code]

[code]

[2021-08-19 15:38] jyeshe commented on #167
[two_contrUacts.zip](https://github.com/aeternity/ae_mdw/files/7015749/two_contracts.zip)

[2021-08-19 15:44] jyeshe commented on #167
For each contract, the first two logs are from emitEvent():
https://testnet.aeternity.io/mdw/contracts/logs/forward?contract_id=ct_iyVsmYF3iZnFs4NTssceBMMFFMoQDoraoYRfjwDFbUyJU5pdT
https://testnet.aeternity.io/mdw/contracts/logs/forward?contract_id=ct_8xw9cfgtrDEGdUuJeh6tJRYcf2MBcZAwunBmpfSCd7h5QCwVu

Calling emitBothEvent() is raising:
emitBothEvents - call errored: Error: Invocation failed Most

[2021-08-19 17:01] jyeshe commented on #167
Reproduced:
![image](https://user-images.githubusercontent.com/44991200/130111859-121aa95a-c56e-4de6-9782-8db8e52d9bfa.png)

[2021-08-20 11:25] #214 closed

[2021-08-23 09:35] thepiwo opened #220 "make unit/integration tests independent from synced chain"

[2021-08-23 10:18] marc0olo commented on #124
ok, removed that one

[2021-08-23 13:20] #213 closed

[2021-08-25 12:05] #212 closed

[2021-08-25 13:18] nikita-fuchs opened #223 "Wrong microblock returned for generation"
Hey, it seems like we're returning the micro blocks for a generation in a seemingly random order.

Here is an example: https://mainnet.aeternity.io/mdw//blocks/471542-471542

The easiest example is to search for `prev_hash”:“kh`, which will be the first micro block of the generation, having the keyblock hash as his `prev_hash`. Looking closer at the other prev_hashes, you will see the same.

I sme

[2021-08-27 12:16] marc0olo opened #224 "innerTx handling (PayingForTx, GAMeta)"
Karol already started working on that back then:
- https://github.com/aeternity/ae_mdw/tree/inner-txs

[2021-08-27 16:32] #167 closed, assigned to jyeshe

[2021-08-29 19:30] marc0olo opened #226 "more SpendTx details on mdw/txs/backward?account=..."
When calling this endpoint the transactions of an account are returned.

This is a feature request to return more details for tx-type `SpendTx` if the recipient is a name id (`nm_...`). I would like to see following additional data returned in this case:
- name (`xyz.name`)
- account (`ak_...`)

[2021-08-30 11:16] sborrazas commented on #220
So after some digging into the different transactions we have, I thought it would be useful to have some declarative way of specifying a sample blockchain. This would not only make tests independent from the synced chain, but it will also make them clearer.

There's already been some talking about something similar for a thing called "chain simulator" on [this GH issue](https://github.com/aeternit

[2021-08-30 16:16] jyeshe commented on #223
Currently "micro_blocks" response field is a map with the micro block hash as the key. Would this map still be needed for a certain client or may we transform it into a list (to sort it by time)? It would be possible to sort with the map but it requires a bigger change on how response is processed.
@thepiwo @nikita-fuchs @mradkov

[2021-08-30 16:54] jyeshe commented on #220
I think it's valid and would certainty help. As an intermediary step, to decrease the effort required to insert data **consistently**, the factory could be mocked with a copy of some mainnet or testnet database records. In a later improved version would create things from scratch.

The factory could start with few and simple/standard operations (function names), if possible, to make it attractive

[2021-08-30 17:34] jyeshe commented on #220
Thinking once more about the declarative use, It's nice to have for aggregated initial states. However for transitions in the setup, the imperative way is more friendly with a direct help of the compiler and more familiar for newcomers. So instead of declaring a transfer the setup could call: `AccountTest.transfer(alice, bob, value)`

[2021-08-31 17:03] jyeshe commented on #193
Proposal draft: https://github.com/aeternity/ae_mdw/pull/232
Working with first commit: 29f254d
Last 2c96f71 still to be fixed with RocksDB.

[2021-09-01 11:49] kenodressel opened #234 "Querying names on new block leads to random access issues"
Steps to reproduce:
- open https://mainnet.aeternity.io/mdw/names/active?limit=100
- wait until a new block is mined
- refresh the page
- navigate to the page listed in next
- observe `400, "random access not supported"`

---

This has been a problem in the past and might be related to the load balancer.

[2021-09-01 12:01] kenodressel commented on #234
initial request:
![image](https://user-images.githubusercontent.com/765921/131667787-a36980b4-8e34-4529-850c-85f7cf098248.png)
followup:
![image](https://user-images.githubusercontent.com/765921/131667827-630ea43f-b12f-4c08-8112-d44eb0cd2659.png)

[2021-09-03 13:43] jyeshe commented on #226
@marc0olo should the account be the one from the owner of the name (recipient) or the account from the parameter?
If the first case may the recipient be an object like this?
[code]
when possible for the clients could become like:
[code]

[2021-09-03 14:18] marc0olo commented on #226
Not sure if I understand the question correctly.

I think wrapping this into a separate object makes sense and should always be handled like this. But that's my personal opinion.

In most cases we would only have the account property present.

In case of having used a name_id as recipient I would expect the second example as response (of course the account there is dependent on the state at this p

[2021-09-06 09:18] thepiwo commented on #226
@jyeshe @marc0olo yeah we should consider an overall versioning schema here. Maybe we can introduce a /v2/ same route endpoint with the adjusted changes?

For now as there a not that many consumer of mdw we should be fine without it, but its definitely breaking for some clients.

@jyeshe is it now implemented as proposed here? For me the PR looks non-breaking, so it should all be fine right?

[2021-09-06 09:34] thepiwo commented on #234
@venimus can you provide some feedback here?

[2021-09-06 09:35] thepiwo commented on #105
closing for now

[2021-09-06 09:35] #105 closed

[2021-09-06 09:41] jyeshe commented on #226
Yes @thepiwo, without breaking changes. Pushed the recipient object now keeping the recipient_id outside of it.

@marc0olo @thepiwo
Considering the pointer could change, the account returned in the new field should be the owner of name at the time of the transaction, right? Or for a particular reason should be always the last/current owner?

[2021-09-07 11:39] venimus commented on #234
Cloudfront is proxying the user trough random IP and this changes the IP-hash that is used from load balancer, I'm working on a workaround

[2021-09-07 12:19] venimus commented on #234
It should be fixed now

[2021-09-07 12:19] #234 closed

[2021-09-08 08:20] marc0olo commented on #226
sorry, didn't have time to respond yet. so the recipient at a specific point of time is always the account-pointer (key: `account_pubkey`) of that specific AENS name. it's not about the owner of the name but about the account that pointer has been pointing when that specific tx happened. the owner of the name is completely irrelevant in that context.

[2021-09-08 08:46] marc0olo commented on #226
@jyeshe is this handled correctly now?! just curious. haven't checked

[2021-09-08 08:48] marc0olo commented on #226
in the description of the merged PR it says we use the owner as recipient. this is wrong!!!! cc @thepiwo

[2021-09-08 09:08] thepiwo commented on #226
@marc0olo right, my bad not noticing in review. @jyeshe can you fix to use the account pointer of the name?

[2021-09-08 10:34] jyeshe commented on #226
As the issue is about the recipient and it's name, the account taken was for the owner of the name (account of recipient) but no problem, we can fix that.

Two questions to clarify:
1) Could you provide a context of accounts involved in the transaction? From my short-sighted perspective there are only the accounts of the sender and receiver (maybe a 3rd of the owner of a contract that made the tra

[2021-09-08 11:02] jyeshe commented on #226
For the second question, found something here:
https://aeternity.com/documentation-hub/protocol/node/api/naming_system_api_usage/#update
Just gonna look how to fetch it because the index is very composite.

I think I understood what it is, pls correct me if I am wrong. I can claim a name with one account but make it to point to another one, correct? That's why the owner (even considering transfers

[2021-09-08 11:04] marc0olo commented on #226
Assuming we are speaking ONLY about a `SpendTx` (which can also be an "inner-tx" in a contract call or wrapped in a GaMetaTx or PayingForTx) it's always a regular account that is the `sender` (`ak_...`). In case of the recipient it can be an account ( `ak_...`) or an AENS name_id (`nm_...`) which **at the time of the transaction** points to a specific account (`ak_...`) via pointer-key (`account_p

[2021-09-09 10:11] #223 closed

[2021-09-09 14:08] #193 closed

[2021-09-14 16:47] #226 closed

[2021-09-17 08:16] #182 closed

[2021-09-17 15:58] #224 closed

[2021-09-21 11:10] jyeshe commented on #186
Ongoing investigation with:
http://localhost:4000/aex9/balances/ct_2bwK4mxEe3y9SazQRPXE8NdXikSTqF2T9FhNrawRzFA21yacTo
http://localhost:4000/aex9/balances/account/ak_2CuCtmoExsuW7iG5BbRAoncSZAoZt8Abu21qrPUhqfFNin75iL
http://localhost:4000/aex9/transfers/to/ak_2CuCtmoExsuW7iG5BbRAoncSZAoZt8Abu21qrPUhqfFNin75iL

The Aex9AccountPresence is not found for the cases where `/balances/account/:aid` result

[2021-09-21 11:11] jyeshe commented on #186
`aex9_transfer_event_hash/0` used in the sync is a constant (not context sensitive).

[2021-09-23 19:51] jyeshe commented on #186
The `/balances/account/:aid` already uses the contract state for the balance:
https://github.com/aeternity/ae_mdw/blob/c89ec1880726cac5239a09996b142f1b9e024b0b/lib/ae_mdw_web/controllers/aex9_controller.ex#L219
`DBN.aex9_balance` performs a contract call likewise the `/balances/:contract_id`:
https://github.com/aeternity/ae_mdw/blob/c89ec1880726cac5239a09996b142f1b9e024b0b/lib/ae_mdw/contract.ex#L

[2021-09-24 11:43] thepiwo commented on #220
its done, but most test suites still need migration

[2021-09-24 11:43] #220 closed

[2021-09-27 12:00] #197 closed

[2021-09-30 08:39] thepiwo opened #263 "mdw sync gets stuck on testnet"
I tried with a full resync of node and mdw and it got stuck at the same point on testnet, at "mdw_height": 196946

[code]

[2021-09-30 08:40] thepiwo opened #264 "contract calls endpoint internal server error"
https://mainnet.aeternity.io/mdw/contracts/calls?contract_id=ct_2uJthb5s1D8c8F8ZYMAZ6LYGWno5ubFnrmkkHLE1FBzN3JruQw

[code]

![image](https://user-images.githubusercontent.com/6539235/135418379-9e5c6098-d30a-4e51-b317-7762e65885ae.png)

[2021-09-30 13:16] omar-saadoun opened #265 "Switch documentation examples from https://localhost:4000 to https://mainnet.aeternity.io/mdw"
The actual documentation assume you have a local Middleware for copy pasting, would be better to give a ready to use copy paste with our infrastructure.

[2021-10-01 10:46] marc0olo commented on #224
@jyeshe where is this information being included/returned when calling the api? have we updated the documentation (example requests) in the README here?

[2021-10-01 11:34] thepiwo commented on #265
sounds good, feel free to provide a PR for that

[2021-10-01 11:44] marc0olo opened #266 "more information for `ContractCreateTx`"
we should return more information for the `ContractCreateTx` like we do for `ContractCallTx` in my opinion:

- events (currently not sure if this is included in ContractCallTx)
- method (maybe we can leave out as it should always be `init`)
- arguments
- return_type
- return
- gas_used

[2021-10-01 13:15] jyeshe opened #267 "Aex9 balances internal server error caused by "Out of gas""
This request returns 500:
https://mainnet.aeternity.io/mdw/aex9/balances/ct_2M4mVQCDVxu6mvUrEue1xMafLsoA1bgsfC3uT95F3r1xysaCvE

Locally it shows the reason of "Out of gas":
http://localhost:4000/aex9/balances/ct_2M4mVQCDVxu6mvUrEue1xMafLsoA1bgsfC3uT95F3r1xysaCvE

ct_2M4mVQCDVxu6mvUrEue1xMafLsoA1bgsfC3uT95F3r1xysaCvE
ct_21oSi6uMMcnnyxc1KTP8MReBPVvBQQ9oeoA7aexQBsF2o16HwT
ct_2czjMpbeeds9Geb272UfiEvhQ

[2021-10-01 13:21] jyeshe opened #268 "Sync in parallel the account aex9 presence based on balance"
The sync of accounts presence on aex9 contracts based on balance is time consuming.

It can be done in parallel as the mapping is done independently from transaction indexation (txi).

https://github.com/aeternity/ae_mdw/blob/0a7c7d1d606ac584e1054625ba793532e034ec18/lib/ae_mdw/db/contract.ex#L357

[2021-10-01 13:26] marc0olo commented on #267
@jyeshe just for curiosity -> is it clear how to solve that now? :-)

[2021-10-01 16:57] #186 closed

[2021-10-01 20:03] sborrazas opened #269 "Error when retreiving contract TX on the /contracts endpoint"
URL: http://localhost:4000/contracts/calls?contract_id=ct_2uJthb5s1D8c8F8ZYMAZ6LYGWno5ubFnrmkkHLE1FBzN3JruQw

(fails in prod as well)

## Screenshot attached
![image](https://user-images.githubusercontent.com/750314/135679716-72224874-d552-4734-93f6-48ac7a415396.png)

[2021-10-04 11:33] thepiwo opened #273 "improve handling of not fully synced middleware"

[2021-10-04 11:49] jyeshe commented on #267
Yes @marc0olo , gonna explore the dry-run and try to replace the dispatch with it.
Thank you!

[2021-10-04 18:15] #269 closed

[2021-10-06 08:48] thepiwo opened #275 "mdw incompatibility with node 6.3.0"
using mdw with node 6.3.0 seems to fail when using the status endpoint

![image](https://user-images.githubusercontent.com/6539235/136170594-73f5f2db-2b03-4729-910f-df3964d695a3.png)

[2021-10-06 09:01] jyeshe commented on #275
Syncing from 497396 to 497397 went fine. What would be your `localhost:4000/status` and Mdw commit pls?

[2021-10-06 09:06] thepiwo commented on #275
sync seems to work, but access to the /status endpoint fails

[2021-10-06 13:37] jyeshe commented on #267
@marc0olo @thepiwo unfortunately the result was also "Out of gas" with dry-run:

[code]

If I try to reduce more the gas_price (less than `div(min_gas_price(), 1000)`, it results in:
`{:ok, {[contract_call_tx: {:error, :too_low_gas_price}], []}}`

If try to reduce the fee (less than `190 * min_gas_price()`) , gives an error too:
`{:ok, {[contract_call_tx: {:error, :too_low_fee}], []}}`

For:
[code

[2021-10-08 19:26] #268 closed

[2021-10-09 11:47] marc0olo commented on #267
There is definitely a possibility to omit this. Question is how you can achieve this easily with the current way it is implemented. We might have to consult with Dimitar here again.

[2021-10-11 12:25] #275 closed

[2021-10-20 16:37] jyeshe opened #295 "some aex9 contract dry run might take a long time"
It happens with the `ct_BwJcRRa7jTAvkpzc2D16tJzHMGCJurtJMUBtyyfGi2QjPuMVv` on `DBN.aex9_balances(contract_pk)` for about a minute or so.

[2021-10-20 17:47] jyeshe commented on #155
Fixed with Release Please by #228

[2021-10-20 17:47] #155 closed

[2021-10-25 09:35] thepiwo opened #300 "delay websocket notification to wait for full indexation of tx"

[2021-10-25 11:43] thepiwo opened #301 "Contract Logs should return correct contract id instead of nil"

[2021-10-26 13:42] marc0olo opened #305 "missing information for `ContractCreateTx`"
What is missing from the contract create TX right now:
- method
- arguments
- return status
- gas used

_Originally posted by @AtanasKrondev in https://github.com/aeternity/mdw-frontend/issues/66#issuecomment-951865332_

[2021-10-26 13:45] #305 closed, assigned to nobody

[2021-10-27 07:29] thepiwo opened #307 "internal transfers should also be scope queried by txi"

[2021-10-27 08:33] thepiwo opened #308 "Index Contract Remote Call Transactions"
Currently remote contract calls are not exposed by middleware at all, we should show those from the scope of the child contract, as well as from the scope of the remote calling transaction of the parent contract.

calling remote:
https://testnet.aeternity.io/mdw/txs/forward?contract=ct_mT1pE3evLqyYSMCMjeqPPQsFobpVvKCEZxxh1tarWbyPu49yY

remote:
https://testnet.aeternity.io/mdw/txs/forward?contract=

[2021-10-27 08:48] jyeshe opened #309 "discard :oracle_extend_tx if oracle is already expired"
Mdw sync gets stuck if there is a extend oracle transaction for an oracle that has already expired (and not registered again).

Using this FindActiveOracle module (based exclusively on chain data) to run on mainnet:
[code]
it shows:
[code]
where oracle_extend_tx@475144 happened after the expire=475139

[2021-10-27 13:50] thepiwo opened #314 "Add endpoint to include all information regarding a contract"
create, all transactions, all function calls, remote calls and current state

[2021-10-28 13:03] #309 closed, assigned to jyeshe

[2021-10-29 08:54] CedrikNikita opened #316 "Transaction to a name should have info about account on certain height"
https://testnet.aeternity.io/mdw/txi/22496032 as a `recipient_id` there is a name hash for such transactions, i want to have an exact account that name had pointer at, at the moment it was send.

[2021-11-01 15:46] #300 closed

[2021-11-01 15:48] #266 closed

[2021-11-01 15:48] #316 closed

[2021-11-02 15:59] jyeshe commented on #295
Similar ct_M9yohHgcLjhpp1Z8SaA1UTmRMQzR4FWjJHajGga8KBoZTEPwC...

[2021-11-05 11:42] thepiwo opened #326 "figure out root cause for name expiration inconsistencies"

[2021-11-05 11:44] thepiwo opened #327 "figure out issue regarding transaction pagination"
https://testnet.aeternity.io/mdw/txs/backward?account=ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy&limit=30&page=1
https://testnet.aeternity.io/mdw/txs/backward?account=ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy&limit=30&page=2
https://testnet.aeternity.io/mdw/txs/backward?account=ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy&limit=30&page=3
https://testnet.aeternity.io

[2021-11-05 11:49] thepiwo opened #328 "investigate fork handling and related consistency issues"

[2021-11-05 11:50] thepiwo opened #329 "investigate number of transactions in different deployments"

[2021-11-05 14:34] thepiwo commented on #327
@sborrazas can you let @CedrikNikita know what the issue is here

[2021-11-05 14:49] sborrazas commented on #327
This is happening because the frontend wasn't using the "next" field from the paginated resources response, and built the URLs on it's own doing `page=previous_page+1`. It has now being cleared up, and until the frontend doesn't start using the "next" field from the paginated responses we won't update the version.

As of the new version, it won't use page=X anymore, instead it will use a cursor-ba

[2021-11-08 09:49] jyeshe opened #330 "websocket json encoding errors"
On mainnet:
[code]

On testnet:
[code]

[2021-11-08 11:08] jyeshe commented on #326
[code]

[2021-11-08 11:42] jyeshe commented on #326
already active:
[code]

[2021-11-08 12:28] jyeshe opened #331 "volatile sync error on get_events"
[code]

By the log, the point it aborts is in line:
`{:ok, _, _, events} = :aec_block_micro_candidate.apply_block_txs_strict(txs, trees_in, env)`

at `Elixir.AeMdw.Contract',get_events,1,[{file,"lib/ae_mdw/contract.ex"},{line,347}]}`

[2021-11-08 12:36] jyeshe commented on #331
A potential cause:
https://stackoverflow.com/questions/8099261/unintentionally-intercepting-mnesias-transactional-retries-with-try-catch-resul

[2021-11-10 10:26] jyeshe commented on #326
[code]

[2021-11-10 10:34] jyeshe commented on #326
Update tx with txi 23747394:
[code]

[2021-11-10 12:15] jyeshe commented on #326
[code]

[2021-11-10 12:20] jyeshe commented on #326
Name is inactivated on:
- update with delta_ttl == 0
- revoke
- expired

[2021-11-10 13:38] jyeshe commented on #326
@thepiwo, considering what was explained and described above, this issue can be closed as not a bug from current Mdw source code standpoint of view.

[2021-11-10 13:55] thepiwo commented on #326
thanks

[2021-11-10 13:55] #326 closed

[2021-11-10 16:44] sborrazas opened #334 "Turning ae_mdw into an aeternity node plugin"
## Current state

To provide some context, currently this middleware application works by loading the aeternity node compiled erlang modules. This is done by [ae_plugin](https://github.com/aeternity/ae_plugin/), which is loaded when the mdw starts, following these steps:

1. The `:ae_plugin, :ae_root` variable is used to decide where the node compiled release root is
2. Using that directory as bas

[2021-11-10 17:08] marc0olo commented on #334
Thanks for the analysis @sborrazas. This sounds like we need to stick to the current behavior unless we are willing to put lots of efforts into this, right?

Is there any feasible way to provide an improved docker build (https://github.com/aeternity/ae_mdw/issues/195) that allows us to publish the latest image after each release? ideally 2 different images:
- the bundle of the latest node release

[2021-11-10 17:13] thepiwo commented on #334
@marc0olo what will be the goal of 2 images from mdw side?

[2021-11-10 17:17] marc0olo commented on #334
not sure. just thinking. maybe somebody doesn't want to have devmode (and other plugins) included which come from the release bundle of the node

[2021-11-10 17:19] marc0olo commented on #334
if we decide to not support /publish a mdw image that includes other plugins and specifically devmode we should at least provide a script that combines this so that people can build the bundle image by themselves easily.

just my personal opinion here.

[2021-11-10 17:21] thepiwo commented on #334
I don't think the limiting factor is a docker image here, but compatibility of devmode and mdw

[2021-11-10 17:23] marc0olo commented on #334
ok maybe I didn't read the analysis deep enough. if I understand you correctly you say that it's generally not easily possible to build and run an application that includes both, devmode and mdw???

I thought it was "just" about making mdw to use the same mechanism like devmode does.

[2021-11-10 17:24] marc0olo opened #335 "make pagination stateless in frontend (include `previous` and `next` URL)"

[2021-11-10 17:29] thepiwo commented on #335
comment from @sborrazas in chat:

1. as for the explorer right now, I don't see a place right now where you would go "back" a page, for every pagination of things (txs/oracles/etc) it always starts from the beginning or from a given generation. I would try to avoid supporting features that are never going to be used anyway
2. by using mnesia as a storage we got rid of being able to paginate this i

[2021-11-10 17:39] thepiwo commented on #335
As discussed in chat this is a "won't fix" for now. If there is a convincing reason given we can discuss a workaround.

[2021-11-10 17:40] #335 closed

[2021-11-10 17:41] thepiwo commented on #334
yes its not easily possible, devmode uses some hacks in the node, e.g. to rollback that are not compatible with mdw in its current state

[2021-11-10 18:07] marc0olo commented on #335
this is a very bad behavior of the frontend currently IMO. I will open an issue in the frontend about various usecases in that direction that @AtanasKrondev can analyze. maybe we find good solutions to navigate through the tx-history of accounts, contracts, etc. without having a stateless pagination in place.

I can't imagine anybody likes to click "next", "next", "next", ... until someone finds t

[2021-11-11 14:13] #327 closed

[2021-11-15 10:42] sborrazas opened #338 "badmatch error when names are syncing"
This error happens when starting to sync from scratch, but we've also seen them happening in other situations.

[code]

[2021-11-15 11:46] jyeshe opened #339 "slow mdw sync due to long async task"
Mdw sync seems to be stuck around height 408217 and the async tasks stats doesn't decrement.

[2021-11-16 08:51] jyeshe commented on #338
"prelaunch.test" at mdw_height 72844
[code]

[2021-11-16 09:31] jyeshe commented on #338
prelaunch.test at mdw_height 72884 (from to 72885)
[code]

[2021-11-16 16:55] #339 closed

[2021-11-16 16:55] #301 closed

[2021-11-17 08:52] thepiwo opened #341 "add additional fields to contract create tx for compiler version and source hash"
as explained here: https://github.com/aeternity/aesophia_http/issues/81#issuecomment-969348489

[2021-11-17 11:24] jyeshe commented on #338
Update logic is correct as running again there is only one expiration and 72884 was properly deleted:
[code]
Also the update is recorded only once as expected:
[code]

[2021-11-18 07:56] #338 closed

[2021-11-18 10:40] jyeshe opened #344 "validate name transition based on node state"
In order to enforce the consistency of mdw database regarding name tables, the transitions of the name state (from pre-claim to revoke) shall rely on the `aens_state_tree` (the ADT for keeping the state of Naming System) in the Node.

These validations will serve to precisely identify any inconsistency in case the persistence layer fails for partial log commit or any other failure after an excepti

[2021-11-19 12:35] thepiwo opened #346 "investigate sync speed bottlenecks"

[2021-11-22 09:34] thepiwo opened #347 "Expose internal transfers from migration phases"
in migration phases 0, 1, 2 and 3 balance was added in hard forks for token migration from erc 20 on ethereum to aeternity native tokens, the token balance changes are listed in json files, maybe also exposed by the node in some way.

https://github.com/aeternity/aeternity/tree/master/data/aecore then for each hard fork the respective accounts(_uat).json

My best guess would be to index them as in

[2021-11-22 09:57] marc0olo commented on #347
was about to ask for that, thanks @thepiwo! :)

[2021-11-23 11:28] jyeshe opened #351 "not passing: test oracles it returns valid oracles on a given range in reverse"
For:
first = 500_000
last = 100_000
/oracles/gen/#{first}-#{last}

Returns first with height 527791:

  5) test oracles it returns valid oracles on a given range in reverse (Integration.AeMdwWeb.OracleControllerTest)
     test/integration/ae_mdw_web/controllers/oracle_controller_test.exs:175
     Expected truthy, got false
     code: assert Enum.all?(data, fn %{"expire_height" => kbi} -> last <= k

[2021-11-23 11:40] jyeshe opened #352 "not passing: test oracles get all oracles with default direction=backward and default limit"
test/integration/ae_mdw_web/controllers/oracle_controller_test.exs:52
     Assertion with == failed
     code:  assert response_next["data"] == next_data

For the next with:
http://localhost:4000//oracles?cursor=455229-ok_NcsdzkY5TWD3DY2f9o87MruJ6FSUYRiuRPpv5Rd2sqsvG1V2m&direction=backward&expand=false&limit=10

missing:
[code]

[2021-11-23 12:06] jyeshe commented on #329
More transactions indexed as detected by:
https://github.com/aeternity/ae_mdw/pull/353

[2021-11-23 12:27] jyeshe opened #354 "add ttl to last_bid.tx in names"
localhost:
[code]
[mainnet:](https://mainnet.aeternity.io/mdw/names/inactive)
[code]

[2021-11-23 12:42] jyeshe commented on #354
Not present in name paths in README.md (except for `claims.tx` not in `last_bid.tx`) but mainnet.aeternity.io returns it.

[2021-11-23 15:47] #331 closed

[2021-11-23 15:51] jyeshe commented on #354
@thepiwo, ttl is not part of the tx and a name in auction (for the `last_bid.tx` in question) doesn't have also a ttl. It's only calculated and set when the auction expires.

The field is not in the readme, it appears in mainnet.aeternity.io but with `ttl: 0` as in the description of the issue.
For these reasons this might be a won't fix (don't add the ttl to the tx).

[2021-11-23 19:49] jyeshe commented on #351
"expire_height": 527791
http://localhost:4000/oracles/active/gen/500000-480000
[code]
"block_height": 519704,
http://localhost:4000/txi/28209495
[code]

[2021-11-24 08:04] thepiwo commented on #354
do we expose the ttls somewhere else? Even if its only a calculated field it will be important to consumers of our api to know.

Also your input is valued here @marc0olo

[2021-11-24 08:04] #329 closed

[2021-11-24 10:35] jyeshe commented on #354
One additional info: it's calculated in the future, when the auction expires. But if the governance doesn't change the info will be correct: `expire = height + :aec_governance.name_claim_max_expiration(proto_vsn(height))`

[2021-11-24 10:44] marc0olo commented on #354
aren't we misinterpreting `ttl` here?

are we talking about the `ttl` of the transaction itself or are we talking about the `ttl` of the name?

[2021-11-24 10:51] jyeshe commented on #354
Currently the `ttl` of the name is shown in the `info.expire_height` for active names (or inactive that had an auction expired, i.e name that was once active).

There is `info.auction_timeout` for the `ttl` of the auction (associated with name_claim_tx).

[2021-11-24 10:56] marc0olo commented on #354
I need to take some time to think about this. not sure when I will be able to comment again. I am too far away right now from this topic unfortunately

[2021-11-24 14:38] #307 closed

[2021-11-24 16:46] #351 closed

[2021-11-25 09:49] jyeshe commented on #352
Closed by #357

[2021-11-25 09:49] #352 closed

[2021-11-25 12:53] sborrazas opened #359 "Fix /transfer routes which aren't returning results properly"
There's a few issues regarding the transfers endpoints:

1. When ordering results backwards, they cannot be filtered by kind
   https://mainnet.aeternity.io/mdw/transfers/gen/20000-19000 -> all transfers are "fee_..."
   https://mainnet.aeternity.io/mdw/transfers/gen/20000-19000?kind=fee -> no "fee_..." transfers
2. when filtering by both account and kind, it does not work if the transactions bein

[2021-11-26 10:40] jyeshe commented on #354
The PR adds the ttl as the future name ttl after it's activation.
For names that were never actived (that are only in auction), this brings new information as it won't be redundant neither with info.expire_height nor info.auction_timeout.

[2021-11-26 10:42] #354 closed

[2021-11-26 21:44] sborrazas opened #361 "Logs reported on info.log only print the time, not the date of when they happened"
E.g.
[code]

[2021-11-29 17:24] jyeshe opened #364 "call_not_found error on derive aex9 presence"
[code]

[2021-11-29 18:07] jyeshe commented on #364
After filtering correctly:
18:03:17.648 [error] Task #PID<0.5743.0> started from AeMdw.Sync.AsyncTasks.LongTaskConsumer terminating
** (FunctionClauseError) no function clause matching in anonymous fn/1 in AeMdw.Sync.AsyncTasks.DeriveAex9Presence.get_aex9_recipients/3
    (ae_mdw 1.2.1) lib/ae_mdw/sync/async_tasks/derive_aex9_presence.ex:78: anonymous fn([]) in AeMdw.Sync.AsyncTasks.DeriveAex9Pres

[2021-11-30 11:28] #364 closed

[2021-11-30 11:28] #330 closed

[2021-12-01 12:15] sborrazas commented on #359
Fixed by the two PRs listed here.

[2021-12-01 12:15] #359 closed

[2021-12-01 16:19] thepiwo opened #368 "improve documentation regarding pagination"

[2021-12-01 16:28] thepiwo commented on #368
this should make clear which endpoint uses what format of query parameters for pagination

[2021-12-01 16:29] thepiwo commented on #368
https://github.com/aeternity/ae_mdw#pagination seems incorrect here

[2021-12-01 18:28] #368 closed

[2021-12-03 12:31] thepiwo opened #372 "mainnet sync got stuck with 1.3.0"
height: 302049

[code]

[2021-12-03 12:48] sborrazas commented on #372
This is the line that's failing: https://github.com/aeternity/ae_mdw/blob/v1.3.0/lib/ae_mdw/db/sync/name.ex#L221

[2021-12-06 22:03] jyeshe opened #377 "index `:contract_create_tx` events"
Currently the events are logged only for contract calls transactions:
https://github.com/aeternity/ae_mdw/blob/ee3465822fecf346acc564e36f9e209faf8444f8/lib/ae_mdw/db/sync/transaction.ex#L82

[2021-12-08 11:45] jyeshe commented on #377
@thepiwo events can also be emitted when calling a contract from a channel, right? if so any particular extra info should be added to these events (or to the contract, for instance if it was created from a channel)?

[2021-12-08 12:03] thepiwo commented on #377
channel transactions are private and thus won't be indexed by mdw

[2021-12-08 12:50] thepiwo commented on #372
latest try got suck again

[code]

[2021-12-08 14:34] marc0olo opened #380 "oracle cannot be found"
it seems like an oracle registered via contract cannot be found when calling https://mainnet.aeternity.io/mdw/oracle/ok_a5VPJHHhiKLjRZWmuSUE9W8jSrd92T7G3F6qEEf4dC7YmGYvs

[code]

the oracle has definitely existed as it responded in this transaction:
- https://mainnet.aeternity.io/mdw/contracts/calls/txi/27294255

when I am informed correctly this endpoint should provide a result for active as well

[2021-12-08 14:43] marc0olo opened #381 "fetch historical oracle information"
at the moment I see no way to get historical oracle information. from explorer perspective it would be cool to be able to show all historical queries and responses of an oracle.

ideally the query and responses are returned in one object. the response can be empty as the oracle doesn't necessarily respond.

I am not sure if this is an overkill but ideally I would also be able to fetch information

[2021-12-09 17:21] thepiwo opened #386 "obfuscate cursor to not encourage setting it manually"

[2021-12-09 18:17] sborrazas opened #387 "Mnesia transaction code removal"
Right now the mnesia transaction deals with logic that can be moved outside of it for efficiency. In particular, we should be able to remove most of the calls that are made to the core modules, which potentially create exceptions that would interfere with mnesia's transaction.

Ideally, the code inside the mnesia transaction should only be a sequence of writes.

[2021-12-09 18:19] sborrazas opened #388 "Syncing process failure recovery"
Right now, for every exception thrown in the syncing process, the middleware completely stops syncing. Most of these exceptions are gone when retrying, so we should look into mechanisms to do so without having to manually restart the server.

We should also try to implement as much of #387 as possible, so that we reduce the amount of exceptions that happen inside the mnesia transaction.

[2021-12-10 01:40] jyeshe commented on #386
Suggestion: remove conflicting info of cursor and ranges.

[2021-12-10 01:51] jyeshe commented on #387
We have been working on it divided into 2 fronts (at least):
i) mutations
ii) preloading the data needed for the mutations

The #366 is a WIP for the preloading.

[2021-12-10 11:41] jyeshe commented on #387
I wouldn't consider this an enhancement since it's an issue that affects the commit of the transaction.

[2021-12-10 12:34] thepiwo commented on #386
1. isn't the range included to limit the results?
2. could be, but I think its good to keep

[2021-12-10 13:09] thepiwo commented on #380
also not found here: https://mainnet.test.aeternity.art/mdw/oracle/ok_a5VPJHHhiKLjRZWmuSUE9W8jSrd92T7G3F6qEEf4dC7YmGYvs

[2021-12-13 11:29] #361 closed

[2021-12-13 12:28] jyeshe commented on #386
1. The limit of the results is performed by `limit` param for `n` items before or after the cursor.
2. Okay, that's fine too. `cursor` stays an index (encoded or not) to a record of a table.

[2021-12-13 15:39] jyeshe commented on #386
Providing an example on why the range is redundant:
http://localhost:4000/stats/gen/1100-2000?cursor=1100&limit=100
(while the actual range is cursor 1100 + 100)

[2021-12-13 16:18] jyeshe commented on #344
@thepiwo this is the main reason to close the issue:
https://github.com/aeternity/ae_mdw/pull/345#issuecomment-979060850

Besides this, `update` and `transfer` name transitions are performed with the input from the chain:
- update: `delta_ttl = tx_val(tx, :name_update_tx, :name_ttl)`
- transfer: `new_owner = :aens_transfer_tx.recipient_pubkey(tx)`

The `revoke` deletes a name after a `tx` from the

[2021-12-13 16:54] jyeshe opened #396 "name expiration consistency"
[code]
However, old expirations are always deleted on:
- update: https://github.com/aeternity/ae_mdw/blob/045ee3518e38b4cdff92f7163da6f697c905b7d2/lib/ae_mdw/db/sync/name.ex#L127
- revoke: https://github.com/aeternity/ae_mdw/blob/045ee3518e38b4cdff92f7163da6f697c905b7d2/lib/ae_mdw/db/sync/name.ex#L176
- expire: https://github.com/aeternity/ae_mdw/blob/045ee3518e38b4cdff92f7163da6f697c905b7d2/lib/a

[2021-12-14 11:32] marc0olo opened #397 "index ga_attach_tx contracts"
see https://github.com/aeternity/mdw-frontend/issues/135

[2021-12-14 12:34] sborrazas commented on #346
These are the findings I concluded when syncing 250,000 generation forward:

1. Contract call transactions on the when processing the WriteLinksMutation
   This includes the two calls to mnesia:
     a. [Call to fetch the block](https://github.com/aeternity/ae_mdw/blob/master/lib/ae_mdw/db/sync/contract.ex#L36)
     b. [Call to fetch the contract creation txi](https://github.com/aeternity/ae_mdw/b

[2021-12-14 12:42] #377 closed

[2021-12-15 11:38] thepiwo commented on #344
@jyeshe what happens for name actions inside contracts?

[2021-12-15 11:40] thepiwo commented on #386
if it includes gen 1100 to 2000, what keeps it from going over the borders if we don't know the generation any more?

[2021-12-15 14:08] jyeshe commented on #396
@thepiwo @sborrazas here is there analysis that shows why we shouldn't have any name expiration issues. Summarizing, whenever a new expiration is saved and old is deleted (happen together in the same function without condition). The height of the old expiration deleted is also the very same height that was saved before (without any computation, read directly from the record).

The only possibility

[2021-12-15 14:55] jyeshe commented on #396
Despite being sufficient the factor above, another factor that makes it even more clear the inconsistency on mnesia transactions is that these are intermittent issues for a sync execution that happens without concurrency in a single process with immutable input.

[2021-12-15 14:55] thepiwo commented on #396
sounds good to me, so this issue can be closed?

[2021-12-15 14:58] jyeshe commented on #396
Yes @thepiwo , smaller commits will fix it. If not by microblocks, with commits by transactions later.

[2021-12-15 15:42] sborrazas commented on #396
I'm not particularly sure if those lines of code listed here do prove that the code itself doesn't let the database enter into an inconsistent state. For the following two reasons:

* It's using an ETS cache in between, which could potentially introduce bugs (caches always do)
* The keys used to write and delete the active auctions could potentially change between calls, we might be writing two `A

[2021-12-15 16:09] jyeshe commented on #396
@sborrazas thank you for the considerations.

Regarding the ETS the operations are write/read through and happens always in the same sequence. With smaller commits there was no undeleted old expiration also. With a single process it should be deterministic, right?

Please have a look that there is no write for two different explorations (two simultaneous auctions are not allowed for the same name)

[2021-12-16 12:11] jyeshe commented on #386
The proposal is to remove the 1100 to 2000. `cursor` + `limit` is the actual range.

[2021-12-16 16:01] thepiwo commented on #386
how would `/stats/forward?cursor=1100&limit=100` know to stop at gen 2000?

[2021-12-16 17:20] jyeshe opened #404 "graceful shutdown"
Database might enter in inconsistent state when the `Mdw` is stopped:

[code]

`Util.one` error happens when reading sum stat of the previous height:
https://github.com/aeternity/ae_mdw/blob/cad2ffb930faec28937891756b48de9a71664a99/lib/ae_mdw/db/mutations/stats_mutation.ex#L101-L105

Considering that the `Transaction.sync_generation` is called [always](https://github.com/aeternity/ae_mdw/blob/cad2

[2021-12-17 09:46] jyeshe opened #405 "testnet sync aborted on contract get_info"
[code]

[2021-12-17 10:14] jyeshe commented on #405
```{'Elixir.AeMdw.Contract',get_info,1,[{file,"lib/ae_mdw/contract.ex"},{line,44}]}```
https://github.com/aeternity/ae_mdw/blob/b17a94b6698a17cae76297be83c7fd60aac5abf9/lib/ae_mdw/contract.ex#L44

This function returns a `{:ok, contract}` or `{:error, :not_present}` (when the contract `init` failed). The `:error` return is being handled and cannot cause this issue. By elimination leaves only with

[2021-12-17 12:27] jyeshe commented on #386
`/stats/gen/1100-2000?cursor=1100&limit=100` doesn't stop at 2000 (:
the range is ignored and `cursor` + `limit` is applied.

[2021-12-17 12:36] thepiwo commented on #405
[code]

[2021-12-17 13:33] jyeshe commented on #404
[code]

[2021-12-17 13:34] jyeshe commented on #404
on multiple restarts:
[code]

[2021-12-17 15:24] thepiwo commented on #386
hmm it should probably do stop if the gen is specified like this, when we have 1100- it can be unlimited

[2021-12-20 12:51] jyeshe commented on #405
pubkey:
`<<53, 33, 115, 63, 19, 41, 66, 139, 153, 76, 125, 241, 86, 196, 48, 54, 174, 188, 39, 189, 28, 250, 88, 162, 87, 32, 39, 141, 73, 73, 69, 236>>`

code:
`{:ref, {:id, :contract,  <<110, 237, 102, 0, 124, 104, 27, 6, 208, 180, 93, 116, 244, 105, 113, 126,  220, 167, 30, 47, 61, 131, 145, 240, 7, 238, 21, 153, 48, 94, 64, 134>>}}`

[2021-12-20 14:43] jyeshe commented on #344
@thepiwo If a name tx is not created for the name action, it would be a missing feature. Otherwise, if the action becomes a name tx, it will behave the same as above.

[2021-12-20 14:47] jyeshe opened #408 "index AENS internal calls"
Investigate how the `Mdw` receives the AENS calls inside a contract.

[2021-12-20 14:54] jyeshe commented on #344
Opened the issue: https://github.com/aeternity/ae_mdw/issues/408

[2021-12-20 16:34] #405 closed

[2021-12-20 17:04] thepiwo commented on #372
will be worked on with this https://github.com/aeternity/ae_mdw/issues/388

[2021-12-20 17:05] #372 closed

[2021-12-20 17:07] #344 closed

[2021-12-20 17:12] thepiwo opened #410 "investigate need for legacy endpoint"

[2021-12-20 17:22] jyeshe commented on #386
@thepiwo It stops before the 2000 because it uses the `cursor + limit`. I would stop at `1100 + 100`.
I don't consider an operational issue but only a design one (to remove part of the path that is not used).

[2021-12-22 10:55] jyeshe opened #414 "investigate high memory consumption"
There was a growing memory consumption during 1 day while syncing:
![image](https://user-images.githubusercontent.com/44991200/147081731-0960a282-ec7d-4aed-8451-cb44138fc278.png)

[2021-12-22 11:08] jyeshe commented on #414
Investigation needed for versions before and after 1.4.0.
Before (multiple times) because:
- ca7f295 was not merged yet (was on hold)
- during the sync process there is no buffer except for caches that were not changed in 1.4.0
- caches were not changed for a long time except for removing them with new pagination
- the latest cached change was`:ets.insert(:ct_create_sync_cache, {contract_pk, txi})

[2021-12-22 11:16] jyeshe commented on #414
Investigation needed for versions before and after 1.4.0.
Before (multiple times) because:
- during the sync process there is no buffer except for caches that were not changed in 1.4.0
- caches were not changed for a long time except for removing them with new pagination
- the latest cached change was`:ets.insert(:ct_create_sync_cache, {contract_pk, txi})` but it is erased every generation

After

[2021-12-22 14:51] jyeshe commented on #329
An example of the reason for closing:
https://mainnet.aeternity.art/mdw/txi/27158031
https://mainnet.aeternity.io/mdw/tx/th_2iRCmwPgNY1j3dwBqMHLiBgtS6HprCMY1b8GsR8T6o2QzZJGCn
https://mainnet.aeternity.io/mdw/txs/gen/503924-503926?limit=1000&page=1&recipient_id=ak_wTPFpksUJFjjntonTvwK4LJvDw11DPma7kZBneKbumb8yPeFq

The Mdw is now indexing transactions that were missing before.

[2021-12-22 14:59] jyeshe commented on #329
until this point 31 more transactions indexed
https://mainnet.aeternity.io/mdw/txi/27290779
https://mainnet.aeternity.art/mdw/txi/27290810

[2021-12-22 15:19] jyeshe commented on #388
Leaving the #387 with it's own scope, this is in progress with a refactoring of the sync pipeline.

[2021-12-22 15:22] jyeshe commented on #388
Leaving the #387 with it's own scope, this is in progress with a refactoring of the sync pipeline so that when sync process ends with a reason other than `:normal` doesn't put the subscriber down and reprocessing the height makes the sync to continue from last synced (until max_height).

[2021-12-22 16:04] Lfh2msn opened #415 "Could not get the balance list"
Could not get the account balance list under the contract address
eg:
[https://mainnet.aeternity.io/mdw/aex9/balances/ct_uGk1rkSdccPKXLzS259vdrJGTWAY9sfgVYspv6QYomxvWZWBM](https://mainnet.aeternity.io/mdw/aex9/balances/ct_uGk1rkSdccPKXLzS259vdrJGTWAY9sfgVYspv6QYomxvWZWBM)

[2021-12-22 16:09] Lfh2msn opened #416 "Account list AEX9 Name obtained"
Getting AEX9 account list does not know the token name directly

https://mainnet.aeternity.io/mdw/aex9/balances/account/ak_2kxt6D65giv4yNt4oa44SjW4jEXfoHMviPFvAreSEXvz25Q3QQ

[2021-12-23 13:59] thepiwo opened #419 "add mdw git revision to status endpoint"

[2021-12-23 14:00] thepiwo commented on #415
this is an issue with the old deployment and is already fixed with the upcoming release

[2021-12-23 14:00] thepiwo commented on #416
@sborrazas @jyeshe will this be simple to add?

[2021-12-23 14:03] thepiwo opened #420 "consider paginating mdw/aex9/balances"
result may take very long, e.g. https://mainnet.aeternity.art/mdw/aex9/balances/ct_uGk1rkSdccPKXLzS259vdrJGTWAY9sfgVYspv6QYomxvWZWBM

[2021-12-23 22:14] jyeshe opened #422 "contract calls to a non existing contract returns all calls"
http://localhost:4000/contracts/calls/backward?contract_id=ct_2Tjv7NJmX1tPoUYM6WYJgueneF4PjktQ49jPFRknGTEiSQYhH6
http://localhost:4000/txs/backward?contract_id=ct_2Tjv7NJmX1tPoUYM6WYJgueneF4PjktQ49jPFRknGTEiSQYhH6

[2021-12-24 11:23] jyeshe commented on #416
Currently the model doesn't have all the info because the AEX9 presence might be associated with a `call_txi` but it won't be complex to reindex having always the `create_txi`.

[2021-12-24 12:03] Lfh2msn commented on #416
I think this is very important, and applications need it. It should not be processed twice at all application layers.

[2021-12-25 09:07] jyeshe opened #425 "index aex9 contracts with chain.clone and chain.create"

[2021-12-27 10:34] #387 closed

[2022-01-03 08:15] thepiwo commented on #414
from my side this was not seen with sync of 1.4.0

[2022-01-03 08:15] thepiwo commented on #425
should definitely be done for consistency

[2022-01-03 08:16] thepiwo commented on #420
@sborrazas @jyeshe what do you think?

[2022-01-03 08:16] thepiwo commented on #420
as this would be a breaking change, maybe we can then also create a branch for changes to wait for a 2.x release

[2022-01-03 08:18] thepiwo commented on #386
so currently `/stats/gen/1100-2000/forward?cursor=1100&limit=100` then next and next, ..., would not be limited by the `gen/1100-2000`? That sounds like a bug to me and should be fixed.

[2022-01-03 08:24] thepiwo commented on #295
@jyeshe this can be closed now with the async task adjustments, right?

[2022-01-03 08:25] #191 closed

[2022-01-03 08:25] #192 closed

[2022-01-03 08:28] #29 closed

[2022-01-03 08:29] thepiwo commented on #185
with the latest refactoring previously ignored `page` is now fully removed.

[2022-01-03 08:29] #185 closed

[2022-01-03 08:34] thepiwo commented on #381
@sborrazas @jyeshe can you add your feedback, how much work would that be?

[2022-01-03 08:36] thepiwo commented on #184
next is now fully cursor based, `page` was never fully supported to go forwards or backwards, I will close this for now

[2022-01-03 08:36] #184 closed

[2022-01-03 08:37] thepiwo commented on #181
I think our current implementation is fine, if this discussion should be revived, feel free to open again with some arguments

[2022-01-03 08:37] #181 closed

[2022-01-03 08:39] thepiwo commented on #179
feel free to reopen with futher information if this still applies

[2022-01-03 08:41] thepiwo commented on #103
this is the case now with the cursor refactoring

[2022-01-03 08:41] #103 closed

[2022-01-03 10:48] sborrazas commented on #420
@thepiwo not pagination an unlimited list of results is very dangerous. They end up being susceptible to very naive DDoS attacks, so they are a security concern

[2022-01-03 14:51] jyeshe commented on #420
Assigning to myself as we've talked in the meeting to cache the results of long dry runs (persisting them).

[2022-01-03 14:57] jyeshe commented on #420
Linking this to the #295 which I will assign to myself as we've talked in the meeting to cache the results of long dry runs (persisting them). The pagination could be indeed implemented regardless of the cache though to help seeing result for big contracts and be better prepare for DEX.

[2022-01-03 15:00] jyeshe commented on #295
The solution we've discussed now in the meeting is to cache/persist the result when updating aex9 presence.

[2022-01-03 15:57] #416 closed

[2022-01-03 16:07] jyeshe commented on #415
Complementing the reason aforementioned, it was fixed with #267

[2022-01-03 17:22] jyeshe opened #433 "test script or case to validate transaction hashes across multiple resyncs"

[2022-01-04 08:38] thepiwo commented on #410
apparently it is not used anymore as the legacy domain forward is gone for some time already

@sborrazas lets disable the endpoint with the next release, then lets see if we get some reports from users, if not lets fully remove the code the release after next

[2022-01-04 16:31] #419 closed

[2022-01-04 16:36] jyeshe opened #437 "update aex9 presence after other calls besides transfer"
Preferably exclude the non stateful method calls from the `:update_aex9_presence`.

[2022-01-05 15:00] jyeshe commented on #437
Calls that are explicit regarding the destination of the transfer funds will be used for mapping the account presence in an AEX9.
For other calls, the AEX9 balance will be used to continue tracking the up to date account presence.

[2022-01-05 18:13] jyeshe opened #442 "intermitent expirations inconsistencies"
Even after smaller :mnesia transactions, name expirations continue to be intermittently inconsistent.

[2022-01-06 13:24] #442 closed

[2022-01-07 10:09] sborrazas commented on #208
@thepiwo yes

[2022-01-07 10:09] #422 closed

[2022-01-07 10:13] #208 closed

[2022-01-10 12:51] jyeshe opened #448 "document manual test plan and results"

[2022-01-10 16:06] marc0olo opened #450 "`/totalstats` and `/stats` broken"
affected version: `v1.4.0`

## current response
[code]

## problem:
- values are zero and total supply doesn't seem to change

----------

additionally I am wondering if there was a breaking change in `/stats` because the https://aenalytics.org webseite doesn't display the number of auctions, names, contracts & oracles anymore

[2022-01-10 16:13] marc0olo commented on #450
update: problem is also existent for `/stats`

[2022-01-10 16:14] jyeshe commented on #450
`mnesia_rocksdb` bug affects `/totalstats`:
[code]

[2022-01-10 18:03] jyeshe opened #453 "/totalstats and /stats broken for the first height after resuming sync"
`mnesia_rocksdb` bug affects `/stats` on first height after resuming sync:
[code]
`:mnesia.table_info` is used only when `false = all_cached?`

_Originally posted by @jyeshe in https://github.com/aeternity/ae_mdw/issues/450#issuecomment-1009037563_

[2022-01-11 09:19] marc0olo commented on #381
@sborrazas can we close this? I just saw your comment in the issue of the frontend. seems like it's already doable. do the responses mentioned there already include all the historical oracle queries and responses?

we need a bit of a logic in the frontend to connect the responses to the queries. but I think that's ok

[2022-01-11 10:26] sborrazas commented on #381
@marc0olo to include all oracle-related txs you need to use `type_group=oracle` query filter, like so: https://mainnet.aeternity.io/mdw/txs/forward?type_group=oracle&oracle_id=ok_g5vQK6beY3vsTJHH7KBusesyzq9WMdEYorF8VyvZURXTjLnxT

This will include both query and responses. I think we can close this issue then

[2022-01-11 10:50] marc0olo commented on #381
yeah, awesome! can be closed =)

[2022-01-11 12:26] #453 closed

[2022-01-11 12:40] marc0olo commented on #381
@sborrazas it seems like we are unable to correlate the respond tx and the query tx with the grouped request. the `query_id` seems to be missing for the `OracleQueryTx` object :-(

`{"fee":20000,"nonce":3,"oracle_id":"ok_g5vQK6beY3vsTJHH7KBusesyzq9WMdEYorF8VyvZURXTjLnxT","query":"YmluYXJ5","query_fee":20000,"query_ttl":{"type":"delta","value":1000},"response_ttl":{"type":"delta","value":1000},"sen

[2022-01-11 12:48] jyeshe commented on #408
This is an internal call of `AENS.transer` (from a contract):
https://mainnet.aeternity.io/mdw/tx/th_UxcRziCXeASMPETVPXbRbfzunzCKYH3Zo2kkRAML6hQy6GBz5

The transfer is not present here (`tx_index` 23210288):
https://mainnet.aeternity.io/mdw/name/rega12length.chain

It doesn't generate a `aens_transfer_tx` in the microblock (as expected) so AENS internal calls shall be indexed separately.

[2022-01-11 13:13] jyeshe commented on #415
Closing after testing on mainnet deployment (took about 20 seconds because it's a big contract but #295 will address the performance).

[2022-01-11 13:13] #415 closed

[2022-01-12 19:16] jyeshe opened #459 "keep only one aex9 account presence record per account and contract pair"
An improvement to the table index is to change it
from: ``{account_pk, create_or_call_txi, contract_pk}`
to: `{account_pk, contract_pk, create_txi, call_txi}` because only the last `call_txi` matters.

It's retrieved only by `aex9_search_contract` that is called by `account_balances_reply` that filters by:
[code]
PS: Before this enhancement, with the current model, it could check if already exists

[2022-01-12 20:10] jyeshe commented on #346
Profiling the reading from generation 0 to 540,000:
- loading blocks: 7h40m
- loading blocks + events: 12h (already with the optimization of #376)

Dry-running the txs to get 2 events in parallel reaches an improvement of 50% but degrades the performance after 300,000.

Since dry-running still represent almost 40% of total read time, an opportunity of optimization is to drop the transactions after

[2022-01-13 13:33] #341 closed

[2022-01-13 14:06] jyeshe commented on #459
or better:
to: `{account_pk, contract_pk, create_txi}` and `call_txi` goes to the value to allow overwriting without the need to read the previous value.

[2022-01-13 16:05] sborrazas commented on #380
This happens because we're not indexing oracles created through contract calls. I'll have a PR up soon

[2022-01-13 19:28] jyeshe opened #462 "add pagiation to /names/owned_by"

[2022-01-14 09:04] #437 closed

[2022-01-14 10:04] #157 closed

[2022-01-17 15:48] sborrazas opened #468 "Not indexing some of the contract call oracle events"
Related to #380, I've also found that `Oracle.respond` is being indexed as an internal call, but is not indexed in terms of internal transfers belonging to specific oracles.

[2022-01-17 19:58] marc0olo opened #469 "loading AEX9 tx for specific account results in a timeout"
problably too many tx. issue might be a duplicate. didn't check to be honest. please close if we already have an issue to address this

https://mainnet.aeternity.io/mdw/aex9/transfers/from/ak_fCCw1JEkvXdztZxk8FRGNAkvmArhVeow89e64yX4AxbCPrVh5

[2022-01-20 17:55] jyeshe commented on #346
Here is a comparison on writing between Mnesia (mnesia_rocksdb) vs RocksDb (direct use of NIF):
[code]
Result:
[
  {5050587, {:atomic, :ok}},
  {4639954, {:atomic, :ok}},
  {3789296, {:atomic, :ok}},
  {4121616, {:atomic, :ok}},
  {3814365, {:atomic, :ok}}
]
[code]
Result:
[
  {3156564, :ok},
  {2624777, :ok},
  {2380993, :ok},
  {2825805, :ok},
  {2816860, :ok}
 ]

Mnesia p90: 4716749 microsecs
R

[2022-01-20 17:56] jyeshe commented on #346
Here is a comparison on writing between Mnesia (mnesia_rocksdb) vs RocksDb (direct use of NIF):

names = :mnesia.dirty_all_keys(Model.ActiveName)
m_names = names |> Enum.take(100_000) |> Enum.flat_map(fn key -> :mnesia.dirty_read(Model.ActiveName, key) end)
delete = fn -> names |> Enum.take(100_000) |> Enum.each(fn key -> :mnesia.dirty_delete(Model.ActiveName, key) end); end
write100k = fn -> :tim

[2022-01-21 12:01] #408 closed

[2022-01-21 13:50] thepiwo opened #476 "add prev field for paginated results"

[2022-01-21 14:01] jyeshe opened #477 "pointers not found when name is updated with internall call"
[code]

[2022-01-21 14:58] jyeshe opened #478 "aens internal transfer call fails on name that had an aens.update with same height as expiration"
transfer that fails on mydev0123456789:
https://mainnet.aeternity.art/mdw/contracts/calls/forward?function=AENS.transfer

expired at 443440 and had a internal call at same height to update/extend the name:
https://mainnet.aeternity.io/mdw/contracts/calls/forward?function=AENS.update&limit=1

[code]

[2022-01-24 11:03] jyeshe opened #482 "migrations should not rerun after importing a database"
After the migrations are applied in the same machine, they don't rerun (the current migration version is respected).
This a clue to some persistence behaviour involving `:mnesia` as the write command is the same and the migrations table is in the imported database.

[2022-01-24 14:15] jyeshe commented on #478
the expiration on `443440`:
[code]
     {{443440, 0}, 23198023},

[2022-01-24 15:23] jyeshe opened #485 "aens transfer doesn't extend expiration"
This is a blocker for the syncing process:
[code]
EDIT: not reproduced

[2022-01-24 20:27] jyeshe commented on #425
Gonna add aex9 info and we will have the feature done.
[code]

[2022-01-26 08:58] jyeshe commented on #485
iex(aeternity@localhost)1> 08:44:51.100 [error] Supervisor 'Elixir.AeMdw.Db.Sync.Supervisor' had child 'Elixir.AeMdw.Db.Sync' started with 'Elixir.AeMdw.Db.Sync':start_link([]) at <0.1449.0> exit with reason no match of right hand value {aborted,{#{'__exception__' => true,'__struct__' => 'Elixir.RuntimeError',message => <<"\"mydev0123456789.chain\" not found in Elixir.AeMdw.Db.Model.ActiveName">>}

[2022-01-26 09:02] jyeshe commented on #485
at 443442
[code]
This `AENS.update` [internal call](https://mainnet.aeternity.io/mdw/contracts/calls/forward?function=AENS.update&limit=1) with `name_ttl` = 0 is expiring the name.

[2022-01-26 09:03] #478 closed

[2022-01-26 10:10] jyeshe opened #489 "new /aex9/by_contract endpoint path"
Same response fields as /aex9/by_name (except for contract_id that could be omitted since it's passed as param) but filtering by contract_id

[2022-01-26 10:14] marc0olo commented on #489
not sure if `contract_id` needs to be omitted. probably good to have it included, too

[2022-01-26 10:16] jyeshe commented on #485
a `:name_update_tx` (not internal call) with `name_ttl` = 0 that expires the name (the state for the name in the node is `revoked`):
https://mainnet.aeternity.io/mdw/txs/forward?name=kryptokrauts.chain&type=name_update

[2022-01-26 11:56] jyeshe opened #490 "aens update expires a name when name_ttl = 0"
at 443442
[code]
This `AENS.update` [internal call](https://mainnet.aeternity.io/mdw/contracts/calls/forward?function=AENS.update&limit=1) with `name_ttl` = 0 is expiring the name while it shouldn't. There is this [NameUpdateTx](https://mainnet.aeternity.io/mdw/txi/28570108 ) that shows that the name should be active.

_Originally posted by @jyeshe in https://github.com/aeternity/ae_mdw/issues/485

[2022-01-26 11:58] jyeshe commented on #490
A `:name_update_tx` (not internal call) with name_ttl = 0 that expires the name:
https://mainnet.aeternity.io/mdw/txs/forward?name=kryptokrauts.chain&type=name_update
After this the state for the name (also) in the node is revoked/expired.

This means that only `AENS.update` internal call with `name_ttl` = 0 should not expire a name.

[2022-01-26 11:59] jyeshe commented on #485
Closing as it was not reproduced (mnesia inconsistency)

[2022-01-26 11:59] #485 closed

[2022-01-26 18:29] sborrazas commented on #468
Closing, since we're now indexing all oracle calls inside contract calls.

[2022-01-26 18:29] #468 closed

[2022-01-27 10:49] #490 closed

[2022-01-27 10:51] jyeshe opened #492 "testnet mutation error"
[code]

Reproducible with testnet .art database snapshot.

[2022-01-28 09:52] #492 closed

[2022-01-28 13:03] jyeshe opened #495 "testnet contract error when getting aex9_meta_info"
[code]

[2022-01-28 13:38] thepiwo opened #497 "plan for introduction of breaking changes"

[2022-01-28 13:41] thepiwo opened #498 "plan for introduction of breaking changes"
- make breaking changes routes `/v2/` prefixed
 - deploy 1.X.X and 2.X.X

 discuss route versioning

[2022-01-28 13:53] #495 closed

[2022-01-28 14:42] sborrazas commented on #498
I think the approach we should take when it comes to routes versioning should be by prefixing the version of the API to all the routes. Similar to how many APIs do it, including [the Twitter API](https://developer.twitter.com/en/docs/twitter-api).

If we use this mechanism I would suggest using the following approach for each of these cases:
1. If a new route if needed, we simply add it to the cur

[2022-01-31 14:51] jyeshe commented on #397
Regression failed (side effect of other feature/fix):
https://testnet.aeternity.io/mdw/txs/forward?type=ga_attach&owner_id=ak_2RUVa9bvHUD8wYSrvixRjy9LonA9L29wRvwDfQ4y37ysMKjgdQ
https://testnet.aeternity.io/mdw/txs/forward?contract_id=ct_Be5LcGEN2SgZh2kSvf3LqZuawN94kn77iNy5off5UfgzbiNv4

[2022-01-31 15:33] jyeshe opened #500 "AENS.update call_txi missing on updates"
https://mdw2.mainnet.aeternity.io/mdw/contracts/calls/forward?function=AENS.transfer
https://mdw2.mainnet.aeternity.io/mdw/name/888888888888.chain (call txi present in transfers)

https://mdw2.mainnet.aeternity.io/mdw/contracts/calls/backward?function=AENS.update
https://mdw2.mainnet.aeternity.io/mdw/name/rega12length.chain (call txi missing in updates)

[2022-01-31 16:09] jyeshe commented on #500
AENS.update was correctly ignored regarding expiration but should be written to `:updates`:
https://mdw2.mainnet.aeternity.io/mdw/contracts/calls/backward?contract_id=ct_q6gAYZuB7o7QJhEjQBFsQ2kANY84TkqStppQDF9uADz4rFWTc

[2022-02-01 15:48] marc0olo commented on #450
seems to be fixed for `/totalstats` in `v1.5.0`

still missing data for `/stats`

[2022-02-01 17:55] marc0olo commented on #450
apparently we had a different interpretation of that endpoint and somehow we introduced breaking changes here lately.

as discussed in chat we will proably leave `/stats` like is (stats exclusively for a specific cursor/height) and add the "old stats" to the `/totalstats` endpoint.

waiting for @thepiwo to comment / confirm.

[2022-02-02 08:11] thepiwo commented on #450
`/stats` is per height stats, e.g. for graphs
`/totalstats` is aggregated data since genesis

[2022-02-02 08:16] marc0olo commented on #450
alright, then let's add the missing aggregated data since genesis in `/totalstats`

[2022-02-02 08:38] davidyuk opened #503 "`/mdw/` is not defined in testnet swagger file"
I'm using https://testnet.aeternity.io/mdw/swagger/swagger.json to generate a swagger client using `swagger-client` package in JS.

The swagger file doesn't define `/mdw/` sub patch anyhow (expected to be in `basePath` property), so `swagger-client` requests https://testnet.aeternity.io/status instead of https://testnet.aeternity.io/mdw/status.

Also #160 is still actual

[2022-02-02 08:43] marc0olo commented on #503
I don't think the swagger.json is currently a reliable source. we probably can't and shouldn't use it at the moment. this is probably also the reason why #189 exists

@thepiwo do we already have a task for the swagger definitions?

not sure if we currently have somebody who could tackle this. but at least @ifaouibadi told me he'd be interested. though I think we need him in other areas at least sh

[2022-02-03 16:15] jyeshe opened #507 "missing create_txi for aex9 contract from a ContractCreateTx"
https://testnet.test.aeternity.art/mdw/aex9/balances/account/ak_2kE1RxHzsRE4LxDFu6WKi35BwPvrEawBjNtV788Gje3yqADvwR

MatchError at GET
no match of right hand side value: `{25855442, "TestAEX9-A", "TAEX9-A", 18}`

[code]

[2022-02-04 04:48] davidyuk commented on #503
I'm using it with some fixes in Base app, would be more difficult to don't use it

[2022-02-04 04:55] davidyuk opened #508 "Replace names/pointees with name/pointees in Swagger file"
The endpoint https://mainnet.aeternity.io/mdw/name/pointees/ak_jupBUgZNbcC4krDLR3tAkw1iBZoBbkNeShAq4atBtpFWmz36r have a wrong definition in Swagger file:
[code]

[2022-02-04 05:13] davidyuk opened #509 "Different auction schema depending on if name was registered before"
https://mainnet.aeternity.io/mdw/name/tel.chain

[code]

https://mainnet.aeternity.io/mdw/name/btc.chain

[code]

So, in the first case would be nice to have name hash, and `info` renamed to `auction` (otherwise, I should do `(response.auction ?? response.info).auction_end` on client side). Can't confirm that the current behavior is defined in the Swagger file.

[2022-02-04 05:42] davidyuk opened #510 "Testnet node is unsynced 🤷‍♀️"
[code]
the sync gap is about 3000 blocks

[2022-02-04 05:46] davidyuk opened #511 "Wrong maximum of limit parameter of get_all_auctions method in Swagger file"
It is defined as
[code]
but actually
[code]

[2022-02-04 06:14] davidyuk opened #512 "Page parameter is documented in Swagger, but not working actually"
For instance, https://mainnet.aeternity.io/mdw/names/auctions?limit=2 returns the same as https://mainnet.aeternity.io/mdw/names/auctions?limit=2&page=2.

Propose to remove the page parameter from Swagger file.

[2022-02-04 09:48] jyeshe commented on #507
Txi and contract of balances for this account:

24199259: <<14, 253, 42, 146, 208, 195, 85, 40, 21, 9, 27, 81, 94, 64, 204, 219, 28, 246,
  200, 229, 246, 103, 24, 140, 120, 117, 74, 147, 6, 188, 39, 4>>
MATCH {24199259, "TestAEX9-WaeP", "TAEX9-WaeP", 18}

24199246: <<41, 194, 64, 88, 171, 214, 255, 44, 193, 234, 253, 232, 156, 65, 14, 206, 174,
  245, 60, 250, 112, 209, 206, 227, 190, 75, 86, 143

[2022-02-04 09:55] jyeshe commented on #507
Contract created from a contract call:
http://localhost:4000/txi/25729031
[code]

[2022-02-04 09:56] jyeshe commented on #507
Closing as a duplicated of https://github.com/aeternity/ae_mdw/issues/425

[2022-02-04 09:56] #507 closed

[2022-02-04 10:06] jyeshe opened #513 "testnet sync taking too long"
Happening only on testnet.

https://mdw2.testnet.aeternity.io/mdw/status
[code]

[2022-02-04 10:10] jyeshe commented on #510
Hi @davidyuk this Mdw version 1.4.0 is still in the old version which is not able to cope with some of contracts (when it's code is a reference to the code of another contract for instance) so it hangs.

I am closing this issue in favor of:
https://github.com/aeternity/ae_mdw/issues/513

Thanks

[2022-02-04 10:10] #510 closed

[2022-02-04 11:08] jyeshe commented on #425
Not enough as there is no `Chain.create` nor `Chain.clone` for `ct_skLwjzYhBH4J9ETuayxiVRaoYJmgdMfZJcrc581fpjEm84ykm` from #507

[2022-02-04 14:04] jyeshe commented on #513
@sborrazas I had a quick look on the testnet sync locally and couldn't find the update aex9 presence causing it. You would be great to have your help reviewing the other changes for the v1.5 that might be causing it.

[2022-02-07 13:37] davidyuk opened #516 "automatically publish docker image"
I've checked https://hub.docker.com/u/aeternity, but can find the only old middleware.

[2022-02-07 13:40] davidyuk opened #517 "Use git submodule instead of NODEROOT"
This would simplify the initial setup step and strictly bind middleware with the corresponding version of node

[2022-02-07 13:40] marc0olo commented on #516
we don't have a good solution for this yet. was also a topic I raised multiple times already.

see #195 and #334

personally I created a repository to build and publish a node image along with mdw. but it will never include devmode.

see https://github.com/kryptokrauts/ae-image-builder

it is being published here: https://hub.docker.com/r/kryptokrauts/aeternity/tags

[2022-02-07 14:51] davidyuk opened #518 "Can't setup middleware for local development on a private chain"
I've clonned both `ae_mdw` (067f2c4, 1.5.0 tag) and `aeternity` (39941357, v6.4.0) to the same folder. Opened `ae_mdw`.

Adjusted configuration a bit:
[code]

Executed `docker-compose build` and `docker-compose up`.

<details>
  <summary>The logs looks fine</summary>

[code]

</details>

But, the beneficiary account contains no tokens:

[code]

Node is not mining blocks:

[code]

[code]

[2022-02-07 15:23] #489 closed

[2022-02-08 09:25] #450 closed

[2022-02-09 12:20] thepiwo commented on #516
@venimus do you have an update on this?

[2022-02-09 12:21] thepiwo commented on #518
the docs currently say only ae_mainnet and ae_uat are supported, but I don't know the technical reason. @jyeshe @sborrazas

[2022-02-09 13:17] jyeshe commented on #518
Since node v6.3.0 this is needed in config.exs:
`config :aecore, network_id: "ae_uat"`

[2022-02-09 13:22] sborrazas commented on #518
There's also the devnet configuration that can be used to set up a dev chain (where transactions are processed instantly).

[This closed PR](https://github.com/aeternity/ae_mdw/pull/336/files#diff-e5145f4f4816e316104f29388aa53972b768d34780928681e92994777f24db17R33) contains a sample on how you can additionally set up a devnet with the JS SDK to be able to create transactions locally

[2022-02-09 13:45] thepiwo commented on #518
@davidyuk can you use something else then `ae_uat` for this? Anyways I think its a node issue, not a mdw issue

[2022-02-09 13:50] jyeshe commented on #518
At least when running ad-hoc images with `make docker-shell`

[2022-02-10 11:27] davidyuk commented on #518
I just wasn't aware of what with what is compatible. Can we define it somehow explicitly in readme/release notes/#517?

I used `ae_uat` but with peers disabled to get the needed behavior.

I don't need to setup a local mdw anymore, but would be nice to have it documented.

[2022-02-10 11:32] davidyuk commented on #179
@thepiwo nothing changed here as I see, but I don't have "Reopen" button, can you do it for me?

[2022-02-10 11:39] davidyuk opened #525 "To have `.info.version` in swagger file equal to middleware version"
Currently, mdw@1.5.0 has "1.0" in the Swagger file. I assume that the middleware version is the same as the middleware's api version. Also, this would be consistent with how the node does it.

[2022-02-11 08:09] thepiwo commented on #518
@davidyuk have you verified the node without mdw would be syncing with that configuration? Genesis block is > 4 years old and I don't know how fast the difficulty adjustment happens. I'd think you are mining already, just not finding a block.

[2022-02-11 14:12] #497 closed

[2022-02-11 14:39] jyeshe commented on #295
In order to avoid heavy loads for very specific cases, the endpoint will check always the result from database table (if does not exist yet returns a 404).

[2022-02-14 09:35] davidyuk commented on #518
Ideally, it shouldn't sync with anything, should mine blocks by interval, middleware endpoints should be in sync with mined blocks, I should be able to provide a genesis account with some coins.

I was planning to connect some aepp to it (to both middleware and node endpoints) to do some testing.

Actually, I didn't. I wouldn't use `include_default_peers` if I am able to change the network id.

[2022-02-14 14:19] jyeshe opened #529 "Use RocksDB direclty without :mnesia"
https://github.com/aeternity/ae_mdw/issues/346#issuecomment-1017769284

[2022-02-15 12:33] jyeshe commented on #513
[code]
134938 out of 135282 ms to dry run the events from the Node

[2022-02-15 12:47] jyeshe commented on #513
The last change on `get_events` was on `txs_until_last_contract_tx` which takes less than 10ms:  {{'Elixir.AeMdw.Contract',txs_until_last_contract_tx,1},  62,    3.588,    0.370},

[2022-02-15 21:50] thepiwo commented on #476
@sborrazas can this be closed?

[2022-02-15 21:51] thepiwo commented on #380
@sborrazas can this be closed?

[2022-02-15 22:07] #476 closed

[2022-02-15 22:07] #380 closed

[2022-02-17 18:27] jyeshe opened #535 "aex9 balance badmatch"
[code]

[2022-02-18 11:51] jyeshe opened #536 "/aex9/by_name internal server error"
[code]

[2022-02-18 13:08] jyeshe commented on #529
## Benchmarking RocksDb vs Mnesia

### Setup
warmup: 2 s
time: 5 s
memory time: 1 s
parallel: 1
Elixir 1.10.4
Erlang 22.3.4.24

### 100 writes
[code]

### 1000 writes
[code]

### 10000 writes
[code]

[2022-02-21 14:28] jyeshe commented on #535
Even though the error is `{:error, "Trying to call undefined function: <<128,36,107,71>>"}` which happens when the `balances()` is not implemented, the `AeMdw.Sync.AsyncTasks.DeriveAex9Presence` is only processed if the contract is an AEX9.
As it fails for some reason unrelated to the Mdw, the error will be logged and the task discarded for this exception.

[2022-02-21 18:34] jyeshe opened #538 "move mdw db to same node db volume/dir"
Move mdw database dir under `/home/aeternity/node/local/rel/aeternity/data/` so that `data` can contain both mnesia (node db) and mdw.db

[2022-02-22 09:16] #538 closed

[2022-02-22 11:38] jyeshe opened #541 "oracle integration test errors"
[code]

[2022-02-23 11:28] jyeshe opened #545 "add pagination to aex9 transfers"
https://mainnet.aeternity.io/mdw/aex9/transfers/from/ak_fCCw1JEkvXdztZxk8FRGNAkvmArhVeow89e64yX4AxbCPrVh5
was giving timeout due to the 45k entries for this sender.

[2022-02-23 17:28] #469 closed

[2022-02-24 11:58] jyeshe commented on #414
This will be resumed after #529

[2022-02-24 13:15] thepiwo commented on #414
I didn't see this behaviour any more

[2022-02-24 18:14] jyeshe commented on #414
I wanted to do some profiling after full RocksDB migration but better close it when reopen if any leak is found. Thank you!
Closed by #390

[2022-02-24 18:14] #414 closed

[2022-02-26 13:19] #545 closed

[2022-02-28 08:34] jyeshe commented on #545
@ifaouibadi this might be something that interest you.

Motivated by this big number of transfers of certain wallets, we've added pagination to `/aex9/transfers/*` sorted by txi (`:backward` or `:forward`). It's available on `/v2` and the default (`/v1`) is also sorted now by txi (but only `:forward` with same json response without pagination).

thank you for pointing out @marc0olo

[2022-02-28 13:23] jyeshe opened #557 "negative active names stats"
[code]

[2022-02-28 13:25] marc0olo commented on #557
@jyeshe why is this an issue? as far as I understood this is a delta stats endpoint now.

we should consider renaming the property. but from my interpretation this means that 5 names expired on that height. is that correct?

[2022-02-28 13:29] jyeshe commented on #557
exactly @marc0olo , I think we could change the names in /v2 and bring new values like names_inactivated/names_expired and names_activated, or something similar to differentiate the transitions.

[2022-02-28 13:37] marc0olo commented on #557
agree they should be more meaningful. the current naming reflects global stats which aren't served over this endpoint anymore.

maybe we should even rename the endpoint to `delta-stats` or `deltastats` in `v2`. for the naming of the attributes I propose:
- `names_activated`
- `auctions_started`
- `oracles_registered`
- `names_expired`
- `oracles_expired`
- `contracts_created`

for `/v1` I don't kn

[2022-02-28 14:17] thepiwo commented on #536
only on testnet, still under investigation

[2022-02-28 14:21] jyeshe commented on #557
Both suggestions were accepted @marc0olo , I am going to work on it.

[2022-03-02 13:42] sborrazas commented on #179
This is done and will be deployed on the next release.

[2022-03-04 09:10] #557 closed

[2022-03-04 09:19] jyeshe opened #565 "endpoint errors when direction scope is not passed"
https://mainnet.aeternity.io/mdw/txs
https://mainnet.aeternity.io/mdw/txs?direction=forward&type=channel_create&limit=1
https://mainnet.aeternity.io/mdw/v2/blocks

On the second, direction is a param so default scope is not being detected.

This task must include increased test coverage.

[2022-03-04 09:22] jyeshe opened #566 "automated readme navigator"

[2022-03-04 09:26] thepiwo commented on #566
implemented in https://github.com/aeternity/ae_mdw/pull/567

[2022-03-04 09:28] thepiwo opened #568 "fix readme example routes"
working routes 37
not working routes 42

[code]

[2022-03-04 09:31] thepiwo commented on #568
@sborrazas is this just a bug in our routes parsing?

[2022-03-04 10:19] sborrazas commented on #568
@thepiwo where these routes actually deployed to mainnet? These are all new routes from the latests PRs

[2022-03-04 10:22] thepiwo commented on #568
but that means we do breaking changes for the non v2 routes?

[2022-03-04 10:22] thepiwo commented on #568
[code]

[2022-03-04 10:28] sborrazas commented on #568
@thepiwo those `/mdw/txs` routes were updated to be used with `v2` but the `/v2` prefix wasn't added to them. I've now fixed that in #569.

`v1` routes are supposed to be `/txs/:direction`
`v2` routes are supposed to be `/v2/txs?direction=<direction>`

[2022-03-04 10:29] thepiwo commented on #568
okay, so its just the documentation incorrect?

checked against updated master version

[code]

[2022-03-04 10:40] thepiwo commented on #568
what are the correct routes for those? according to the docs that should work

https://mainnet.test.aeternity.art/mdw/v2/names?owned_by=ak_25BWMx4An9mmQJNPSwJisiENek3bAGadze31Eetj4K4JJC8VQN

and

https://mainnet.test.aeternity.art/mdw/v2/stats?direction=forward

[2022-03-08 08:42] quantum0hound opened #572 "contracts/calls route not working"
https://mainnet.aeternity.io/mdw/contracts/calls?contract_id=ct_BX8hjuPqVcRV9fkQfbWw8JHAw9KXM1ERZRUu8CAWShCaCP7jp
returns:
`{"data":[],"next":null}`

and logs request return valid result:
https://mainnet.aeternity.io/mdw/contracts/logs?contract_id=ct_BX8hjuPqVcRV9fkQfbWw8JHAw9KXM1ERZRUu8CAWShCaCP7jp

[2022-03-08 12:47] #482 closed

[2022-03-09 15:29] #295 closed

[2022-03-11 15:28] jyeshe opened #581 "strip / on next cursor"
From the log:
2022-03-11 15:22:55.795 [info] GET ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////txs/gen/570051-569913

This happens when another / is prepended to the existing one in the next cursor.

[2022-03-11 16:08] jyeshe commented on #572
works for this:
https://mainnet.aeternity.io/mdw/contracts/calls?contract_id=ct_vxg1raPbxkboAdxmSMBzEczZgSXT2Vueu238MPydd9iSntN5G

[2022-03-11 16:08] jyeshe commented on #572
`ct_BX8hjuPqVcRV9fkQfbWw8JHAw9KXM1ERZRUu8CAWShCaCP7jp` is peculiar in the sense it was compiled with 6.1.0:
https://mainnet.aeternity.io/mdw/txs/forward?type=contract_create&contract=ct_BX8hjuPqVcRV9fkQfbWw8JHAw9KXM1ERZRUu8CAWShCaCP7jp

[2022-03-11 16:11] marc0olo commented on #572
if it is related to the compiler version this is a serious thing as I expect all future contracts to be compiled with the latest version

[2022-03-12 06:44] quantum0hound commented on #572
Thanks, the contract was compiled using https://studio.aepps.com/, will use txs route

[2022-03-12 06:44] #572 closed

[2022-03-14 08:48] jyeshe commented on #572
@quantum0hound @marc0olo the path of the endpoint is not so clear but it returns only the internal calls as defined by:
"A running contract can call other functions during execution. These calls are recorded and can be queried later."

For calls to contract methods please continue using the `/txs` route:
https://mainnet.aeternity.io/mdw/txs/forward?type=contract_call&contract=ct_BX8hjuPqVcRV9fkQfb

[2022-03-14 11:38] jyeshe commented on #388
Sync is not waiting for the migrations:
[code]

[2022-03-14 16:55] jyeshe opened #586 "testnet contract not found on 1.7"
[code]

[2022-03-15 10:43] #388 closed

[2022-03-16 16:35] thepiwo commented on #586
its the same issue as https://github.com/aeternity/ae_mdw/issues/536, right @sborrazas

[2022-03-16 21:11] jyeshe commented on #536
[25855475](https://testnet.aeternity.io/mdw/txi/25855475) is a contract call that creates `ct_MW1jv3erANqbwLxncgdD15GuHTQpppRpgPq51ntgE97V6Wx8G`

[code]

[2022-03-16 21:16] jyeshe commented on #586
#536 involves other contract but might have the same root cause.

[2022-03-16 21:21] jyeshe commented on #536
Affects also [/aex9/by_contract/](https://testnet.aeternity.io/mdw/aex9/by_contract/ct_MW1jv3erANqbwLxncgdD15GuHTQpppRpgPq51ntgE97V6Wx8G)

[2022-03-17 00:44] jyeshe opened #591 "/aex9/by_contract fails for child contracts"
[/aex9/by_contract/ct_MW1jv3erANqbwLxncgdD15GuHTQpppRpgPq51ntgE97V6Wx8G](https://testnet.aeternity.io/mdw/aex9/by_contract/ct_MW1jv3erANqbwLxncgdD15GuHTQpppRpgPq51ntgE97V6Wx8G) fails while works for:
[/aex9/by_contract/ct_dBfWvqUNJtoX7KsWVtSny3u7knYp8gd3W16iw6pkKFohjJq9k](https://testnet.aeternity.io/mdw/aex9/by_contract/ct_dBfWvqUNJtoX7KsWVtSny3u7knYp8gd3W16iw6pkKFohjJq9k)

_Originally posted by

[2022-03-18 14:19] thepiwo opened #595 "include unit test coverage number in ci"

[2022-03-18 14:20] thepiwo opened #596 "migrate existing integration tests as unit tests where possible (increase unit test coverage)"

[2022-03-22 08:46] jyeshe commented on #595
As most of the test cases are integration/system tests, the unit test (`mix test`) coverage is still very small:

Local result:
[code]

[2022-03-22 08:49] thepiwo commented on #595
good to have some numbers, with system test do you mean the ones that don't require sync?

[2022-03-22 10:35] sborrazas commented on #565
`v1` never had a [`/txs`](https://github.com/aeternity/ae_mdw/blob/c8e8646c85414b0b27298d937c4868f582b83dde/lib/ae_mdw_web/router.ex#L66) or [`/blocks`](https://github.com/aeternity/ae_mdw/blob/c8e8646c85414b0b27298d937c4868f582b83dde/lib/ae_mdw_web/router.ex#L54) route that didn't include the direction (`/txs/forward`) or the scope (`/txs/gen/0-100`), so I don't think this is a bug or a feature t

[2022-03-22 11:08] jyeshe commented on #595
After the merge of #594, it will be possible to have system tests for both sync testing and endpoint testing with an empty database.

[2022-03-23 00:08] jyeshe commented on #565
It was somehow in the README and caused an error on the automated requests. The [v2/blocks](https://mainnet.aeternity.io/mdw/v2/blocks) have been fixed at some point from 1.6.1 to 1.7.1 but I think supporting `/blocks` and `/txs` without scope would cause no harm (with the benefit of making the endpoint easier to use). Renamed the PR from `fix` to `feat` though.

[2022-03-23 14:26] jyeshe commented on #565
Not an issue.

[2022-03-23 14:26] #565 closed

[2022-03-26 11:13] jyeshe opened #604 "/names/active fails on getting pointers"
![image](https://user-images.githubusercontent.com/44991200/160236889-a5c93f7c-19b1-43c7-98f3-82bfd2e981db.png)

With this `Stream.take_while` change it passes:
[code]

But Collection.stream/4 should be fixed.

[2022-03-26 15:15] sborrazas commented on #604
@jyeshe not sure what you mean. What's broken about `Collection.stream/4`, it looks good to me?

What appears to be broken is that an AENS.update internal event transaction doesn't have an associated aens_update transaction belonging to that name

[2022-03-28 09:50] jyeshe opened #607 "remove node hooks for mdw database tables"
The Node calls these hooks:
https://github.com/aeternity/aeternity/blob/73cd75d9093a33c71950856f12a40afeb4e49af3/apps/aecore/src/aec_db.erl#L1195
https://github.com/aeternity/aeternity/blob/73cd75d9093a33c71950856f12a40afeb4e49af3/apps/aecore/src/aec_db.erl#L1223

After completing the migration to RocksDb, in regards to the Mdw database, the `AeMdw.Db.Setup` could be removed along with these calls

[2022-03-28 10:32] jyeshe commented on #596
Migrate this:
[code]

[2022-03-28 15:22] jyeshe commented on #513
@thepiwo I think we could close this. It took 3 days to sync testnet instead of a week as before.
The main bottlenecks are in loading the blocks and dry-running the events from the Node.

[2022-03-28 15:35] #513 closed

[2022-03-29 11:32] jyeshe commented on #404
Corrupted database:
[code]

[2022-03-29 12:24] #529 closed

[2022-03-30 14:31] jyeshe opened #615 "aex9 balance not available"
[code]

[2022-03-30 14:31] jyeshe commented on #615
The mutation is created:
[code]

[2022-03-31 18:14] jyeshe commented on #541
Not an issue

[2022-03-31 18:14] #541 closed

[2022-04-01 07:19] jyeshe commented on #586
Fully synced with 1.7.1

[2022-04-01 07:19] #586 closed

[2022-04-01 10:33] #607 closed

[2022-04-04 17:47] jyeshe commented on #396
The expiration of the name was 84923 but it was revoked at `{{34923, 2}, 602473}` so its InactiveNameExpiration is `{34923, "pppkkk.test"}`.

It's not a bug but the name of the table can be improved (or documented) once it's used to save the height of deactivation.

[2022-04-04 17:59] jyeshe commented on #396
At least since April 30 the `InactiveNameExpiration` also has the revoke height:
https://github.com/aeternity/ae_mdw/blob/07361e8469fa836650cf3071ff051ba60892fb9b/lib/ae_mdw/db/sync/name.ex#L157

[2022-04-04 20:50] #536 closed

[2022-04-05 14:50] #396 closed

[2022-04-06 17:11] jyeshe opened #625 "cached aex9 balance gets negative"
The contract `ct_BwJcRRa7jTAvkpzc2D16tJzHMGCJurtJMUBtyyfGi2QjPuMVv` has two accounts with negative balance.

This is a big contract with more than 40k accounts.

[2022-04-07 07:03] #615 closed

[2022-04-08 14:22] thepiwo opened #629 "Plan support AEX 141 (NFT)"
In Review Standard proposal:
https://github.com/aeternity/AEXs/issues/141

First plan support, how do we do the integration, what endpoints will be needed? First use-case would be the explorer I'd imagine.

@marc0olo can you provide some input from your experience?
@jyeshe do you wish to support that from MDW side?

[2022-04-08 14:23] jyeshe commented on #629
Definitely yes @thepiwo !

[2022-04-08 14:27] marc0olo commented on #629
let me think about that in detail and come back to this. cannot wait to see that coming! =)

maybe @zkvonsnarkenstein also wants to provide some requirements addressing the API

I also invite @the-icarus to provide feedback here :)

[2022-04-08 17:23] jyeshe commented on #625
@thepiwo at top height it's not negative, Monday I need to check for the height when it was cached.

[2022-04-11 18:01] #595 closed

[2022-04-12 11:47] marc0olo commented on #629
what I think we should have from functional perspective is:
- search for an NFT contract by name included in meta_info
- get all holders of a specific NFT contract (+ providing the ID's the holder owns)
- get all NFT contracts
- all NFTs owned by a specific account
   - for all NFT contracts
   - for a specific NFT contract
- transfer history
   - all transfers of a specific NFT contract
   - all

[2022-04-12 15:08] jyeshe commented on #629
This gives a north to start implementing the basic structure on what needs to be stored and retrieved. Thanks a lot @marc0olo

[2022-04-13 13:36] #625 closed

[2022-04-14 09:57] jyeshe opened #634 "index child aex9 contracts published on event logs"
No match of right hand side value: {27053726, "TestAEX9-A", "TAEX9-A", 18}

Testnet:
[lib/ae_mdw_web/views/aex9_view.ex](https://testnet.test.aeternity.art/mdw/aex9/balances/account/ak_M9h2ZcCyLdeC63otLTNdaBjQKKSQgEsNDAmL18uw3yHaT6zef)

[code]

[2022-04-14 10:01] jyeshe commented on #634
AEX9 implementation needs a thorough review for all endpoints specially in regards to child contracts.

Now with RocksDB, it's possible to implement test cases covering the variations of contracts and balances.

[2022-04-14 10:10] marc0olo commented on #516
@venimus you recently said we can now publish a docker image, right? is this published already? is the process automated?

[2022-04-14 10:14] marc0olo commented on #397
@jyeshe are you sure this is solved? seems like we still have the problem in `v1.7.3` on testnet:

- https://explorer.testnet.aeternity.io/account/ak_23J54nHLucRppnKd4ZrnTJ4ZmF2wDUWfCHum6c7KgQWkFybPsb
- https://explorer.testnet.aeternity.io/contracts/transactions/ct_DQ8hzApwEt7d8JKQuXwKVbCLu9jp2pH2865VGoGU664c8ax4p

cc @janmichek

[2022-04-14 10:17] jyeshe commented on #397
The solution was prior to child contracts support. We will need a matrix with all possibilities and a test case for each one of them.

[2022-04-14 10:23] marc0olo commented on #397
this is definitely an important topic as we're working on the GA MultiSig. can we prioritize that?

[2022-04-14 10:25] jyeshe commented on #397
An example of the feature implemented:
https://mainnet.aeternity.io/mdw/txs/forward?contract=ct_Be5LcGEN2SgZh2kSvf3LqZuawN94kn77iNy5off5UfgzbiNv4
Returns a tx with type `GAAttachTx`

[2022-04-14 10:36] jyeshe commented on #397
Also working on testnet for the

Working on Mdw side:
https://testnet.aeternity.io/mdw/txs/forward?contract=ct_DQ8hzApwEt7d8JKQuXwKVbCLu9jp2pH2865VGoGU664c8ax4p

[2022-04-14 10:38] janmichek commented on #397
Hi, just attaching one of the links, where it should suppose to work.
https://explorer.testnet.aeternity.io/account/ak_23J54nHLucRppnKd4ZrnTJ4ZmF2wDUWfCHum6c7KgQWkFybPsb
![obrazek](https://user-images.githubusercontent.com/15363559/163371812-edba4610-39eb-44d8-b7d8-175fdd19f191.png)

[2022-04-14 10:41] jyeshe commented on #397
@janmichek @marc0olo passing the account also works:
https://testnet.aeternity.io/mdw/txs/forward?account=ak_23J54nHLucRppnKd4ZrnTJ4ZmF2wDUWfCHum6c7KgQWkFybPsb

[2022-04-14 10:48] jyeshe commented on #397
Closing as both endpoints works on mdw:
https://testnet.aeternity.io/mdw/txs/forward?account=ak_23J54nHLucRppnKd4ZrnTJ4ZmF2wDUWfCHum6c7KgQWkFybPsb
https://testnet.aeternity.io/mdw/txs/forward?contract=ct_DQ8hzApwEt7d8JKQuXwKVbCLu9jp2pH2865VGoGU664c8ax4p

[2022-04-14 10:48] #397 closed

[2022-04-15 10:42] jyeshe commented on #634
For `/aex9/balances/account//ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy`
no match of right hand side value: {26664041, "MaxToken", "MT", 0}

Missing contract for txi 26191797 on balance entry:
[code]

[2022-04-15 17:43] sborrazas opened #635 "500 error when displaying some contract call txs"
Sample URL: https://testnet.aeternity.io/mdw/txs/backward?type_group=contract

[2022-04-17 09:16] Lfh2msn opened #638 "How does Websocket stay long?"
WSS does not have a heartbeat mechanism, can't send ping, and receive pong. How to confirm disconnect? How to keep a long connection?

[2022-04-19 11:39] #635 closed

[2022-04-19 14:47] #634 closed

[2022-04-20 16:39] jyeshe opened #644 "allow indexation of contract call to GA contract"
After a `ga_attach_tx` the contract was supposed to be interacted with a ga_meta_tx and by the logs a contract_call_tx was used instead
** (RuntimeError) Origin {:contract, <<140, 157, 25, 14, 207, 165, 186, 185, 134, 137, 124, 240, 115, 184, 150, 207, 120, 194, 63, 30, 122, 72, 46, 122, 95, 72, 151, 151, 229, 104, 168, 68>>} not found

This is associated with this GaAttachTx https://testnet.aeter

[2022-04-21 13:29] #644 closed

[2022-04-22 14:11] #596 closed

[2022-04-26 11:08] jyeshe opened #653 "aex9 :not_present error on `balances_for_hash` gets balances for some hashes and each contract"
[code]

[2022-04-26 11:08] jyeshe commented on #653
As part of new tests iterating throughout all existing aex9 contract pubkeys.

[2022-04-26 11:19] jyeshe commented on #653
Not an issue: `ct_1DtebWK23btGPEnfiH3fxppd34S75uUryo5yGmb938Dx9Nyjt` did not exist yet at the tested hashes.

[2022-04-26 11:19] #653 closed

[2022-05-03 19:19] thepiwo commented on #638
@sborrazas or @jyeshe can you check?

[2022-05-03 19:19] thepiwo opened #661 "ensure rocksdb migrations are run (in docker)"
Running 1.9.0 (pre-release) from a db backup created with 1.7.2 doesn't seem to run the migrations. `AeMdw.Database.all_keys(AeMdw.Db.Model.Migrations)` returns `[]`

[2022-05-03 19:22] thepiwo commented on #629
As discussed in our last call, it will be good not to make a proprietary support for AEX 141, as we did for AEX 9, but as the inner workings are similar on how we can index that data find a shared approach to reuse our AEX 9 infrastructure.

[2022-05-04 10:36] #661 closed

[2022-05-04 16:12] pstachel opened #666 "Add sorting by name length (`name.length`) and bid (`info.last_bid.tx.name_fee`) to `names/auctions`"

[2022-05-04 16:14] pstachel commented on #666
Will allow to solve [this](https://github.com/aeternity/superhero-wallet/issues/1400) issue

[2022-05-04 21:04] sborrazas commented on #195
Additionally, we need to build the docker image using [Elixir releases](https://hexdocs.pm/mix/Mix.Tasks.Release.html) which will leave out the overhead from downloading the libraries repos. It will also optimize the image for faster startup.

[2022-05-06 08:21] thepiwo commented on #666
@sborrazas @jyeshe I think adding the additional field will be simple to do, right? For `name.lenght` sorting I don't know if thats possible easily.

[2022-05-10 07:39] thepiwo opened #672 "Websocket Expose Remote Contract Call"
@bogdan-manole noted that we should expose remote contract calls in websockets, when listening to the remote contract

[2022-05-10 07:40] thepiwo opened #673 "Document new Index and Endpoint creation"
There should be documentation, how to create a new index and endpoint for custom data

[2022-05-10 07:40] thepiwo commented on #124
@venimus what additional stats would you want to see exposed?

[2022-05-10 07:41] thepiwo commented on #124
@sborrazas @jyeshe can you verify and eventually update above checkmarks if that is what we actually expose?

[2022-05-10 07:46] thepiwo opened #674 "Improve Swagger File"
- [ ] Consider Referencing the swagger file of the node for datastructures as proposed by @davidyuk
- [x] have .info.version in swagger file equal to middleware version https://github.com/aeternity/ae_mdw/issues/525
- [x] Page parameter is documented in Swagger, but not working actually https://github.com/aeternity/ae_mdw/issues/512
- [x] Wrong maximum of limit parameter of get_all_auctions method

[2022-05-10 07:47] thepiwo commented on #525
closing in favour of general swagger improvements issue

[2022-05-10 07:47] #525 closed

[2022-05-10 07:47] thepiwo commented on #512
closing in favour of general swagger improvements issue

[2022-05-10 07:47] #512 closed

[2022-05-10 07:47] thepiwo commented on #511
closing in favour of general swagger improvements issue

[2022-05-10 07:47] #511 closed

[2022-05-10 07:47] thepiwo commented on #509
closing in favour of general swagger improvements issue

[2022-05-10 07:47] thepiwo commented on #508
closing in favour of general swagger improvements issue

[2022-05-10 07:47] #508 closed

[2022-05-10 07:47] thepiwo commented on #503
closing in favour of general swagger improvements issue

[2022-05-10 07:47] #503 closed

[2022-05-10 07:48] thepiwo commented on #189
closing in favour of general swagger improvements issue

[2022-05-10 07:48] #189 closed

[2022-05-10 07:48] thepiwo commented on #160
closing in favour of general swagger improvements issue

[2022-05-10 07:48] #160 closed

[2022-05-10 07:48] thepiwo commented on #108
closing in favour of general swagger improvements issue

[2022-05-10 07:48] #108 closed

[2022-05-10 07:48] thepiwo commented on #98
closing in favour of general swagger improvements issue

[2022-05-10 07:48] #98 closed

[2022-05-18 11:21] jyeshe opened #684 "Handle error on /aex9/by_contract when contract doesn't exist"
Using a testnet contract on mainnet (unexisting one) causes:
[code]

[2022-05-20 12:36] #684 closed

[2022-05-20 14:44] sborrazas commented on #179
This change will break SDK/wallet usage, for we're reverting it for now.

Ultimately a new swagger file containing all v2 operations and operation name updates will be created.

[2022-05-20 14:45] sborrazas commented on #674
Additionally, we're going to need to version the swagger file as well. As discussed, this can be done using two separate yaml files for specifying each version API, removing the need for the automated phoenix/swagger elixir library.

[2022-05-23 14:27] sborrazas opened #693 "Contract logs on testnet fails"
Visiting https://testnet.test.aeternity.art/mdw/v2/contracts/logs?limit=1 causes an error when formatting the response

![Screenshot from 2022-05-23 11-27-35](https://user-images.githubusercontent.com/750314/169842045-7b052173-76db-4ee8-a784-44b530cdab9a.png)

[2022-05-23 17:00] jyeshe commented on #308
Not obtained through dry-running:
[code]

This was the contract call made with a remote call:
https://testnet.test.aeternity.art/mdw/txs/forward?contract=ct_2b9KuBQVFnJnFgqSUX39HKeRS1jwFMKFaowoFXZpc6GguQm379&type=contract_call

using these simple contracts:
[code]
[code]

[2022-05-24 16:03] jyeshe commented on #629
Contract successfully deployed: NFT (missing *approve* methods)
owner : [ak_2WAgvMCvx3dxD5oz2y7UNdBDaJdpRGer3BLvrLxDNzDcG8XN3n](https://explorer.testnet.aeternity.io/account/transactions/ak_2WAgvMCvx3dxD5oz2y7UNdBDaJdpRGer3BLvrLxDNzDcG8XN3n)
transaction : [th_2gbrM64bADfawGnnPgCwCKHES3Wyc1sHyTbVtiJo3Yg7KSJca8](https://explorer.testnet.aeternity.io/transactions/th_2gbrM64bADfawGnnPgCwCKHES3Wyc1sHyT

[2022-05-27 13:23] #693 closed

[2022-05-30 12:48] jyeshe commented on #674
Set the correct limit parameter for all endpoints

[2022-06-02 08:28] #420 closed

[2022-06-03 16:32] jyeshe commented on #629
From Sophia [features] (https://aeternity.com/aesophia/v6.1.0/sophia_features/) docs:
[code]

By the description above and the error message, the `bool` field is being implicitly considered as indexed.

The name of the event doesn't count because this works:
`Approval(indexed address, indexed address, indexed int)`

[2022-06-07 09:09] jyeshe opened #707 "aex9 account balances ignores the block hash (since 1.0.6)"
The blockhash parameter is not used to call the contract balance:
https://github.com/aeternity/ae_mdw/blob/5f322d11fd6f7120238cfd8537f69b872f5da845/lib/ae_mdw_web/controllers/aex9_controller.ex#L201

Endpoint: `get "/aex9/balances/hash/:blockhash/account/:account_id"`

Version: since 1.0.6

[2022-06-07 09:13] jyeshe opened #708 "aex9 account balances ignores the height (since 1.0.6)"
The height parameter is not used to call the contract balance:
https://github.com/aeternity/ae_mdw/blob/5f322d11fd6f7120238cfd8537f69b872f5da845/lib/ae_mdw_web/controllers/aex9_controller.ex#L201

Endpoint: `get "/aex9/balances/gen/:height/account/:account_id"`

Version: since 1.0.6

[2022-06-08 14:18] thepiwo opened #713 "investigate limits for dry running in terms of gas limit"
avoid exploitation of long-running dry-runs

[2022-06-08 20:16] sborrazas opened #714 "/v2/names/search returns an error when no parameters provided"

[2022-06-10 15:04] jyeshe opened #718 "analyse truncating cursor key to limit cursor size"
All cursors built with variable length key should be reviewed (the default Phoenix param limit might be a reference to consider).

[2022-06-10 15:20] jyeshe commented on #718
Analyse specially for AEX-N ... one alternative would be to truncate the name or the symbol before rendering the cursor (`next` iterator would still work)

[2022-06-13 10:28] #714 closed

[2022-06-13 13:59] jyeshe opened #721 "define aexn meta info limits"
AEX9 and AEX141 contracts might have big name or symbol that are returned by `meta_info` method and are stored by the Mdw.

Questions for the requirements refinement:
1. If the `meta_info` dry-run demands more gas than the limit (150% of node base gas for `contract_call_tx`), should the contract be indexed? Currently without `meta_info`, the contract is not indexed as AEX9 or AEX141.
2. Even with

[2022-06-13 14:30] jyeshe commented on #721
@thepiwo @sborrazas as we've discussed the changes will be:
1. The contract is indexed with `meta_info` error flagged.
2. The gas limit is to be reduced to 100% as it allows returning a fair amount of data on dry-run. The name is to be truncated only on the index used for sorting.
3. Same for the symbol.

[2022-06-13 20:35] jyeshe opened #723 "define delay tolerance for aex9 balance update processing"
Please ignore the comment on 1.7.3, my bad. I was remembering about an old discussion on some PR to make the sync back to height bases but it was not on 1.7.3 (very likely to be on an intermediary version before release).

The in memory handling doesn't restore yet the prior behavior which is to be available to run during the same height (per microblock basis).

The DEX use case might be one that

[2022-06-14 13:12] jyeshe commented on #723
@thepiwo this issue depends on your prioritization and analysis because I didn't want to block the PR #676. If it should be part of the PR could you comment there please? If not I would like only to be aware of what will be decided with @sborrazas. If needed I would be glad to help with this part of the implementation for the in-memory handling.

[2022-06-14 18:33] jyeshe commented on #723
Relates to #211

[2022-06-15 06:55] thepiwo commented on #723
I think this can and should be changed to be instant with https://github.com/aeternity/ae_mdw/pull/676, but I'll let @sborrazas have the final word here.

[2022-06-15 13:20] sborrazas commented on #723
Taking into account @jyeshe's edited comment, IIRC the reason for us having asynchronous tasks for indexing aex9 tokens was that executing these contract functions could potentially take too long, regardless of how long it would take to store them on the DB

So I don't think it would be straightforward to actually have aex9 tokens in real-time, but we could have some additional mechanisms and eval

[2022-06-15 18:28] jyeshe commented on #723
The starting point of this issue was just to raise a flag that if the we have a release with the PR as is, the aex9 balance update would wait always at least 10 heights to run. Let's talk when I get back.

[2022-06-16 15:54] thepiwo opened #725 "all transactions for account endpoint"
make an endpoiint that returns all tranactions for one account
 - aex 9
 - aex 141
 - internal transfers (name fee, ...)
 - token migration tokens
 - function calls (Chain.spend)
 - native transactions

 with both plain tx that has that information, as well as

[2022-06-16 15:54] thepiwo commented on #725
(cc @CedrikNikita )

[2022-06-21 02:28] jyeshe commented on #723
you're welcome for the reminder (: otherwise the release would have delayed aex9 results (moving away from the instantaneous goal)

[2022-06-22 08:42] #721 closed

[2022-06-22 15:55] thepiwo commented on #725
name proposal from @sborrazas activity with different payload fields for different activity types. Paginated, never nested.

[2022-06-22 15:58] thepiwo opened #734 "check endpoints documentation state (swagger vs readme vs not documented)"

[2022-06-22 19:36] CedrikNikita opened #735 "Endpoint `/aex9/balances/account` returning duplicates"
https://testnet.aeternity.io/mdw/aex9/balances/account/ak_2AVeRypSdS4ZosdKWW1C4avWU4eeC2Yq7oP7guBGy8jkxdYVUy
308 entities returned, only 28 of them uniq

[2022-06-24 14:17] thepiwo commented on #713
@jyeshe can we close this?

[2022-06-24 18:06] jyeshe commented on #713
The lower limit was handled. I will investigate the higher limit.

[2022-06-27 10:07] jyeshe commented on #723
Closing as the goal is confirmed to be [sync AEX-9 transactions instantly](https://github.com/aeternity/ae_mdw/issues/211)

As it's known that the Node takes sometimes more than a minute for big contracts, the goal will be handled through best effort with 1 Mdw instance (until optimization on Node side)

[2022-06-27 10:07] #723 closed

[2022-06-29 09:14] janmichek opened #747 "Add response for `total burned AE`"
- for new explorer stats purposes

[2022-06-29 09:44] janmichek opened #748 "Add State channel stats"
- for purpose of new explorer
- count and locked value

![obrazek](https://user-images.githubusercontent.com/15363559/176406174-b50c5247-b960-476d-bbde-7df527e57928.png)

[2022-06-29 10:11] janmichek commented on #124
@marc0olo @thepiwo I can see some of those checkboxes from initial comment checked, but I cannot see any PRs linked.
Seems like those responses are not documented.
EG: I cannot find any occurrence of `BRI` in docs https://github.com/aeternity/ae_mdw/ however it is checked.
This is kinda confuse to investigate what is the current status

[2022-06-29 10:55] marc0olo commented on #124
@janmichek it's here: https://github.com/aeternity/ae_mdw/#statistics

BRI is the dev reward

[2022-06-29 11:02] #707 closed

[2022-06-29 11:02] #708 closed

[2022-06-29 15:07] jyeshe opened #749 "Run in-memory aex9 tasks asynchronously"
The #730 enables the in-memory aex9 balance update.

It's performed synchronously (with parallel tasks) and with a timeout of 1 second per task (that involves a contract dry-run).

Pending cases to be handled having the instantaneous AEX9 sync requirement in mind:
- Process update for contracts with bigger balances (currently discarded and as a reference `balances` contract dry-run with thousand e

[2022-06-29 19:25] jyeshe commented on #581
not an issue anymore

[2022-06-29 19:25] #581 closed

[2022-06-29 20:29] sborrazas commented on #124
Listing the items here so that I can explain each one of them individually:

- active names count - Accessible via `/v2/totalstats?scope=gen:150000`
- active auctions count - Accessible via `/v2/totalstats?scope=gen:150000`
- active oracles count - Accessible via `/v2/totalstats?scope=gen:150000`
- active contracts count - Accessible via `/v2/totalstats?scope=gen:150000`
- active accounts count (i

[2022-06-29 20:34] sborrazas opened #751 "Expose active accounts count and active generalized accounts count"
refs #124

@marc0olo what would be considered an "active" account?

[2022-06-29 20:38] sborrazas opened #752 "Expose transaction count by type and time period (generations)"
refs #124

We could re-use the existing `/v2/txs/count` endpoint, but include different filters for it:
* `/v2/txs/count?type=spend_tx`
* `/v2/txs/count?id=ak_foobar`
* `/v2/txs/count?scope=gen:100-200`

This requires a new index to be created for types to be indexed.

[2022-06-29 20:40] sborrazas opened #753 "Expose hashrate"
refs #124

@marc0olo I'm assuming this hashrate would be per-generation, would that be right?

If so, this can simply be an attribute added on the `/v2/deltastats` endpoint for each generation

[2022-06-29 20:41] sborrazas opened #754 "Expose AE locked/burned in auctions"
refs #124

[2022-06-29 20:42] sborrazas opened #755 "Expose wealth ordered by account (top 100-500)"
refs #124

[2022-06-29 20:58] marc0olo commented on #753
if possible it would be awesome to have the history about the hashrate per-generation, yeah!

[2022-06-29 21:02] marc0olo commented on #751
IMO accounts that have been seen on the network, meaning not returning a 404 from node 😅 but it's kind of debatable in that sense because you can send AE or AEX-9 tokens to accounts which will then never turn into "active accounts".

I think that's sth. we have to agree upon. what do you think @thepiwo ?

maybe we could even distinguish between those two types:
- passive in existence (never perfor

[2022-06-30 08:03] janmichek opened #758 "Prepare dataset for explorer contract charts"
I think these datasets are not even defined as a task, right?
![obrazek](https://user-images.githubusercontent.com/15363559/176441092-9d22e387-ebf0-4976-9dbd-69002dc2025d.png)

Could we process this to some nice response from endpoint, please?

_Originally posted by @janmichek in https://github.com/aeternity/ae_mdw/issues/124#issuecomment-1169944701_

[2022-06-30 08:04] janmichek commented on #124
Sweet, thanks for going through it and make things cleaner!
I have put the chart dataset request to another issue as it is not really related to this

[2022-06-30 18:28] thepiwo commented on #509
@jyeshe @sborrazas reopened this, maybe we can check if this is actually resolved?

[2022-06-30 20:00] thepiwo commented on #725
## Goal

Expose all "activity" of one account, the consumer of the api wants to know everything that happened to the account, so
we should expose all data we know of.

## Basic Design

- always expose three field
    - enum for what type the "activity" is
    - original transaction it has been included (no nested aggregated data, maybe null if not exposed via transaction)
    - additional informat

[2022-07-01 12:10] #115 closed

[2022-07-01 12:57] jyeshe opened #763 "not syncing from height 0 using node database snapshot"
On a57cf3cc (master), in-memory/last mb sync error when syncing with empty mdw db and node snapshot (1.13):

[code]

[2022-07-01 13:14] sborrazas commented on #725
* I think being able to filter activities by account and scope it to a range of generations would be the most useful feature, because if we want to have **ALL** activities filtered by range then the index that we would need would be an additional (very big) index, and I'm not sure how useful that would be (thousand if not more activities per generation). IMO, for the most part, I think this featur

[2022-07-01 14:21] thepiwo opened #764 "Expose transaction hash everywhere where txi is currently exposed"

[2022-07-01 14:22] thepiwo opened #765 "Consider adress index usage (same as txi)"

[2022-07-01 14:59] thepiwo commented on #725
should also include contract call log event account occurrence

[2022-07-01 18:08] jyeshe commented on #308
WFI

[2022-07-01 21:01] jyeshe commented on #509
![image](https://user-images.githubusercontent.com/44991200/176967192-75b0d054-bd0d-4f1f-9b1b-5301bbfe16ba.png)
the `hash` was added and the `info` prevailed (`/v2/names/{plain_name}` returns `auction` information under `info` when `status` is `"auction"`) swagger v2 is consistent, it has only an "info" property.

[2022-07-03 07:54] thepiwo commented on #509
@jyeshe @davidyuk so this can be closed?

[2022-07-03 07:55] thepiwo commented on #308
@jyeshe waiting for input from me or @sborrazas ? lets discuss in the next call

[2022-07-04 12:10] jyeshe commented on #308
From you (and Node team @thepiwo), it's in same status as we've discussed before.

Complementing with what I have mentioned during another call (but not written), the `:contract_call_tx` has a `call_stack` but it's always empty when retrieving the `tx` with `:aec_db.find_tx_with_location(tx_hash)`.

I also had a look on Node code to try to find a query for that. The FATE VM would have the info in-

[2022-07-04 12:58] jyeshe commented on #509
Hey @davidyuk I think it was fixed under `info` in order to use the same field when the name becomes `active` or `inactive` (without auction). Is this good for you otherwise we might analyze another way on a /v3?

[2022-07-04 18:30] jyeshe opened #770 "Consider forward pagination on alphanum AEX-N endpoints"
On `/v2` the default pagination direction is `backward`. This makes sense for most endpoints/requests as they are somehow time-related through blocks, generations or transaction index (time related responses).

However the endpoints that list AEX-N tokens mainly provide a response sorted by alphanumerical fields from `meta_info` such as `name` and `symbol`. For these requests (`/aex9` and `/aex141

[2022-07-04 19:05] jyeshe commented on #749
* Differentiate on balance endpoints when it is not yet available (pending dry-run) from not existing ones.

[2022-07-04 19:25] sborrazas commented on #763
Fixed in #762

[2022-07-04 19:25] #763 closed

[2022-07-04 19:57] jyeshe opened #771 "Exception on /v1 aex9 balance(s) range when contract was not yet created"
ErlangError at GET /aex9/balance/gen/300620-300629/ct_RDRJC5EySx4TcLtGRWYrXfNgyWzEDzssThJYPd9kdLeS5ECaA/ak_Yc8Lr64xGiBJfm2Jo8RQpR1gwTY8KMqqXk8oWiVC9esG8ce48

Exception:

[code]

[2022-07-04 20:36] jyeshe opened #772 "Duplicated balances on /v1 aex9 account balances"
https://mainnet.test.aeternity.art/mdw/aex9/balances/account/ak_CNcf2oywqbgmVg3FfKdbHQJfB959wrVwqfzSpdWVKZnep7nj4

Returns duplicates of:
[code]

[2022-07-05 06:57] thepiwo commented on #308
Can you ask the core team in slack?

[2022-07-05 10:38] jyeshe commented on #735
To be solved along with https://github.com/aeternity/ae_mdw/issues/459

[2022-07-05 15:04] jyeshe opened #774 "active_auctions total stats differ from staging"
Version: 1.14
Scope: Analyse in-memory sync counting

[code]

[2022-07-05 15:54] sborrazas opened #776 "Error when starting up the app with old RocksDB column families"
Apparently, if old column families belonging to rocksdb aren't deleted you get back the following error:

[code]

I had to add the list of tables back into `Model.contract_tables/0` for the application to start

refs #773

[2022-07-05 16:09] jyeshe commented on #776
@sborrazas When a database is opened in RocksDB, the application needs to inform the list of column families. If the database already exists, one needs to list all tables it contains. As the #773 removed some old tables and all migrations, it requires a sync from scratch for 1.5. One suggestion is to enable the tables locally.

[2022-07-05 17:56] jyeshe commented on #774
Integration test  difference:
[code]

[2022-07-06 08:00] davidyuk commented on #509
Looks so

[2022-07-06 11:44] #509 closed

[2022-07-06 19:09] jyeshe commented on #776
Closing as it was agreed to make a full sync to help validating the last microblock feature.

For future reference, on a release with few changes, `drop_column_family` and/or `destroy_column_family` might be used after a refactoring on the way the Mdw starts in order to open the database with all tables and reopen it cleaned list of tables.

[2022-07-06 19:09] #776 closed

[2022-07-07 14:25] CedrikNikita commented on #725
For the wallet it is also important within such enpoint to have a aex9 related transactions, where the address is a receiver, not only sender.

[2022-07-07 20:08] #735 closed

[2022-07-08 18:38] jyeshe opened #780 "Exception on v1 aex9 blockhash endpoints when contract is not present yet"
Internal server error on https://mainnet.aeternity.io/mdw/aex9/balances/hash/kh_NM2cxdzg6mf4KMFMXw1kAzBJGwFoqiGHQtaKx3DvaAGM5CAkn/ct_RDRJC5EySx4TcLtGRWYrXfNgyWzEDzssThJYPd9kdLeS5ECaA

https://mainnet.aeternity.io/mdw/aex9/balance/hash/kh_NM2cxdzg6mf4KMFMXw1kAzBJGwFoqiGHQtaKx3DvaAGM5CAkn/ct_RDRJC5EySx4TcLtGRWYrXfNgyWzEDzssThJYPd9kdLeS5ECaA/ak_Yc8Lr64xGiBJfm2Jo8RQpR1gwTY8KMqqXk8oWiVC9esG8ce48

Same

[2022-07-11 21:18] #780 closed

[2022-07-12 10:07] #771 closed

[2022-07-18 12:43] sborrazas commented on #764
On #789 we added the parameter `tx_hash=true` to transform tx indexes into tx hashes, but for the v3 version this should start being the default

[2022-07-18 16:57] marc0olo commented on #124
how do we proceed here in terms of creating issues @thepiwo ?

[2022-07-18 17:04] marc0olo commented on #124
this is basically just the balance of account `ak_11111111111111111111111111111111273Yts`

[2022-07-18 17:54] jyeshe opened #794 "investigate if persitent_term writes a state made of 10 generations with maximum contract txs"
Within iEx without any other app loaded, `persistent_term.put` raises an error that causes a crash:
[code]

[2022-07-20 14:35] sborrazas opened #797 "Display mdw syncing time per generation as debugging information"
This could perhaps be done using a debug endpoint under `/debug`, but further investigation is required

[2022-07-27 17:57] thepiwo opened #808 "Expose in-memory data instantly in websockets"
type "mdw" should be sent as soon as the data would be available to query using the http api

user flow is
1. receive "mdw" type websocket event
2. optionally query http api for more data regarding event

[2022-07-29 20:25] thepiwo commented on #347
so to summarize we need to add the accounts for both testnet (uat) and mainnet (no suffix).

from
https://github.com/aeternity/aeternity/tree/master/data/aecore/.genesis
https://github.com/aeternity/aeternity/tree/master/data/aecore/.minerva
https://github.com/aeternity/aeternity/tree/master/data/aecore/.fortuna

for
https://github.com/aeternity/aeternity/tree/master/data/aecore/.lima
as well the

[2022-08-01 14:53] thepiwo commented on #516
for tags and master branch (maybe even better release-branches, with rc tag)

[2022-08-01 15:55] thepiwo commented on #518
confirmed this is still an issue with this config

[code]

running `docker-compose up --build`

[2022-08-01 15:56] thepiwo commented on #638
@sborrazas can we close this?

[2022-08-01 15:56] thepiwo commented on #672
probably we should expose all events, internal calls, tranfers, basically everything the mdw indexes

[2022-08-01 15:57] thepiwo commented on #713
@jyeshe is this still open?

[2022-08-01 15:57] thepiwo commented on #629
@jyeshe can you summarize the latest state here?

[2022-08-01 15:57] thepiwo commented on #568
@sborrazas can we close this?

[2022-08-01 15:58] sborrazas commented on #638
Yes indeed, closing

[2022-08-01 15:58] #638 closed

[2022-08-01 19:47] thepiwo commented on #517
@sborrazas @jyeshe any thoughts on that?

[2022-08-01 19:47] thepiwo commented on #448
@jyeshe any update on this?

[2022-08-01 19:47] thepiwo commented on #410
@sborrazas can we close this?

[2022-08-01 19:48] thepiwo commented on #404
@jyeshe any update on this?

[2022-08-01 19:48] thepiwo commented on #386
@sborrazas @jyeshe any update on this?

[2022-08-01 19:49] thepiwo commented on #346
@sborrazas @jyeshe I feel our speed is still the same, but for very different reasons, should we re-investigate?

[2022-08-01 19:49] #410 closed

[2022-08-01 19:50] #328 closed

[2022-08-01 19:50] thepiwo commented on #328
a lot of cases have been investigated and fixed

[2022-08-01 19:51] thepiwo commented on #314
maybe very similar to #725 but different scope

[2022-08-01 19:51] thepiwo commented on #314
@sborrazas what do you think?

[2022-08-01 19:51] sborrazas commented on #346
@thepiwo we should start tracking syncing time and syncing time per gen to be able to start comparing the time it takes. Perhaps we can work on #797 instead and close this one?

[2022-08-01 19:52] thepiwo commented on #308
@jyeshe was there any update on this? maybe I forgot what you already told me

[2022-08-01 19:52] thepiwo commented on #273
can't remember what exactly we wanted to improve

[2022-08-01 19:52] #273 closed

[2022-08-01 19:53] sborrazas commented on #314
@thepiwo I'd close this one in favor of #725. An account is a more general concept of a contract

[2022-08-01 19:53] thepiwo commented on #211
relates to #749, should we close one or the other @sborrazas @jyeshe ?

[2022-08-01 19:54] thepiwo commented on #203
@venimus if this is already done can we add a link in the readme

[2022-08-01 19:54] thepiwo commented on #200
@sborrazas @jyeshe any thoughts on this, discussed with @jyeshe he maybe wants to take this in the future

[2022-08-01 19:59] thepiwo commented on #183
@sborrazas @jyeshe did you have any thoughts on this?

[2022-08-01 20:04] thepiwo opened #816 "Automatically deploy release candidates to a sync test staging environment"
1. any release branch should be automatically deployed and synced, there a backchannel for errors or exposure of logs would be helpful, if a new commit is pushed then the sync should probably be restarted so we can find issues early (TBD)
2. any tagged release should be sync tested from 0 to top  a backchannel for errors or exposure of logs as well as creation of a db snapshot once finished would

[2022-08-01 20:06] thepiwo commented on #346
agree

[2022-08-01 20:06] #346 closed

[2022-08-01 20:07] thepiwo commented on #725
as previously discussed in #314 this should probably also be able to filter for contracts and all their information

[2022-08-01 20:07] #314 closed

[2022-08-01 20:08] sborrazas commented on #183
I believe the naming of things and the way URLs are built is consistent with the names [from here](https://api-docs.aeternity.io/). Perhaps the only difference would be  the one listed here:`/transactions` in the node and `/txs` in mdw, we can change that easily for v2-v3

[2022-08-03 00:50] marc0olo commented on #629
keep in mind the standard has been updated (as well as the examples) -> https://github.com/aeternity/aex141-examples

[2022-08-03 08:43] jyeshe commented on #629
Thank you for the notification @marc0olo .

@thepiwo the fix on the standard regarding the `Approval` event won't impact the work done so far. Some signature checking gonna be reviewed for the change on `metadata` type. After adjusting to this, the feature status will be:

[x] search for an NFT contract by name included in meta_info
[ ] get all holders of a specific NFT contract (+ providing the I

[2022-08-03 13:43] jyeshe commented on #211
If a best effort approach with a single machine is not considered enough, I would leave it separate because depending on the size of the queue and frequency of updates, in order to get faster results it might be needed to have some cluster dedicated to dry-running.

[2022-08-03 13:49] jyeshe commented on #308
The best that could be exposed for now considering the info available on the Node would be the remote calls whenever there is value transferred (an internal spend_tx). Otherwise no event is generated and there is no call stack for it. Let me check if we would have the name of the called functions of the contracts.

[2022-08-03 18:15] thepiwo commented on #211
so I'll close this in favour of the other task, if we come up with a new approach we can still make a new issue

[2022-08-03 18:15] #211 closed

[2022-08-03 18:23] thepiwo opened #821 "Add stat for tps"
in per blocks stats add a transactions per second number

[2022-08-03 18:23] thepiwo commented on #124
https://github.com/aeternity/ae_mdw/issues/821

[2022-08-03 18:25] marc0olo commented on #821
oh yeah - we also plan to track the max. value right?

[2022-08-03 18:30] thepiwo commented on #821
sounds good to me (cc @sborrazas )

[2022-08-04 05:51] thepiwo commented on #748
in regards to stats #124

[2022-08-04 05:55] thepiwo opened #823 "Expose State Channels explicitly"
we should have an api that returns state channel information per channel aggregated

![image](https://user-images.githubusercontent.com/6539235/182773283-cf2c17fa-307b-41da-9366-29a0c66bde45.png)

(@janmichek )

[2022-08-04 08:11] janmichek opened #824 "Add TPS to stats"
in regards to stats https://github.com/aeternity/ae_mdw/issues/124
Discussed here https://devchat.aeternity.com/channel/middleware?msg=hNHQTuRv3qMM2nNKM
TPS appears on https://www.aeknow.org/

[2022-08-04 08:16] janmichek commented on #124
- [ ] Expose TPS https://github.com/aeternity/ae_mdw/issues/824

[2022-08-04 17:29] sborrazas commented on #179
Getting names owned by a user is no longer a separate swagger operation. Now it simply uses the regular `/v2/names` route filtered by owned_by (e.g. `/v2/names?owned_by=ak_...`). So this operation rename no longer applies. Should we close it @davidyuk ?

[2022-08-04 19:27] thepiwo commented on #824
closin this in favour of already created issue #821

[2022-08-04 19:27] #824 closed

[2022-08-05 17:29] sborrazas commented on #821
Since we only need the max, we're good enough if we add a new endpoint tracking these sort of values:
[code]

[2022-08-05 18:13] marc0olo commented on #124
love to see the progress here :)

can you checkmark the tasks which are done in my comment? @thepiwo @sborrazas @jyeshe

[2022-08-05 18:21] sborrazas commented on #748
In order to get the all the channels activity you can use the following filter of the /v2/txs endpoint:
[code]

In order to get a list of the channels created (sorted by last) you can also filter by the specific channel create tx:
[code]

And if you want to filter all transactions done to a specific channel you can do:
[code]

@janmichek would we still need a list of all channels filtered by some

[2022-08-05 18:25] sborrazas commented on #124
@marc0olo I've updated the checkboxes above with the new updates. These would be the endpoints that are needed still:

1. active accounts count (including GA) - not existing, new feature issue should be created
2. generalized accounts count - not existing, new feature issue should be created
3. total miners - not existing, new feature issue should be created
4. total reward per miner - not existin

[2022-08-05 18:32] marc0olo commented on #124
will sync with @thepiwo when I am back. otherwise I trust him to select the right order ;-)

from my current view miner info is not that important as we have AEknow. but at some point we should also be able to access this data

[2022-08-05 19:59] thepiwo commented on #821
@sborrazas can we also expose at what block that was recoded there?

[2022-08-05 20:01] thepiwo commented on #124
sounds very good to me

[2022-08-05 20:02] thepiwo commented on #124
importance order for me would be 1. 5. 3. 4. 6. 7. 2.

[2022-08-05 20:02] sborrazas commented on #821
will do!
[code]

[2022-08-05 20:04] thepiwo commented on #821
very nice

[2022-08-08 12:42] jyeshe commented on #629
Metadata was validated with 3 possibilities (definitions of metadata in 3 different contracts):

a. `datatype metadata = Map(string, string)`
b. `datatype metadata = String(string)`
c. `datatype metadata = String(string) | Map(string, string)`

using the BasicNFT with this change: https://github.com/aeternity/aex141-examples/pull/8

[2022-08-08 15:24] janmichek commented on #821
Looks good. I just think that the correct URL should be.

`http://mainnet.aeternity.io/mdw/v2/totalstats` ?

 Just adding a new attribute should do the work. Or is it necessary to have a new endpoint?

[2022-08-08 15:38] janmichek commented on #821
Got it. Thanks for explanation!

[2022-08-08 15:39] sborrazas commented on #748
@janmichek those examples I sent are only if you want to know the latest activity for a specific channel or the latest channel creations. If you want to know the total open channels traversing through them wouldn't be feasable/scalable. We would need to add a new endpoint.

My question was more directed towards understanding what you would need from these new endpoints? e.g. just the number of tot

[2022-08-08 15:45] janmichek commented on #748
I think we want to use here some global stats
`number of total open` and  `current AE locked value`
Right? @thepiwo @marc0olo

Later we will need similar values per channel https://github.com/aeternity/ae_mdw/issues/823

[2022-08-08 18:12] thepiwo commented on #748
@janmichek those we would probably want "per block" so we can eventually graph them, not just the latest info

[2022-08-08 18:13] marc0olo commented on #748
@sborrazas I would have to double check - maybe @janmichek and @thepiwo can provide more clarity. but I guess we also have a view where we wanna show a chart which shows the total value locked (AE) over time

[2022-08-09 08:53] janmichek commented on #748
In future, we might view it per block.
But for me now, to complete the Info tiles feature I just need total stats.
Just these two numbers would fulfill my requirements .]

 https://master-explorer.prd.aepps.com/
![obrazek](https://user-images.githubusercontent.com/15363559/183607499-203174c8-02f8-4891-91f6-94d4345c865a.png)

I suggest going step by step and to create another Issue for this, as thi

[2022-08-09 09:36] janmichek opened #831 "Calculate experation time on backend?"
Helllo! here I want to propose functionality that I think might belong to backend.
Its about displaying time values in human-readable format, not just blocks.

In order to get this value
![obrazek](https://user-images.githubusercontent.com/15363559/183615077-588b3633-a122-481c-a689-339b9e989725.png)

...i have to do daisy chaining of two async calls on frontend. For this, I think that is a good op

[2022-08-09 14:20] davidyuk commented on #179
I think so, thank you!

[2022-08-09 14:20] #179 closed

[2022-08-11 21:35] sborrazas opened #837 "Log channels internal transfers"
Right now we're only logging internal transfers for names/oracles.

Channels creations/deposits/withdrawals/closings should also be indexed as an internal transfer and displays on the `/transfers` endpoint

[2022-08-12 11:59] jyeshe commented on #749
From #818 notes:
- Keep the sorting while enqueuing with State
- Allow enqueuing tasks to rerun if it's in processing state
- Avoid rerunning the tasks during in-memory sync by detecting invalidations outside of the task
- After 3, cache next hashes in a way to avoid walking through the blocks repeatedly for every task call.

[2022-08-12 13:36] thepiwo opened #839 "Improve dry-run speed for getting AEX-9 balances"
Just a reminder for now

@jyeshe can you add some numbers, whats the worst case contract, whats number of accounts, execution speed, gas used?

[2022-08-12 14:05] #347 closed

[2022-08-12 15:10] jyeshe commented on #816
If possible to make the sync restart optional after a commit it would be great for minor or endpoint fixes. For the tagged versions I liked the idea. It would nice to have access to a grafana dashboard like yours (: applied to this new staging env. A final request would be to have a way to generate snaphots on demand so that we can go quickly to a certain height state synced with a specific versio

[2022-08-12 15:27] sborrazas commented on #816
I agree with @jyeshe, not all releases are going to need it. We could use perhaps github tags to specify whether we want to run it or not.

[2022-08-12 15:33] venimus commented on #816
I think the major issue with backups and resync is that these require a lot of resources I tried with some smaller (cheaper) instances before but sync takes forever (like weeks). So if we want to maintain multiple releases in parallel that could be a problem. Also snapshots are huge and it would take hours to make and upload, meanwhile the snapshotted node should be down, meaning we can not simply

[2022-08-12 15:55] sborrazas commented on #816
@venimus I agree that implementing this workflow might be complicated indeed. Perhaps we can start incrementally, like you said, really simple.

How would you suggest we should start out then?

[2022-08-13 18:40] marc0olo commented on #629
@jyeshe can you make sure the README is up to date? e.g. I am missing the endpoint / usage for getting the NFTs owned by a specific account there right now which is marked as done already

[2022-08-13 18:41] marc0olo commented on #629
just for the record -> I adapted your proposed changes in the aex-141 examples repo to follow the record type like defined in the standard definition: https://github.com/aeternity/aex141-examples/pull/9

[2022-08-15 08:47] jyeshe commented on #629
Thanks @marc0olo. Regarding the order of meta info fields, unfortunately the Mdw doesn't have the info to do it unless the source code is parsed or a swap on name and symbol indexation is accepted. However accepting any order with this possible swap would bring benefit by listing the contract as an NFT contract (and the user would have the info to adapt to it looking at the meta info). Should it b

[2022-08-15 14:07] thepiwo opened #842 "Discuss documentation of "full resync" need for PRs/Releases"

[2022-08-15 14:09] thepiwo commented on #842
Also Document "Expected Migration Time"

[2022-08-16 11:46] sborrazas opened #844 "Expose miners info on stats endpoint"
refs #124

Stats we should display:
total miners - not existing, new feature issue should be created
A global stat display on the new `/v2/stat` endpoint

total reward per miner - not existing, new feature issue should be created
A new endpoint `/v2/minerstats` which will display the list of miners with the total reward of each

[2022-08-16 14:19] jyeshe commented on #839
### Setup common for all calls:

1. Mdw and Node sync turned off.
2. Dry-running params:

[code]

### Command

`:aec_dry_run.dry_run(block_hash, accounts, txs, tx_events: false)`

### Contracts
- `ct_M9yohHgcLjhpp1Z8SaA1UTmRMQzR4FWjJHajGga8KBoZTEPwC`
  - num accounts = 45315
  - timings (microsecs)
    - 86112302
    - 84127361
    - 86411018

- `ct_BwJcRRa7jTAvkpzc2D16tJzHMGCJurtJMUBtyyfGi2QjPuMV

[2022-08-16 14:25] jyeshe commented on #839
All tests were performed with the Mdw processing no endpoint request.

When the dry-run is executed in parallel for both contracts it takes 15 seconds more and if the Mdw sync is turned on around 35 more from base timings.

[2022-08-16 17:32] jyeshe commented on #713
@piwo with this PR I think this would be solved. It won't match yet the maximum number of entries of balance present on a Ethereum contract but that also tends to change a lot too. Before the Node RocksDB refactor is done, I believe it would be a reasonable gas value.

[2022-08-17 11:18] sborrazas opened #846 "Include fees rewards as part of the internal transfers the miners receive"
These rewards calculated from the fees aren't being logged anywhere right now

This is how all rewards are calculated:
[code]

[2022-08-17 14:44] jyeshe opened #847 "Sorting meta info fields for AEX-n contract validation"
## Problem

From Sophia programmer perspective, the order fields of a record wouldn't make difference on the type but for the Mdw if the `symbol` definition comes before the `name` it makes a difference because the when calling a contract it doesn't return the field names, only the values.

This affects somehow also if a contract is properly indexed or not (after identified as compliant to a stand

[2022-08-17 14:50] marc0olo commented on #847
we're also discussing the general requirement to provide source code of contracts in order to be indexed by the mdw. this would solve that problem and we'd be able to parse the fields of a `record`.

also we wouldn't have to index all the spam shit out there and encourage everybody to open source their code

[2022-08-17 14:51] marc0olo commented on #847
also for contract verification we have to think about how this information should be provided. probably the same way like the http compiler expects it to be provided

[2022-08-18 08:02] thepiwo opened #849 "Indicate processing state"
Ideas:
 - indicate e.g. when last update happened, especially when we know there is a pending async tasks to update this data.

[2022-08-19 08:02] jyeshe commented on #849
It would be helpful to have a monitoring endpoint with detailed data of pending tasks listing:
- the contracts and the blocks over which the task will run
- if it's running (in processing state) and for how long

[2022-08-22 14:11] thepiwo commented on #765
maybe also relates to #725

[2022-08-22 17:24] jyeshe opened #860 "index and return tx info for v1 aex9 account balance on a block(hash)"
After fixing the legacy endpoint to work with the hash, multiple account presences for the same contract and account pair are needed in order to get the tx info.

[2022-08-23 16:10] jyeshe commented on #713
Closed by #845

[2022-08-23 16:10] #713 closed

[2022-08-23 16:47] sborrazas commented on #846
This issue wasn't needed after all, we're already logging all block rewards (from block and from transactions). There's usually 3 block rewards per generation:
* 2 rewards for the [tx fees + governance](https://github.com/aeternity/protocol/blob/master/consensus/bitcoin-ng.md#rewards) which appear after 180 and 181 generations
* The dev reward

It's important to notice as well that if the 2 block

[2022-08-23 16:47] #846 closed

[2022-08-24 07:26] thepiwo opened #863 "incorrect name expiration"
this single name expiration on mainnet seems to be incorrectly indexed, didn't find any other cases like that

https://mainnet.aeternity.io/mdw/names?by=expiration&direction=backward&limit=1

[code]

[2022-08-24 07:29] thepiwo opened #864 "incorrect expiration ordering"
the ordering for expiration doesn't seem consistent, e.g. here there

https://mainnet.aeternity.io/mdw/names/active?by=expiration&direction=forward&limit=10

![image](https://user-images.githubusercontent.com/6539235/186357639-e8bcde47-4449-490b-a5b9-61cf92fa5a14.png)

[2022-08-24 11:16] thepiwo commented on #864
my bad, all is right here

[2022-08-24 11:16] #864 closed

[2022-08-25 08:16] jyeshe opened #869 "total_pending async stat is not decremented to 0 (intermittent)"
While there are no tasks neither on pending or processing state, the `total_pending` counter doesn't display 0 tasks.

To be deleted from processing state it needs to execute also `Database.dirty_delete(Model.AsyncTask, task_index)` using the same `task_index`

[2022-08-25 08:59] jyeshe opened #870 "investigate websocket integration test errors"
Run with mainnet-1.18.0.tar.gz and main_backup_v1_full_latest.tar.zst
[code]

[2022-08-25 15:11] sborrazas commented on #748
@janmichek this is now on production and accessible via https://mainnet.aeternity.io/mdw/v2/totalstats

[2022-08-25 15:11] #748 closed

[2022-08-25 21:33] marc0olo commented on #823
@sborrazas @jyeshe @janmichek @thepiwo

we should make sure that we can serve the data of following two screens. if mdw shouldn't be responsible for everything displayed there we have to find alternative solutions to display accordingly:

# State Channels

## General View
![image](https://user-images.githubusercontent.com/8124114/186772656-4d117944-6ab2-4a67-93cf-172da6d08af0.png)

## Detail View

[2022-08-26 15:17] thepiwo opened #873 "Microblock ordering"
https://mainnet.aeternity.io/mdw/blocks/28437

exposes the microblocks as object, thus the ordering coming from https://mainnet.aeternity.io/v3/generations/height/28437 is lost
can we either add some index attribute or think of another way to enable a consumer to restore the correct order implicitly (without iterating prev)

[2022-08-26 15:49] thepiwo commented on #873
its already fixed in v2 https://mainnet.aeternity.io/mdw/v2/blocks?scope=gen:28437-28437

[2022-08-27 10:46] marc0olo commented on #629
introduced `mapped_metadata` extension proposal, deployed at `ct_Fv9d66QTjr4yon9GEuMRc2B5y7Afy4to1ATaoYmpUTbN6DYiP` with (hopefully) meaningful metadata ;-)

also there were new changes, the interface now looks as follows:

[code]

see full example repository here:
- https://github.com/aeternity/aex141-nft-collection-example

[2022-08-29 06:01] profaneequinox03 commented on #873
#629

[2022-08-29 06:02] profaneequinox03 opened #875 "Get the latest version"
Have to be able to work efficiently with my team and have them ready for our meeting next Monday

[2022-08-29 06:46] marc0olo commented on #873
what do you want to say with that? the support of AEX-141 has nothing to do with the microblock ordering 😅

[2022-08-29 06:48] marc0olo commented on #875
context is missing here. what exactly do you need? what's your team? are you participating in the hackathon?

are you talking about #629 that you mentioned in #873?

[2022-08-29 09:11] janmichek commented on #823
Thanks for summing things up.

Just to clarify it...

Data requested AT this issue is meant to be displayed them on the dashboard.
https://aeternity-blockchain.atlassian.net/browse/EX-75

Data grouped by time meant to be display on State Channels subpage that will be implemented later (not for the first release)
https://aeternity-blockchain.atlassian.net/browse/EX-121

[2022-08-29 09:16] marc0olo commented on #823
yes, I just wanted to let you know that I think it'd be cool to focus on the state channel area as soon as possible as we aim to release the state channel demo in the near future :-)

[2022-08-29 09:30] janmichek commented on #823
No probs... matter of prioritization

[2022-08-29 09:54] thepiwo commented on #823
@sborrazas can you check?

[2022-08-29 10:34] sborrazas commented on #823
The two things that aren't directly accessible via the mdw API are:
1. Accounts with most open/active channels
2. The "Balanced locked over time", which can only be accessed by getting the full list of channel txs for that channel right now

For both of these features we would need to add an additional index and endpoint. Since there isn't many txs per chanel right now we can solve 2. by simply ac

[2022-08-29 10:44] #747 closed

[2022-08-29 10:44] marc0olo commented on #823
in general I don't expect many on-chain actions per channel.

yes, as long there is no on-chain tx to close a specific channel the channel is kept open and an account can have many different open channel with different counterparties

[2022-08-29 10:45] janmichek commented on #831
What u think about this? @thepiwo ?

[2022-08-29 10:48] marc0olo commented on #831
couldn't we improve that with data store? do I understand right that we currently call the node API for each row just to calculate the approximate time?

[2022-08-29 10:53] janmichek commented on #831
Yes its called per every row. For this, I think Its better job to achieve this on backend

[2022-08-29 10:55] janmichek commented on #831
Here
https://github.com/aeternity/explorer-frontend/blob/685ecdd118b8d2dab97474480a48ac3ad3da9e6a/src/components/AuctionsPanel.vue#L89

and here
https://github.com/aeternity/explorer-frontend/blob/685ecdd118b8d2dab97474480a48ac3ad3da9e6a/src/components/NamesPanel.vue#L83

[2022-08-29 11:05] sborrazas commented on #823
@marc0olo what does it mean for an account to have a channel? That the account is an "initiator" for that channel? Or a responder as well?

As for the general view, I realized we're going to need 1 more endpoint as well to describe the full list of open channels

[2022-08-29 11:13] marc0olo commented on #823
`OpenChannelTx` is only valid if initiator and responder provide a valid signature. I will let @velzevur and @Kalovelo confirm this.

so from my interpretation it'd be valid for both, responder and initiator, as they agree on "opening" a channel ;-)

[2022-08-30 08:47] #873 closed

[2022-08-30 12:43] thepiwo commented on #875
feel free to reopen if this is an actual issue or feature request

[2022-08-30 12:43] #875 closed

[2022-08-30 14:03] janmichek commented on #748
Hello, thanks for preparing the API. Here I just wanted to verify - it's not named explicitly as we have in design - so

![obrazek](https://user-images.githubusercontent.com/15363559/187457126-cad0f2a7-6cc0-409c-921f-8c9b052dd65b.png)

`On-Chain Updates` is a `Nonce`?

![obrazek](https://user-images.githubusercontent.com/15363559/187457655-13f70d0f-6931-47ed-b129-d0951c8be92a.png)

[2022-08-30 14:08] marc0olo commented on #748
`nonce` is the nonce used by `from_id` in this case if I am correct. irrelevant in this case.

from what I can see in the screenshot the amount of on-chain updates is missing

[2022-08-30 14:13] sborrazas commented on #748
This issue was about exposing channels locked AE + amount of open channels, as per the requirement here https://github.com/aeternity/ae_mdw/issues/748#issuecomment-1209101734

We should move this discussion to #823 .

What we need is an endpoint exposing all of the open channels with the data shown in that table. That's what I'm working on right now

[2022-08-30 14:15] marc0olo commented on #748
was about to comment that. thanks for clarifying @sborrazas :-)

[2022-08-30 15:50] marc0olo opened #880 "re-consider stats for burned Æ"
you're right we could have 3 values returned by mdw:
- `pending` / `locked` (AE locked in auctions)
- `burned_in_auctions`
- `total_burned` (balance of `ak_11111111111111111111111111111111273Yts`)

difference `total_burned` - `burned_in_auctions` would be the Æ sent by somebody to the burn address independent of AENS

I'd actually like to see that 🤔

_Originally posted by @marc0olo in https://gith

[2022-08-31 06:11] thepiwo opened #881 "Non-exposed balance change"
`ak_24jcHLTZQfsou7NvomRJ1hKEnjyNqbYSq2Az7DmyrAyUHPq8uR` changes balance on mainnet between height 34454 and 34455 but we don't seem to expose that currently

https://mainnet.aeternity.io/v3/accounts/ak_24jcHLTZQfsou7NvomRJ1hKEnjyNqbYSq2Az7DmyrAyUHPq8uR/height/34454
https://mainnet.aeternity.io/v3/accounts/ak_24jcHLTZQfsou7NvomRJ1hKEnjyNqbYSq2Az7DmyrAyUHPq8uR/height/34455

[2022-08-31 15:22] sborrazas opened #885 "Update node version to 6.6+"
This will require updating erlang/OTP together with elixir and the necessary dependencies

[2022-08-31 15:23] sborrazas opened #886 "Handle new v6.6+ events coming from a dry-run"
Requires #885

New events list:
[code]

[2022-08-31 15:32] thepiwo commented on #885
we also have #200 maybe we can try to update to latest elixir?

[2022-08-31 15:32] thepiwo commented on #885
I don't see any otp23 elixir images, how would we handle that? https://hub.docker.com/_/elixir

[2022-08-31 15:37] sborrazas commented on #885
Docker image [`elixir:1.11`](https://github.com/erlef/docker-elixir/blob/master/1.11/Dockerfile) uses [`erlang:23`](https://github.com/erlang/docker-erlang-otp/blob/master/23/Dockerfile) so we should probably go with that one.

feel free to close either GH issue, since it's a duplicate

[2022-08-31 17:24] #863 closed

[2022-09-01 12:14] thepiwo commented on #885
lets keep it as two separate ones, just to keep in mind its distinct things but probably closed by the same PR

[2022-09-01 15:01] thepiwo opened #888 "Improve unpaginated micro-blocks performance in /v2/blocks"

[2022-09-01 15:09] sborrazas commented on #888
Taking into account the info the explorer displays we should return the following info in these new endpoints (pseudo-JSON):

### GET /v3/blocks (paginated)
[code]

### GET /v3/blocks/1
[code]

### GET /v3/blocks/1/microblocks (paginated)
[code]

### GET /v3/blocks/1/microblocks/0
[code]

Thoughts?

[2022-09-01 15:11] thepiwo commented on #888
generally sounds good, lets check the overlap with core provided apis to not duplicate them to much

[2022-09-01 15:39] sborrazas commented on #888
It would basically end up being what the node returns + the counts. These counts would be the added value provided by the mdw

[2022-09-02 17:58] sborrazas commented on #888
Following the [Node API Docs](https://api-docs.aeternity.io/) naming we should implement the following endpoints:

* `GET /generations`
* `GET /generations/:kbi_or_hash`
* `GET /generations/:kbi_or_hash/micro-blocks`
* `GET /generations/:kbi_or_hash/micro-blocks/:mbi_or_hash`
* `GET /generations/:kbi_or_hash/micro-blocks/:mbi_or_hash/txs`

Optionally, we can also include
* `GET /micro-blocks/:hash

[2022-09-02 21:01] thepiwo commented on #888
@sborrazas why not just `/key-blocks` and `/micro-blocks`